﻿<tr>
    <td style="text-align: center;">
        <img alt="" title="" style="width: 170px;" src="{{imgAgency}}" />
    </td>
    <td style="font-size: 9pt; width: 170px; text-align: left; vertical-align: bottom;">        
        <span style="font-size: 11pt;"><b>{{txtAgencyName}}</b></span>
        <br />
        <span>{{txtUserName}}</span>
        <br />
        <span>{{txtAgencyTel}}</span>
        <br />
        <span>{{txtEmail}}</span>
        <br />
        <span>{{txtDateTime}}</span>
        <br />
        <span>Created {{txtCreatedBy}}</span>        
    </td>
</tr>