﻿<table class="resCustGridCss" cellpadding="0" cellspacing="0" width="900px;">
  <tr class="header">    
	  <td style="width: 30px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>&nbsp;</strong></td>
	  <td style="width: 75px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustTitle"}]</strong></td>
	  <td style="width: 178px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustSurname"}]</strong></td>
	  <td style="width: 128px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustName"}]</strong></td>
	  <td style="width: 80px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustBirthDate"}]<br />{"dateFormatRegion"}</strong></td>
	  <td style="width: 35px; text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustAge"}]</strong></td>	      
	  <td style="width: 125px;text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustCitizenship"}]</strong></td>
	  <td style="width: 40px;text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustLeader"}]</strong></td>
    <td style="width: 40px;text-align: center; font-size: 85%;" class="ui-widget-header"><strong>[{"MakeReservation","resCustPass"}]</strong></div>
    <td style="text-align: center; font-size: 85%;" class="ui-widget-header"><strong>#</strong></td>
  </tr>
  {loop
  <tr class="row">    
    <td style="width: 30px;"><span id='iSeqNo[]'>{"SeqNo"}</span><input id='iPhone[]' type='hidden' value='{"Phone"}' /></td>
    <td style="width: 75px;"><select id='iTitle[]' style="width: 100%;">{"Title"}</select></td>
    <td style="width: 178px;"><input id='iSurname[]' type='text' maxLength='30' value='{"Surname"}' style="width: 100%;" onkeypress="return isNonUniCodeChar(event);" /></td>
    <td style="width: 128px;"><input id='iName[]' type='text' maxLength='30' value='{"Name"}' style="width: 100%;" onkeypress="return isNonUniCodeChar(event);" /></td>
    <td style="width: 80px;"><input id='iBirthDay[]' type='text' maxLength='10' onBlur="return SetAge([], '{"ResDate"}', '{"dateFormat"}')" value='{"BirtDay"}' class='formatDate' style="width: 100%;" /></td>
    <td style="width: 35px;"><input id='iAge[]' type='text' maxLength='2' readonly='true' value='{"Age"}' style="width: 100%;" disabled="disabled" /></td>
    <td style="width: 125px;"><select id='iNation[]' style="width: 100%;">{"Nation"}</select></td>    
    <td style="width: 40px;"><input id='iLeader[]' {"LeaderCheck"} type='radio' name='Leader' value='{[]}' /></td>
    <td style="width: 40px;"><input id='iHasPassport[]' {"PassportCheck"} type='checkbox' name='HasPassport' value='{[]}' /></td>    
    <td>
      <div style="width:156px;">
        <div style="float:left; width:32%; text-align:center;">
          <img onclick='searchCust({[]});' alt='[{"MakeReservation","searchCustLabel"}]' title='[{"MakeReservation","searchCustLabel"}]' src="Images/search16.png" />
        </div>
        <div style="float:left; width:32%; text-align:center;">
          <img onclick='showCustAddress({[]});' alt='[{"MakeReservation","lblCustomerAddress"}]' title='[{"MakeReservation","lblCustomerAddress"}]' src="Images/address.gif" />
        </div>        
      </div>
    </td>
  </tr>
  <tr class="row">    
    <td colspan="9" align="right" class="Price"><h3>[{"MakeReservation","lblPerPerson"}]&nbsp;:&nbsp;{"ppPasPayable"}&nbsp;{"SaleCur"}</h3></td>
  </tr>
  loop}
</table>