﻿<div class="wrapper">
    <!--header-->
    <div class="header">
        <div class="paximum-logo">            
        </div>
        <div class="score-con">
            <div class="score-box">
                <span>{{Raiting}}</span>
                <span class="rew">Hotel Score</span>
            </div>
        </div>
    </div>
    <!--header-->
    <!--Hotel infos-->
    <div class="content">
        <div class="hotel-photo">
            <img src="{{HotelImageUrl}}" alt="hotel Photo" />
        </div>
        <div class="hotel-name ml-10">
            {{HotelName}}
        </div>
        <div class="stars star3">
            <img src="Images/HotelStars/{{StarStr}}Stars.png" height="22" alt="" />
        </div>
        <div class="hotel-loc">
            {{HotelLocation}}
        </div>
        <div class="hotel-desc">
            {{Description}}
        </div>
    </div>
    <!--Hotel infos-->

    <!--Hotel Images-->

    <!--Hotel Images-->

    <!--Hotel Desription &  Facalities-->
    <div class="simpleTabs">
        <ul class="simpleTabsNavigation">
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Hotel Description</a></li>
        </ul>
        <!--Facilities-->
        <div class="simpleTabsContent">
            {{#Facilities}}
            <div class="well"><i>
                <img alt="" src="Images/well.png" width="10" height="10"></i>{{FacilityName}}</div>
            {{/Facilities}}            
        </div>
        <!--Hotel Description-->
        <div class="simpleTabsContent">
            <div>
                {{#HotelDescription}}
                <h5>{{Title}}</h5>
                <p>{{Description}}</p>
                {{/HotelDescription}}                
            </div>
        </div>
    </div>
</div>
