﻿<div class="hotelHeader ui-helper-clearfix ui-widget">
    <div class="row">
        <div class="hotelImage">
            <img alt="" src="http://media.dev.paximum.com/hotelimages_125x125/{{HotelImgUrl}}" />
        </div>
        <div class="hotelDetail">
            <div class="hotelName">
              <h5>{{HotelName}}&nbsp;&nbsp;<img alt="" src="Images/HotelStars/{{ImageUrl}}Stars.png" height="15" /></h5>            
            </div>
            <div class="hotelLocation">
              <span>{{HotelLocation}} / {{HotelCountry}}</span>
            </div>
            <div class="checkInCheckOut">
              <span>{{CheckIn}} - {{CheckOut}} {{Night}} {{lblNights}}</span>
            </div>            
            <p>{{HotelMedia}}</p>
        </div>
        <div class="totalPrice">
            <span class="amount">{{Price}}</span>&nbsp;<span class="currency">{{Currency}}</span>
            {{#OnRequest}}
            <br /><br />
            <span class="onRequest">{{lblOnRequest}}</span>
            {{/OnRequest}}
        </div>
    </div>
</div>
<div class="offerNote {{#ShowOfferNotes}}ui-helper-hidden{{/ShowOfferNotes}}">
    <div class="hotelHeaderHotelName ui-widget-header">
        {{lblOfferNote}}
    </div>
    <div class="ui-widget hotelOfferNote">
        {{OfferNotes}}    
    </div>
</div>
<div class="ui-widget">
    <div class="hotelHeaderHotelName ui-widget-header">{{lblHotelRooms}}</div>
    {{#HotelRooms}}
    <div class="hotelRooms">
        <div>
            <div class="hotelRoomsRoomNr">
                <strong>{{lblRoom}} {{SeqNo}}</strong>
            </div>
            <div class="hotelRoomsBoardRoomTypes">
                {{lblBoard}}: {{Board}}
                <br />
                {{lblRoomType}}: {{RoomType}}
            </div>
            <div class="hotelRoomsRoomPrice">
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
    {{/HotelRooms}}
</div>
<div class="ui-widget {{#ShowExtras}}ui-helper-hidden{{/ShowExtras}}">
    <div class="hotelHeaderHotelName ui-widget-header">{{lblMandotaryExtraService}}</div>
    <div class="extraHeader header">        
        <div class="extraName">
            <strong>{{lblExtraService}}</strong>
        </div>
        <div class="extraWhenPaid">
            <strong>{{lblWhenToBePaid}}</strong>
        </div>
        <div class="extraPrice">
            <strong>{{lblTotal}}</strong>
        </div>        
    </div>
    {{#ExtraServices}}
    <div class="extra">        
        <div class="extraName">
            <span>{{ExtraService}}</span>
        </div>
        <div class="extraWhenPaid">
            <span>{{WhenToBePaid}}</span>
        </div>
        <div class="extraPrice">
            <span>{{Price}}</span>
        </div>        
    </div>
    {{/ExtraServices}}
</div>
<div class="ui-widget">
    <div class="adultHeader ui-widget-header">{{lblPassengerInformation}}</div>
    {{#Rooms}}
    <div class="resCustGridCss">
        <div class="rooms">{{lblRoom}} {{RoomNr}} - ({{RoomName}})</div>        
        <div class="header ui-widget-header">
            <div class="TitleH">{{lblResCustTitle}}</div>
            <div class="SurnameH">{{lblResCustSurname}}</div>
            <div class="NameH">{{lblResCustName}}</div>
            <div class="BirthDayH {{#ShowBirthDayH}}ui-helper-hidden{{/ShowBirthDayH}}">
                {{lblResCustBirthDate}}<br />({{dateFormatRegion}}}
            </div>
            <div class="LeaderH">{{lblResCustLeader}}</div>
            <div class="NationH">{{lblResCustCitizenship}}</div>
        </div>                
        {{#ResCust}}
            <div class="row">
                <div class="Title">
                    <input id="iSeqNo_{{SeqNo}}" type="hidden" value="{{SeqNo}}"/>
                    <select id='iTitle{{SeqNo}}' name="Title" style="width: 80px;" tabindex="{{SeqNo}}01">
                        <option value="Mr">Mr.</option>                        
                        <option value="Mrs">Mrs.</option>                        
                        <option value="Child">Child.</option>                        
                    </select>
                </div>
                <div class="Surname">
                    <input id='iSurname{{SeqNo}}' type='text' maxlength='30' value='{{Surname}}' tabindex="{{SeqNo}}02" />
                </div>
                <div class="Name">
                    <input id='iName{{SeqNo}}' type='text' maxlength='30' value='{{Name}}' tabindex="{{SeqNo}}03" />
                </div>
                <div class="BirthDay {{#ShowBirthDay}}ui-helper-hidden{{/ShowBirthDay}}">
                    <input id='iBirthDate{{SeqNo}}' type='text' maxlength='10' value='{{BirtDate}}' class='formatDate {{#IsAdult}}ui-helper-hidden{{/IsAdult}}' tabindex="{{SeqNo}}04" />
                </div>
                <div class="Leader">
                    <input id="iLeader{{SeqNo}}" type="radio" {{#isLead}}checked="checked"{{/isLead}} name="Leader" value="{{SeqNo}}" tabindex="{{SeqNo}}11" onclick="leaderChange('{{SeqNo}}');" {{#NotLeader}}disabled="disabled"{{/NotLeader}} />
                </div>
                <div class="Nation">
                    <input disabled="disabled" value="{{NationalityName}}" />
                    <input id="iNationality{{SeqNo}}" type="hidden" value="{{Nationality}}" />
                </div>
            </div>
            <div id="custInfo{{SeqNo}}" name="custInfo" class="ui-helper-clearfix {{#isLead}}ui-helper-hidden{{/isLead}} customerInfo">                
                <div class="contactInfo"><strong>{{lblContactPersonInformation}}</strong></div>
                <div class="email">
                    <div class="emailLabel">{{lblResCustEMail}} :</div><div class="emailInput"><input id="iEmail{{SeqNo}}" type="text" maxlength="100" value='{{Email}}' /></div>
                </div>
                <div class="mobile">
                    <div class="mobileLabel">{{lblResCustMobile}} :</div><div class="mobileInput"><input id="iMobile{{SeqNo}}" type="text" maxlength="30" value='{{MobTel}}' /></div>
                </div>                                    
            </div>
        {{/ResCust}}                    
    </div>
    {{/Rooms}}
</div>
