﻿{{#SearchResultFilter.Requests}}
<div class="ui-helper-hidden">
    <input id="hfHotelCheckIn" type="hidden" value="{{CheckIn}}"/>
    <input id="hfHotelCheckOut" type="hidden" value="{{CheckOut}}"/>    
    <input id="hfHotelNight" type="hidden" value="{{Night}}"/>    
</div>
{{/SearchResultFilter.Requests}}
<div class="resultFilter" id="resultFilterDiv"></div>
<div class="sorting">
    <div class="totalResultCount">{{lblTotalResult}}</div>
    <div class="sortingSelect">{{lblSortBy}} &nbsp;&nbsp;
        <select id="fltSort" onchange="onSortChange()">            
            <option value="name_down">{{lblSortByNameF}}</option>
            <option value="name_up">{{lblSortByNameL}}</option>
            <option value="price_down" selected="selected">{{lblSortByPriceF}}</option>
            <option value="price_up">{{lblSortByPriceL}}</option>
            <option value="raiting_down">{{lblSortByRaitingF}}</option>
            <option value="raiting_up">{{lblSortByRaitingL}}</option>
            <option value="stars_down">{{lblSortByStarsF}}</option>
            <option value="stars_up">{{lblSortByStarsL}}</option>
        </select>
    </div>
</div>
<div id="pageContainer" class="pageContainer">
    <ul>   
        {{#SearchResultFilter.FilterHotels}}
        <li id="tablePrice_{{Id}}" class="PriceTable {{#Parameter1}}odd{{/Parameter1}}">        
            <div class="ui-helper-clearfix hotelGroupHeader">
                <div class="hotelInfo">            
                    <div class="hotelImage">
                        <img alt="" src="{{ReviewUrl}}{{Thumbnail}}" onclick="showReadMore(this,'{{Id}}')" />
                        <div class="specialOffers {{#IsSpecial}}ui-helper-hidden{{/IsSpecial}}">
                            <img alt="" src="Images/specialoffer.png?v=1" onclick="showReadMore(this,'{{Id}}')" />
                        </div>
                    </div>            
                    <div class="hotelInfoDetail">                          
                        <div class="ui-helper-clearfix headerHotelName">
                            <span onclick="showReadMore(this,'{{Id}}')">{{Name}}</span>&nbsp;&nbsp;<span><img title="{{Stars}}" alt="{{Stars}}" src="Images/HotelStars/{{StarStr}}Stars.png" style="height: 15px;"/></span>
                        </div>                
                        <div class="ui-helper-clearfix">
                            <span class="headerHotelLocation">{{CityName}}, {{Country.name}}</span>
                        </div>        
                        <div class="ui-helper-clearfix">
                            <span name="hotelCheckIn" class="headerCheckInOut"></span>&nbsp;-&nbsp;<span name="hotelCheckOut" class="headerCheckInOut"></span>&nbsp;&nbsp;<span name="hotelNight" class="headerNight"></span> <span class="headerNight">{{lblNights}}</span>
                        </div>
                        <div class="headerDescription">{{Description}}<span class="readMore {{#ShowDescription}}ui-helper-hidden{{/ShowDescription}}" onclick="showReadMore(this,'{{Id}}')">{{lblReadMore}}</span></div>
                    </div>
                </div>        
                <div class="bookCell">   
                    <div class="ui-helper-clearfix totalPrice">         
                        <span id="HotelCheckInNightPrice_{{Id}}" class="price" name="totalPrice">{{SelectedPrice.AmountStr}}</span>&nbsp;<span class="currency">{{SelectedPrice.Currency}}</span>
                    </div>
                    <div class="ui-helper-clearfix bookButtonDiv">
                        <div class="rating ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover"><span class="raitingAmount">{{RatingStr}}</span></div>
                        <input onclick="book({{Id}})" id="btnBook_{{Id}}" class="bookButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover"
                            type="button" value="{{lblBook}}" name="btnBook_{{Id}}" {{#IsPriced}}style="display: none; visibility: hidden;"{{/IsPriced}}><br />                        
                    </div>
                </div>
            </div>
            <div class="priceDetail">        
                <div class="roomGroups">
                    <div class="roomAccomPriceHeader ui-widget-header ui-helper-clearfix">                        
                        <div class="SelectedHeader">{{lblSelectRoom}}</div>
                        <div class="RoomNrHeader">{{lblRoomNr}}</div>
                        <div class="RoomHeader">{{lblRoomType}}</div>
                        <div class="BoardHeader">{{lblBoard}}</div>                        
                        <div class="AllotmentHeader">{{lblStatus}}</div>
                        <div class="PriceHeader">{{lblPrice}}</div>    
                        <div class="OfferHeader">
                            &nbsp;
                        </div>                    
                    </div>
                    {{#Offers}}
                    <div class="roomAccomPrice ui-helper-clearfix">
                        <div class="Selected">
                            <input onclick="changeRoomPrice('{{HotelId}}','{{Id}}');" {{#Selected}}checked="checked"{{/Selected}} type="radio" value="{{Id}}" name="{{HotelId}}" price="{{Price.Amount}}" salecur="{{Price.Currency}}" />                            
                        </div>
                        <div class="rooms">
                            {{#Rooms}}
                            <div class="ui-helper-clearfix">
                              <div class="RoomNr">{{SeqNo}}</div>
                              <div class="Room">{{Type}}</div>
                              <div class="Board">{{Board}}</div>
                            </div>
                            {{/Rooms}}
                        </div>
                        <div class="Allotment">{{AvailableMsg}}</div>
                        <div class="Price">{{Price.AmountStr}} {{Price.Currency}}</div>
                        <div class="Offer">
                            {{#IsSpecial}}
                                <img alt="" title="" src="Images/Discount.gif" width="16" height="16" />
                            {{/IsSpecial}}</div>                        
                        </div>
                    {{/Offers}}
                </div>        
            </div>        
        </li>
        {{/SearchResultFilter.FilterHotels}}    
    </ul>    
</div>