﻿<input type="hidden" id="dateMask" value="{{dateMask}}" />
<div class="ui-helper-clearfix header">
    <div class="custSeqNo"><strong>&nbsp;</strong></div>
    <div class="custSelect"><strong>&nbsp;</strong></div>
    <div class="custTitle"><strong>{{lblTitle}}</strong></div>
    <div class="custSurname"><strong>{{lblSurname}}</strong></div>
    <div class="custName"><strong>{{lblName}}</strong></div>
    <div class="custBirthDate"><strong>{{lblBirthDate}}</strong></div>
    <div class="custAge"><strong>{{lblAge}}</strong></div>
    <div class="custNationality"><strong>{{lblNationality}}</strong></div>
    <div class="custPassport"><strong>{{lblPassport}}</strong></div>
    <div class="custLeader"><strong>{{lblLeader}}</strong></div>
    <div class="custPhone"><strong>{{lblPhone}}</strong></div>
    <div class="custOther"><strong>&nbsp;</strong></div>
</div>
{{#Customers}}
<div class="ui-helper-clearfix row {{#oddEven}}oddEven{{/oddEven}}">
    <div class="custSeqNo"><span id="iSeqNo{{SeqNo}}">{{SeqNo}}</span></div>
    <div class="custSelect">
        <input id="Selected{{SeqNo}}" type="checkbox" />
    </div>
    <div class="custTitle">
        <select id="iTitle{{SeqNo}}">
            {{#TitleList}}
            <option value="{{TitleNo}}" {{#thisTitle}}selected="selected"{{/thisTitle}}>{{Code}}</option>
            {{/TitleList}}
        </select>
    </div>
    <div class="custSurname">
        <input id="iSurname{{SeqNo}}" value="{{Surname}}" /></div>
    <div class="custName">
        <input id="iName{{SeqNo}}" value="{{Name}}" /></div>
    <div class="custBirthDate">
      <input id="iBirthDay{{SeqNo}}" value="{{BirthDate}}" class="formatDate" onblur="return setage({{SeqNo}},'{{CheckIn}}', '{{formatDate}}' )" /></div>
    <div class="custAge">
        <input id="iAge{{SeqNo}}" value="{{Age}}" disabled="disabled"/></div>
    <div class="custNationality">
        <select id="iNationality{{SeqNo}}">
            {{#NationalityList}}
            <option value="{{Code3}}" {{#thisNationality}}selected="selected"{{/thisNationality}}>{{Name}}</option>
            {{/NationalityList}}
        </select>
    </div>
    <div class="custPassport">
        <input type="checkbox" id="iPassport{{SeqNo}}" {{#HasPassport}}checked="checked"{{/HasPassport}} />
    </div>
    <div class="custLeader">
      <input type="radio" id="iLeader{{SeqNo}}" name="Leader" {{#Leader}} checked="checked" {{/Leader}} value="{{SeqNo}}" />
    </div>
    <div class="custPhone">
        <input id="iPhone{{SeqNo}}" value="{{Phone}}" /></div>
    <div class="custOther">
        <div id="iOther{{SeqNo}}"><input class="passportScan ui-helper-hidden" type="button" onclick="onclickPassportScanBtn('{{SeqNo}}')" value="Scan"></div>
    </div>
</div>
{{/Customers}}