﻿<div class="ui-helper-clearfix header">
    <div class="srvServiceType"><strong>{{lblServiceType}}</strong></div>
    <div class="srvServiceDesc"><strong>{{lblServiceDesc}}</strong></div>
    <div class="srvCompulsory"><strong>{{lblCompulsory}}</strong></div>
    <div class="srvIncPack"><strong>{{lblIncPack}}</strong></div>
    <div class="srvUnit"><strong>{{lblUnit}}</strong></div>
    <div class="srvPrice"><strong>{{lblPrice}}</strong></div>
</div>
{{#OtherService}}
<div class="ui-helper-clearfix row ">
    <div class="srvServiceType">{{ServiceType}}</div>
    <div class="srvServiceDesc">{{ServiceDesc}}</div>
    <div class="srvCompulsory">{{#Compulsory}}<img alt="" src="Images/accept.gif" />{{/Compulsory}}</div>
    <div class="srvIncPack">{{#IncPack}}<img alt="" src="Images/accept.gif" />{{/IncPack}}</div>
    <div class="srvUnit">{{Unit}}</div>
    <div class="srvPrice">{{Price}}</div>
</div>
{{/OtherService}}