﻿{{#FilterDetails}}
<div class="ui-helper-clearfix Filter">
    <div class="ui-helper-clearfix">
        <div class="FilterResult">
            <strong>{{titleResortList}}</strong><br />
            <select id="rfResort" onchange="filterResult('Resort', this.value);">
                {{#FilterResort}}
                <option value="{{ID}}" {{#Select}} selected="selected" {{/Select}}>{{Name}}</option>
                {{/FilterResort}}
            </select>                                       
        </div>
        <div class="FilterCategory">
            <strong>{{titleCategoryList}}</strong><br />
            <select id="rfCategory" onchange="filterResult('HotCat', this.value);">
                {{#FilterCategory}}
                <option value="{{ID}}" {{#Select}} selected="selected" {{/Select}}>{{Name}}</option>
                {{/FilterCategory}}
            </select>
        </div>
        <div class="FilterHotel">
            <strong>{{titleHotelList}}</strong><br />
            <select id="rfHotel" onchange="filterResult('Hotel', this.value);">
                {{#FilterHotel}}
                <option value="{{ID}}" {{#Select}} selected="selected" {{/Select}}>{{Name}}</option>
                {{/FilterHotel}}
            </select>
        </div>
    </div>
    <div class="ui-helper-clearfix">
        <div class="FilterRoom">
            <strong>{{titleRoomList}}</strong><br>
            <select id="rfRoom" onchange="filterResult('Room', this.value);">
                {{#FilterRoom}}
                <option value="{{ID}}" {{#Select}} selected="selected" {{/Select}}>{{Name}}</option>
                {{/FilterRoom}}
            </select>
        </div>
        <div class="FilterBoard">
            <strong>{{titleBoardList}}</strong><br>
            <select id="rfBoard" onchange="filterResult('Board', this.value);">
                {{#FilterBoard}}
                <option value="{{ID}}" {{#Select}} selected="selected" {{/Select}}>{{Name}}</option>
                {{/FilterBoard}}
            </select>
        </div>
    </div>
</div>
{{/FilterDetails}}
<div class="sorting">
    <div class="totalResultCount">{{lblTotalResult}}</div>
    <div class="sortingSelect">
        {{lblSortBy}} &nbsp;&nbsp;
        <select id="fltSort" onchange="onSortChange()">
            <option value="name_down">{{lblSortByNameF}}</option>
            <option value="name_up">{{lblSortByNameL}}</option>
            <option value="price_down">{{lblSortByPriceF}}</option>
            <option value="price_up">{{lblSortByPriceL}}</option>
        </select>
    </div>
</div>
{{#HotelGroup}}
<div id="PriceGroup_{{HotelGroupID}}" class="ui-helper-clearfix HotelGroup {{#Parameter1}}HotelGroupOddEven{{/Parameter1}}">
    <div class="ui-helper-clearfix PriceHeader">
        <div class="PriceHeaderDetails">
            {{#showHotelImage}}
            <div class="HotelImage">
                <img alt="" src="{{hotelImageUrl}}">
            </div>
            {{/showHotelImage}}
            <div class="HolidayDetails">
                <span class="HotelName"><span onclick="showHotelInfo('{{hotelInfoUrl}}');">{{HotelName}}</span></span><br />
                <span class="HotelLocation">{{HotelLocationName}}</span><br />
                <span class="CheckInOut">{{CheckIn}}</span>&nbsp;-&nbsp;<span class="CheckInOut">{{CheckOut}}</span>&nbsp;&nbsp;<span class="Night">{{Night}}</span><br />
            </div>
        </div>
        <div class="OtherInformation">

        </div>
        <div class="SelectedPriceBook">
            <div id="TotalPrice_{{HotelGroupID}}" class="TotalPrice">{{SelectedPrice}} {{SelectedPriceCur}}</div><br />
            <div class="BookButton">
                <input id="btnBook_{{HotelGroupID}}" name="btnBook_{{HotelGroupID}}" onclick="Book({{HotelGroupID}})" type="button" value="{{lblBookButton}}" />
            </div>
        </div>
    </div>
    <div class="ui-helper-clearfix RoomPriceDetail">
        {{#priceDetail}}
        <div class="MultipleRoomGroup">
            <div class="RoomGroupAccommodationInfo">
                <strong>{{AccomInfo}}</strong>
            </div>
            <div class="ui-helper-clearfix RoomAccomPriceHeader">
                <div class="Select">&nbsp;</div>
                <div class="Allotment"><img alt="" title="" src="Images/freeRoom.gif" /></div>
                <div class="DepFlight"><img alt="" title="" src="Images/depFlight.gif" width="16" height="16" /></div>
                <div class="RetFlight"><img alt="" title="" src="Images/arrFlight.gif" width="16" height="16" /></div>
                <div class="Board">{{lblBoardName}}</div>
                <div class="Room">{{lblRoomName}}</div>
                <div class="Accom">{{lblAccomName}}</div>
                <div class="Price">{{lblPrice}}</div>
                <div class="Offer">&nbsp;</div>
            </div>
            {{#accomPrice}}
            <div class="ui-helper-clearfix RoomAccomPrice {{#priceOddEven}}PriceOddEven{{/priceOddEven}}">
                <div class="Select">
                    <input name="RoomAccomPrice_{{HotelGroupID}}_{{RoomNr}}"
                           onclick="changeRoomPrice({{HotelGroupID}},{{RoomNr}},{{RefNo}});"
                           {{#Selected}} checked="checked" {{/Selected}}
                           type="radio"
                           value="{{RefNo}}"
                           roomno="{{RoomNr}}"
                           stopsalemsg="{{StopSaleMessage}}"
                           stopsale="{{StopSale}}"
                           salecur="{{SaleCur}}"
                           price="{{PriceNoComma}}" />
                </div>
                <div class="Allotment">
                    <span>{{FreeRoom}}</span>
                </div>
                <div class="DepFlight">
                    <span>{{DepFlight}}</span>
                </div>
                <div class="RetFlight">
                    <span>{{RetFlight}}</span>
                </div>
                <div class="Board">
                    <span>{{BoardName}}</span>
                </div>
                <div class="Room">
                    <span>{{RoomName}}</span>
                </div>
                <div class="Accom">
                    <span>{{AccomName}}</span>
                </div>
                <div class="Price">
                    <span>{{SalePrice}} {{SaleCur}}</span>
                </div>
                <div class="Offer">
                    {{#Discount}}
                    <img alt="" title="" src="Images/salehuge.png" />
                    {{/Discount}}
                </div>
            </div>
            {{/accomPrice}}
        </div>
        {{/priceDetail}}
    </div>
</div>
{{/HotelGroup}}
