﻿<div class="ui-helper-clearfix header">
    <div class="srvHotelDescription"><strong>Hotel Description</strong></div>
    <div class="srvHotelCheckIn"><strong>Check In</strong></div>
    <div class="srvHotelCheckOut"><strong>Check Out</strong></div>
    <div class="srvHotelNight"><strong>Night</strong></div>
    <div class="srvHotelUnit"><strong>Unit</strong></div>
</div>
{{#Hotels}}
<div class="ui-helper-clearfix row" >
    <div class="srvHotelDescription">{{Description}}</div>
    <div class="srvHotelCheckIn">{{CheckIn}}</div>
    <div class="srvHotelCheckOut">{{CheckOut}}</div>
    <div class="srvHotelNight">{{Night}}</div>
    <div class="srvHotelUnit">{{Unit}}</div>
</div>
{{/Hotels}}