﻿<div class="ui-helper-clearfix header">
    <div class="srvServiceType"><strong>{{lblServiceType}}</strong></div>
    <div class="srvServiceDesc"><strong>{{lblServiceDesc}}</strong></div>
    <div class="srvCompulsory"><strong>{{lblCompulsory}}</strong></div>
    <div class="srvIncPack"><strong>{{lblIncPack}}</strong></div>
    <div class="srvUnit"><strong>{{lblUnit}}</strong></div>
    <div class="srvPrice"><strong>{{lblPrice}}</strong></div>
    <div class="srvButtons">&nbsp</div>
</div>
{{#OtherService}}
<div class="ui-helper-clearfix row ">
    <div class="srvServiceType">{{ServiceType}}</div>
    <div class="srvServiceDesc ui-helper-clearfix">
      <div class="description">{{ServiceDesc}}</div>
      <select id="VehicleCatID_{{RecId}}" name="VehicleCatID" class="srvVehicle {{#notShowVehicleCatID}}ui-helper-hidden{{/notShowVehicleCatID}}">
        <option value=""></option>
        {{#VehicleCatIDList}}
        <option value="{{ID}}" {{#selected}}selected="selected"{{/selected}}>{{Name}}</option>
        {{/VehicleCatIDList}}
      </select>        
      <input id="VehicleUnit_{{RecId}}" value="{{VehicleUnit}}" class="srvVehicleUnit {{#notShowVehicleCatID}}ui-helper-hidden{{/notShowVehicleCatID}}"/>
    </div>
    <div class="srvCompulsory">{{#Compulsory}}<img alt="" src="Images/accept.gif" />{{/Compulsory}}</div>
    <div class="srvIncPack">{{#IncPack}}<img alt="" src="Images/accept.gif" />{{/IncPack}}</div>
    <div class="srvUnit">{{Unit}}</div>
    <div class="srvPrice">{{Price}}</div>
    <div class="srvButtons">
        <img alt="{{lblEditService}}" title="{{lblEditService}}" src="Images/edit_16.gif" onclick="editResService('{{editServiceUrl}}');" class="{{^hideEditService}}ui-helper-hidden{{/hideEditService}}" />&nbsp;
        <img alt="{{lblCancelService}}" title="{{lblCancelService}}" src="Images/cancel.png" onclick="removeResServiceDialog('{{RecId}}');" class="{{^hideCancelService}}ui-helper-hidden{{/hideCancelService}}" />
    </div>
</div>
{{/OtherService}}