﻿<div class="ui-helper-clearfix header">
    <div class="custHotelRoom">Room#</div>
    <div class="custHotelPassenger"><strong>Passenger</strong></div>        
</div>
{{#Selected}}
<div class="ui-helper-clearfix row">
    <div class="custHotelRoom">{{Code}}</div>
    <div class="custHotelPassenger">{{Name}}</div>    
</div>
{{/Selected}}
<div class="ui-helper-clearfix">
    <span>Pax: {{TotalCust}}</span>
</div>