﻿<div class="ui-helper-clearfix header">
    <div class="srvHotelSeqNo">&nbsp;</div>
    <div class="srvHotelSelect">&nbsp;</div>
    <div class="srvHotelDescription"><strong>Hotel Description</strong></div>
    <div class="srvHotelUnit"><strong>Unit</strong></div>
    <div class="srvHotelCheckIn"><strong>Check In</strong></div>
    <div class="srvHotelCheckOut"><strong>Check Out</strong></div>
    <div class="srvHotelNight"><strong>Night</strong></div>        
</div>
{{#Hotels}}
<div class="ui-helper-clearfix row" onclick="selectHotel('{{Service}}',{{RecID}});">
    <div class="srvHotelSeqNo">{{SeqNo}}</div>
    <div class="srvHotelSelect"><img name="selected" id="selected_{{RecID}}" src="Images/nochecked_16.gif" alt="" /></div>
    <div class="srvHotelDescription">{{Description}}</div>
    <div class="srvHotelUnit">{{Unit}}</div>
    <div class="srvHotelCheckIn">{{CheckIn}}</div>
    <div class="srvHotelCheckOut">{{CheckOut}}</div>
    <div class="srvHotelNight">{{Night}}</div>    
</div>
{{/Hotels}}