﻿<div class="ui-helper-clearfix header">
    <div class="custHotelRoomSelect">Room Nr</div>
    <div class="custHotelRoomCustNo"><strong>Cust No</strong></div>    
    <div class="custHotelRoomTitle"><strong>Title</strong></div>
    <div class="custHotelRoomSurname"><strong>Surname</strong></div>
    <div class="custHotelRoomName"><strong>Name</strong></div>    
    <div class="custHotelRoomBirthDate"><strong>Birth Date</strong></div>    
</div>
{{#HotelRoomCust}}
<div class="ui-helper-clearfix row"">
    <div class="custHotelRoomSelect">
        <select id="custRoom_{{CustNo}}">
            {{#CustRoom}}
            <option value="{{RoomNo}}" {{#selectRoom}}selected="selected"{{/selectRoom}}>{{RoomDescription}}</option>
            {{/CustRoom}}
        </select>
    </div>
    <div class="custHotelRoomCustNo">{{CustNo}}</div>
    <div class="custHotelRoomTitle">
        <select id="custTitle_{{CustNo}}">
            {{#CustTitle}}
            <option value="{{TitleNo}}" {{#selectTitle}}selected="selected"{{/selectTitle}}>{{TitleName}}</option>
            {{/CustTitle}}
        </select>
    </div>
    <div class="custHotelRoomSurname"><input id="custSurname_{{CustNo}}" value="{{Surname}}" /></div>
    <div class="custHotelRoomName"><input id="custName_{{CustNo}}" value="{{Name}}" /></div>
    <div class="custHotelRoomName"><input id="custBirthDate_{{CustNo}}" value="{{BirthDate}}" /></div>
</div>
{{/HotelRoomCust}}
<div class="HotelRoomCustButton">
    <input id="btnSaveCustomers" type="button" value="Save"/>
</div>