﻿<div class="ui-helper-clearfix header">
    <div class="srvHotelRoomSeqNo">&nbsp;</div>
    <div class="srvHotelRoomSelect">&nbsp;</div>
    <div class="srvHotelRoomRoom"><strong>Room</strong></div>
    <div class="srvHotelRoomAccom"><strong>Accommodation</strong></div>
    <div class="srvHotelRoomBoard"><strong>Board</strong></div>
    <div class="srvHotelRoomUnit"><strong>Unit</strong></div>
</div>
{{#HotelRooms}}
<div class="ui-helper-clearfix row" onclick="selectHotelRoom('{{RecId}}','{{Hotel}}','{{Room}}','{{Board}}','{{Accom}}');">
    <div class="srvHotelRoomSeqNo">{{RecId}}</div>
    <div class="srvHotelRoomSelect"><img name="selected" id="selectedRoom_{{RecId}}" src="Images/nochecked_16.gif" alt="" /></div>
    <div class="srvHotelRoomRoom">{{RoomName}}</div>
    <div class="srvHotelRoomAccom">{{AccomName}}</div>
    <div class="srvHotelRoomBoard">{{BoardName}}</div>    
    <div class="srvHotelRoomUnit">{{Unit}}</div>
</div>
{{/HotelRooms}}
<div class="HotelServiceRoomButton">
    <input id="btnAddRoom" type="button" value="Add Room" onclick="addHotelRoom('{{HotelCode}}',{{MasterRecId}});"/>
</div>