﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default_Page.aspx.cs" Inherits="Default_Page" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="Common/Header.ascx" TagName="Header" TagPrefix="tv1" %>
<%@ Register Src="Common/Footer.ascx" TagName="Footer" TagPrefix="tv1" %>
<%@ Register Src="Common/MainMenu.ascx" TagName="MainMenu" TagPrefix="tv1" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <!--[if gt IE 10]>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Default_Page</title>

    <script src="Scripts/jquery.min.js" type="text/javascript"></script>

    <script src="Scripts/Tv.Utils.js" type="text/javascript"></script>

    <link href="CSS/main.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        </style>

    <script language="javascript" type="text/javascript">
        var NS = document.all;

        function maximize() {
            var maxW = screen.availWidth;
            var maxH = screen.availHeight;
            if (location.href.indexOf('pic') == -1) {
                if (window.opera) { } else {
                    top.window.moveTo(0, 0);
                    if (document.all) { top.window.resizeTo(maxW, maxH); }
                    else
                        if (document.layers || document.getElementById) {
                            if ((top.window.outerHeight < maxH) || (top.window.outerWidth < maxW)) {
                                top.window.outerHeight = maxH; top.window.outerWidth = maxW;
                            }
                        }
                }
            }
        }

        function pageLoad() {
        }

        

    </script>

</head>
<body>
    <form id="form1" runat="server">

        <input id="Text1" type="text" onkeypress="return isNameSurnameCharDetur(event);" />
        <p></p>
        <div></div>
        <br />
        <input id="Text2" size="15" />

    </form>
</body>
</html>
