<%@ Page Language="C#" AutoEventWireup="true" CodeFile="OnlyTicketBlank.aspx.cs"
    Inherits="OnlyTicketBlank" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title><%= GetGlobalResourceObject("PageTitle", "Blank") %></title>
</head>
<body>
    <form id="OnlyTicketForm" runat="server">
    <div>
    </div>
    </form>
</body>
</html>
