﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ViewXLS.aspx.cs" Inherits="ViewXLS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <!-- no cache headers -->
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <!-- end no cache headers -->
  <!--[if gt IE 10]>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>PDF Viewer</title>

  <script src="Scripts/jquery.min.js" type="text/javascript"></script>

  <script src="Scripts/jquery-ui.custom.min.js" type="text/javascript"></script>

  <script src="Scripts/jquery.json.js" type="text/javascript"></script>

  <script src="Scripts/jquery.query-2.1.7.js" type="text/javascript"></script>

  <script src="Scripts/pdfobject.js" type="text/javascript"></script>

  <link href="CSS/jquery-ui.css" rel="stylesheet" type="text/css" />

  <script language="javascript" type="text/javascript">
    $(document).ready(function () {

    });
  </script>

</head>
<body>
  <form id="form1" runat="server">
    <div>
    </div>
  </form>
</body>
</html>
