﻿<div class="resCustGridCss" width="900px;">
  {loop
  <div style="height:185px;" class="ui-widget ui-widget-content ui-corner-all">
    <br />
    <div  style="width: 125px; text-align:right; float:left;">
      <span id='iSeqNo[]' style='font-weight: bold;'>{"SeqNo"}</span>.
    </div>
    <div style="width:400px; float:left;">
      <div>
        <div style="float:left; width:30px; text-align:center;">
          <img onclick='searchCust({[]});' alt='[{"MakeReservation","searchCustLabel"}]' title='[{"MakeReservation","searchCustLabel"}]' src="Images/search16.png" />
        </div>
        <div style="float:left; width:30px; text-align:center;">
          <img onclick='showCustAddress({[]});' alt='[{"MakeReservation","lblCustomerAddress"}]' title='[{"MakeReservation","lblCustomerAddress"}]' src="Images/address.gif" />
        </div>
        <div style="float:left; width: 300px; text-align: left; margin-top: 3px;">
          &nbsp;<span style="font-weight: bold; text-decoration: underline; cursor: pointer; " onclick='showSSRC({[]});' >[{"MakeReservation","lblSpecialServiceReqCode"}]</span>
        </div>
      </div>
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      <strong>[{"MakeReservation","resCustTitle"}] :</strong>
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <select id='iTitle[]' style="width: 80px;" tabindex="[]01">{"Title"}</select>
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustPassSerie"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iPassSerie[]' type='text' maxLength='5' value='{"PassSerie"}' tabindex="[]06" />      
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      <strong>[{"MakeReservation","resCustSurname"}] :</strong>
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iSurname[]' type='text' maxLength='30' value='{"Surname"}' onkeypress="return isNameSurnameChar(event);" onChange="isNameSurnameString(this.id);" tabindex="[]02" />
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustPassNo"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iPassNo[]' type='text' maxLength='10' value='{"PassNo"}' tabindex="[]07" />
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustName"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iName[]' type='text' maxLength='30' value='{"Name"}' onkeypress="return isNameSurnameChar(event);" onChange="isNameSurnameString(this.id);" tabindex="[]03" />
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustPass"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iHasPassport[]' {"PassportCheck"}  type='checkbox' value='{[]}' tabindex="[]08" />
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustBirthDate"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iBirthDay[]' type='text' maxLength='10' onBlur="return SetAge([], '{"ResDate"}', '{"dateFormat"}')" value='{"BirtDay"}' class='formatDate' tabindex="[]04" /> &nbsp;({"dateFormatRegion"})
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      <strong>[{"MakeReservation","resCustLeader"}] :</strong>
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iLeader[]' {"LeaderCheck"} type='radio' name='Leader' value='{[]}' tabindex="[]09" />
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustPIN"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iIDNo[]' type='text' maxLength='20' value='{"IDNo"}' tabindex="[]05" />
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustPhone"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <input id='iPhone[]' type='text' maxLength='15' value='{"Phone"}' tabindex="[]10" />
    </div>
    <div style="clear:both;"></div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      &nbsp;
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      &nbsp;
    </div>
    <div style="width: 125px; text-align:right; float:left; margin-top: 5px;">
      [{"MakeReservation","resCustCitizenship"}] :
    </div>
    <div style="width: 300px; float:left; text-align:left;">
      <select id='iNation[]' style="width: 100%;" tabindex="[]11">{"Nation"}</select>
    </div>
  </div>
  loop}
</div>