﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Proforma.aspx.cs" Inherits="Proforma_LV" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- end no cache headers -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Proforma</title>

    <script src="../../../Scripts/jquery.min.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.json.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.query-2.1.7.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.url.js" type="text/javascript"></script>

    <style type="text/css">
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
        html { overflow: auto; }
        ol, ul { list-style: none; }
        blockquote, q { quotes: none; }
        :focus, a:focus, a:active { outline: 0; }
        input { outline: 0; }
        ins { text-decoration: none; }
        del { text-decoration: line-through; }
        table { border-collapse: collapse; border-spacing: 0; }
        body { line-height: 1; font-family: Tahoma Times New Roman; font-size: 9pt; width: 794px; }
        .line333 { color: #333; }
        .line666 { color: #BBB; }
        .clear { clear: both; height: 1px; }
        .mainPage { width: 794px; border: solid 1px #BBB; }
        table td { padding-right: 15px; height: 22px; }
        .boldTd { font-weight: bold; }
        .r150 { text-align: right; width: 150px; }
        .RightOpenTD { font-family: Times New Roman; font-size: 9pt; font-weight: bold; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: #666666; border-bottom-color: #666666; border-left-color: #666666; }
        .RightTopOpenTD { font-family: Times New Roman; font-size: 9pt; border-bottom-style: solid; border-left-style: solid; border-bottom-width: 1px; border-left-width: 1px; border-bottom-color: #666666; border-left-color: #666666; }
        .CloseTD { border: 1px solid #666666; font-family: Times New Roman; font-size: 9pt; font-weight: bold; }
        .TopOpenTD { font-family: Times New Roman; font-size: 9pt; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: #666666; border-bottom-color: #666666; border-left-color: #666666; }
    </style>

    <script language="javascript" type="text/javascript">

        function logout() {
            self.parent.logout();
        }

        function getFormData() {
            $.ajax({
                async: false,
                type: "POST",
                url: "Proforma.aspx/getFormData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.hasOwnProperty('d') && msg.d != '') {
                        var data = $.json.decode(msg.d);
                        $.each(data, function (i) {
                            switch (this.TagName) {
                                case 'span':
                                    $("#" + this.IdName).text('');
                                    $("#" + this.IdName).text(this.Data);
                                    break;
                                case 'div':
                                    $("#" + this.IdName).html('');
                                    $("#" + this.IdName).html(this.Data.replace(/!/g, '"'));
                                    if (this.AfterInsertShow && this.Data != '')
                                        $("#" + this.IdName + "Div").show();
                                    break;
                                case 'img':
                                    $("#" + this.IdName).removeAttr("src");
                                    $("#" + this.IdName).attr("src", this.Data);
                                    break;
                                default: $("#" + this.IdName).val('');
                                    $("#" + this.IdName).val(this.Data);
                            }
                        });
                        $("#gridPriceTable").width();
                    }
                },
                error: function (xhr, msg, e) {
                    alert(xhr.responseText);
                },
                statusCode: {
                    408: function () {
                        logout();
                    }
                }
            });
        }

        $(document).ready(
            function () {
                $.query = $.query.load(location.href);
                getFormData();
                if ($.query.get('print')) {
                    window.print();
                    window.close();
                }
                else {
                    self.parent.setViewReportSrc(location.href);
                    try {
                        self.parent.viewReportRemoveButton('LV Version');
                    }
                    catch (err) {
                    }
                    var baseUrl = $.url(location.href);
                    self.parent.viewReportAddButton('EN Version', function () { window.location = baseUrl.data.attr.base + baseUrl.data.attr.directory + 'ProformaEn.aspx'; });
                }
            });
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <div class="mainPage">
            <div>
                <table width="100%">
                    <tr>
                        <td colspan="2" align="center">
                            <strong>Rēķins Nr. <span id="txtResNoA"></span></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <strong>Rezervācijas Nr. <span id="txtResNoB"></span></strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            <span id="TxtPrintTime">Print Time</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%;">
                            <span style="font-size: small; font-weight: bold;">Piegādātājs: </span><span id="TxtOperator"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Reģ. Nr.: </span><span id="TxtRegisterCode"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Jur.adrese:</span><span id="TxtOperatorAdress"></span><br />
                            <span style="font-size: small; font-weight: bold;">Biroja adrese: </span><span id="TxtOfficeAddress"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Banka: </span><span id="TxtOperatorBank"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Norēķinu konts:</span><span id="txtBankIbanNos_Curs"></span><br />
                            <span style="font-size: small; font-weight: bold;">Banka: </span><span id="TxtOperatorBank0"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Norēķinu konts: </span><span id="txtBankIbanNos_Curs0"></span>
                            <br />
                        </td>
                        <td>
                            <span style="font-size: small; font-weight: bold;">Pasūtītājs: </span><span id="TxtAgencyName"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Reģ. Nr.: </span><span id="TxtRegisterCode0"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">PVN Nr.: </span><span id="TxtTaxAccountNo"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Adrese: </span><span id="TxtAgencyAdress"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Banka: </span><span id="TxtAgencyBank"></span>
                            <br />
                            <span style="font-size: small; font-weight: bold;">Norēķinu konts: </span><span id="TxtAgencyIbanNos_Curs"></span>
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-size: small; font-weight: bold;">Rezervācijas Nr.: </span><span
                                id="TxtResNo"></span>
                        </td>
                        <td>
                            <span style="font-size: small; font-weight: bold;">Līderis: </span><span id="TxtLeaderName"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <span style="font-size: small; font-weight: bold;">Pasažieru skaits: </span><span
                                id="TxtPax"></span>
                        </td>
                    </tr>
                </table>
                <hr class="line666" size="1" />
                <div id="gridFlightDiv" style="display: none;">
                    <span style="font-weight: bold; font-size: 12pt;">Pārlidojums</span>
                    <br />
                    <div id="gridFlight">
                    </div>
                    <br />
                    <hr class="line666" size="1" />
                </div>
                <div id="gridHotelDiv" style="display: none;">
                    <table width="100%">
                        <tr>
                            <td style="width: 33%;">
                                <strong>Valsts: </strong><span id="TxtCountry"></span>
                            </td>
                            <td style="width: 33%;">
                                <strong>Pilsēta: </strong><span id="TxtArrCity"></span>
                            </td>
                            <td>
                                <strong>Kūrorts: </strong><span id="TxtResort"></span>
                            </td>
                        </tr>
                    </table>
                    <div id="gridHotel">
                    </div>
                    <hr class="line666" size="1" />
                </div>
                <div id="gridCustPriceDiv" style="display: none;">
                    <span style="font-weight: bold; font-size: 12pt;">Ceļojuma cena</span>
                    <br />
                    <div id="gridCustPrice">
                    </div>
                    <hr class="line666" size="1" />
                </div>
                <div id="gridExtWithoutKomDiv" style="display: none;">
                    <span style="font-weight: bold; font-size: 12pt;">Papildus pakalpojumi</span>
                    <br />
                    <div id="gridExtWithoutKom">
                    </div>
                    <hr class="line666" size="1" />
                </div>
                <div id="gridExtWithKomDiv" style="display: none;">
                    <span style="font-weight: bold; font-size: 12pt;">Papildus pakalpojumi bez komisijas</span>
                    <br />
                    <div id="gridExtWithKom">
                    </div>
                    <hr class="line666" size="1" />
                </div>
                <%--<hr class="line666" size="1" />--%>
                <div id="footherDiv">
                    <table width="100%">
                        <tr>
                            <td width="300">&nbsp;
                            </td>
                            <td class="boldTd">
                                <span>Kopējā cena</span>
                            </td>
                            <td class="r150">
                                <span id="lblTotalSum"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td class="boldTd">
                                <span>Atlaide</span>
                            </td>
                            <td class="r150">
                                <span id="lblTotalReservationDiscount"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td class="boldTd">
                                <span>Papildus atlaide</span>
                            </td>
                            <td class="r150">
                                <span id="lblAgencyDisPasVal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td class="boldTd">
                                <span>Summa apmaksai no klienta</span>
                            </td>
                            <td class="r150">
                                <span id="lblTotalSumMinusDiscount"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td class="boldTd">
                                <span>Komisija</span>
                            </td>
                            <td class="r150">
                                <span id="lblKomision"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td>
                                <span id="firstTotalSum">Summa apmaksai NOVATOURS no aģenta LVL</span>
                            </td>
                            <td class="r150">
                                <span id="lblTotal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td colspan="2">
                                <span>PVN 0% sask.ar Pievienotās vērtības nodokļa likuma 136.p. Peļņas daļas režīms ceļojumu aģentūrām.
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;
                            </td>
                            <td valign="top">
                                <span id="secondTotalSum">Summa apmaksai NOVATOURS no aģenta EUR</span>
                                <br />
                                Pēc Latvijas Bankas kursa 1.00 EUR = <span id="lvlEurRate">0.702804</span> LVL.
                            </td>
                            <td class="r150" valign="top">
                                <span id="lblTotalSecond"></span>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" align="right">
                                <span id="lblTotalWithWord"></span>
                            </td>
                        </tr>
                        <tr>
                            <td align="right">&nbsp;
                            </td>
                            <td>&nbsp;
                            </td>
                            <td>&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="line-height: 1.1;">
                    <span style="font-weight: bold;">Pasūtījumu apmaksāt :</span>
                    <div id="lblPaymentLastDate">
                    </div>
                    <br />
                    Rēķins sagatavots elektroniski un ir derīgs apmaksai bez paraksta.
                    <br />
                    Veicot maksājumu, lūdzam uzrādīt rezervācijas numuru <span id="txtResNoC" style="font-weight: bold;"></span>
                    <span id="TxtOperatorFax" style="visibility: hidden; display: none;"></span>
                    <br />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
