﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ProformaEn.aspx.cs" Inherits="ProformaEn_LV" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- end no cache headers -->
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Proforma</title>

    <script src="../../../Scripts/jquery.min.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.json.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.query-2.1.7.js" type="text/javascript"></script>

    <script src="../../../Scripts/jquery.url.js" type="text/javascript"></script>

    <style type="text/css">
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
        html { overflow: auto; }
        ol, ul { list-style: none; }
        blockquote, q { quotes: none; }
        :focus, a:focus, a:active { outline: 0; }
        input { outline: 0; }
        ins { text-decoration: none; }
        del { text-decoration: line-through; }
        table { border-collapse: collapse; border-spacing: 0; }
        body { line-height: 1; font-family: Tahoma Times New Roman; font-size: 9pt; width: 794px; }
        .line333 { color: #333; }
        .line666 { color: #BBB; }
        .clear { clear: both; height: 1px; }
        .mainPage { width: 794px; border: solid 1px #BBB; }
        table td { padding-right: 15px; height: 22px; }
        .boldTd { font-weight: bold; }
        .r150 { text-align: right; width: 150px; }
        .RightOpenTD { font-family: Times New Roman; font-size: 9pt; font-weight: bold; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-color: #666666; border-bottom-color: #666666; border-left-color: #666666; }
        .RightTopOpenTD { font-family: Times New Roman; font-size: 9pt; border-bottom-style: solid; border-left-style: solid; border-bottom-width: 1px; border-left-width: 1px; border-bottom-color: #666666; border-left-color: #666666; }
        .CloseTD { border: 1px solid #666666; font-family: Times New Roman; font-size: 9pt; font-weight: bold; }
        .TopOpenTD { font-family: Times New Roman; font-size: 9pt; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-color: #666666; border-bottom-color: #666666; border-left-color: #666666; }
    </style>

    <script language="javascript" type="text/javascript">

        function logout() {
            self.parent.logout();
        }

        function getFormData() {
            $.ajax({
                async: false,
                type: "POST",
                url: "ProformaEn.aspx/getFormData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.hasOwnProperty('d') && msg.d != '') {
                        var data = $.json.decode(msg.d);
                        $.each(data, function (i) {
                            switch (this.TagName) {
                                case 'span':
                                    $("#" + this.IdName).text('');
                                    $("#" + this.IdName).text(this.Data);
                                    break;
                                case 'div':
                                    $("#" + this.IdName).html('');
                                    $("#" + this.IdName).html(this.Data.replace(/!/g, '"'));
                                    if (this.AfterInsertShow && this.Data != '')
                                        $("#" + this.IdName + "Div").show();
                                    break;
                                case 'img':
                                    $("#" + this.IdName).removeAttr("src");
                                    $("#" + this.IdName).attr("src", this.Data);
                                    break;
                                case 'hidden':
                                    $("#" + this.IdName).hide();
                                    break;
                                default: $("#" + this.IdName).val('');
                                    $("#" + this.IdName).val(this.Data);
                            }
                        });
                        $("#gridPriceTable").width();
                    }
                },
                error: function (xhr, msg, e) {
                    alert(xhr.responseText);
                },
                statusCode: {
                    408: function () {
                        logout();
                    }
                }
            });
        }

        $(document).ready(
            function () {
                $.query = $.query.load(location.href);
                getFormData();
                if ($.query.get('print')) {
                    window.print();
                    window.close();
                }
                else {
                    self.parent.setViewReportSrc(location.href);
                    try {
                        self.parent.viewReportRemoveButton('EN Version');
                    }
                    catch (err) {
                    }
                    var baseUrl = $.url(location.href);
                    self.parent.viewReportAddButton('LV Version', function () { window.location = baseUrl.data.attr.base + baseUrl.data.attr.directory + 'ProformaEn.aspx'; });
                }
            });
    </script>

</head>
<body>
    <form id="form1" runat="server">
        <div class="mainPage">
            <div id="divInvoiceNoResNo" style="width: 100%; text-align: center;">
                <span style="font-size: 12pt; font-weight: bold;">Invoice No : </span><span id="TxtResNo"></span>
                <br />
                <span style="font-size: 12pt; font-weight: bold;">Reservation No : </span><span id="TxtResNoD"></span>
            </div>
            <hr size="1" class="line333" />
            <div id="divPrintTime" style="width: 100%; text-align: left;">
                <span id="TxtPrintTime" style="font-size: 10pt;"></span>
            </div>
            <div id="divInvoiceHeader" style="clear: both; width: 100%;">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width: 50%;" valign="top">
                            <span style="font-size: 10pt;"><b>Operator : </b></span><span id="TxtOperator"></span>
                            <br />
                            <b>Reg. No. : </b><span id="TxtRegisterCode"></span>
                            <br />
                            <b>Address : </b><span id="TxtOperatorAdress"></span>
                            <br />
                            <span id="TxtOfficeAddress"></span>
                            <br />
                            <div id="bank1Hide">
                                <b>Bank : </b><span id="TxtOperatorBank"></span>
                                <br />
                                <b>Account : </b><span id="txtBankIbanNos_Curs"></span>
                                <br />
                            </div>
                            <div id="bank2Hide">
                                <b>Bank : </b><span id="TxtOperatorBank0"></span>
                                <br />
                                <b>Account : </b><span id="txtBankIbanNos_Curs0"></span>
                            </div>
                        </td>
                        <td valign="top">
                            <span style="font-size: 10pt;"><b>Agent : </b></span><span id="TxtAgency"></span>
                            <br />
                            <b>Reg. No. : </b><span id="TxtRegisterCode0"></span>
                            <br />
                            <b>VAT Code. : </b><span id="TxtTaxAccountNo"></span>
                            <br />
                            <b>Address : </b><span id="TxtAgencyAdress"></span>
                            <br />
                            <b>Bank : </b><span id="TxtAgencyBank"></span>
                            <br />
                            <b>Account : </b><span id="TxtAgencyIbanNos_Curs"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div style="width: 100%;">
                <div style="width: 50%; float: left;">
                    <span style="font-size: 10pt;"><b>Reservation No :</b></span><span id="txtResNo0"></span>
                </div>
                <div style="width: 49%; float: left;">
                    <div style="clear: both;">
                        <div style="float: left; width: 151px;">
                            <span style="font-size: 10pt;"><b>Leader :</b> </span>
                        </div>
                        <div style="float: left;">
                            <span id="TxtLeaderName" style="font-size: 10pt;"></span>
                        </div>
                    </div>
                    <div style="clear: both;">
                        <div style="float: left; width: 151px;">
                            <span style="font-size: 10pt;"><b>Number of passengers:</b></span>
                        </div>
                        <div style="float: left;">
                            <span id="TxtPax" style="font-size: 10pt;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr size="1" class="line333" />
            <div id="gridFlightDiv" style="clear: both;">
                <span style="font-weight: bold; font-size: 12pt;">Trip : </span>
                <br />
                <div id="gridFlight">
                </div>
                <br />
                <hr size="1" class="line333" />
            </div>
            <div id="gridHotelDiv">
                <div id="gridHotel">
                </div>
                <hr size="1" class="line333" />
            </div>
            <div id="gridCustPriceDiv">
                <span style="font-weight: bold; font-size: 12pt;">Standart Package price</span>
                <br />
                <div id="gridCustPrice">
                </div>
                <hr size="1" class="line333" />
            </div>
            <div id="gridExtWithoutKomDiv">
                <span style="font-weight: bold; font-size: 12pt;">Product adds</span>
                <br />
                <div id="gridExtWithoutKom">
                </div>
                <hr size="1" class="line333" />
            </div>
            <div id="gridExtWithKomDiv" runat="server" style="visibility: visible;">
                <span style="font-weight: bold; font-size: 12PT;">Product adds without commission</span>
                <br />
                <div id="gridExtWithKom">
                </div>
                <hr size="1" class="line333" />
            </div>
            <div id="footherDiv">
                <table width="750">
                    <tr>
                        <td width="300px">&nbsp;
                        </td>
                        <td>
                            <strong>Total Price (</strong><span id="lblTotalParite"></span><strong>)</strong>
                        </td>
                        <td align="right">
                            <span id="lblTotalSum"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td colspan="2">
                            <strong>Curency exchange rate 1EUR=</strong><span id="lblParite"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>Discount (EUR) </strong>
                        </td>
                        <td align="right">
                            <span id="lblTotalReservationDiscount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>Additional discount (EUR)</strong>
                        </td>
                        <td align="right">
                            <span id="lblAgencyDisPasVal"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>From the clients (EUR)</strong>
                        </td>
                        <td align="right">
                            <span id="lblTotalSumMinusDiscount"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>Discount for the agency</strong>
                        </td>
                        <td align="right">
                            <span id="lblAgencyEB"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>Commission (EUR)</strong> <span id="lblKomisyonYuz"></span>
                        </td>
                        <td align="right">
                            <span id="lblKomision"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>
                            <strong>Ammount to be paid to Novaturas (EUR)</strong>
                        </td>
                        <td align="right">
                            <span id="lblTotal"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td colspan="2">
                            <span id="lblTotalWithWord"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <div style="font-family: Times New Roman; font-size: small; font-weight: bold;">
                Payment must be done until :
            <div id="lblPaymentLastDate">
            </div>
                <br />
                The invoice is prepared electronically and is valid for payment without a signature.<br />
                When making a payment, please indicate number of reservation&nbsp;<span id="TxtResNoC" style="font-weight: bold;"></span>
                <span id="lblOperatorFax" style="display: none; visibility: hidden;"></span>
            </div>
        </div>
    </form>
</body>
</html>
