﻿<head>
    <title>Create Offer</title>
    <!-- no cache headers -->
    <meta content="no-cache" http-equiv="Pragma">
    <meta content="-1" http-equiv="Expires">
    <meta content="no-cache" http-equiv="Cache-Control">
    <!-- end no cache headers -->
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <script type="text/javascript" src="Scripts/jquery.min.js"></script>

    <script type="text/javascript" src="Scripts/jquery-ui.custom.min.js"></script>

    <script type="text/javascript" src="Scripts/jquery.json.js"></script>

    <script type="text/javascript" src="Scripts/jquery.cookies.2.2.0.js"></script>

    <script type="text/javascript" src="Scripts/jquery.query-2.1.7.js"></script>

    <link rel="stylesheet" type="text/css" href="CSS/jquery-ui.css">
    <style type="text/css">
        HTML { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        BODY { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DIV { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        SPAN { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        APPLET { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        OBJECT { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        IFRAME { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H1 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H2 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H3 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H4 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H5 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        H6 { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        P { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        BLOCKQUOTE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        PRE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        A { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        ABBR { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        ACRONYM { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        ADDRESS { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        BIG { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        CITE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        CODE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DEL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DFN { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        EM { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        FONT { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        IMG { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        INS { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        KBD { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        Q { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        S { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        SAMP { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        SMALL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        STRIKE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        STRONG { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        SUB { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        SUP { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TT { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        VAR { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        B { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        U { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        I { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        CENTER { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DT { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        DD { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        OL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        UL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        LI { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        FIELDSET { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        FORM { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        LABEL { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        LEGEND { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TABLE { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        CAPTION { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TBODY { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TFOOT { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        THEAD { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TR { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TH { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        TD { padding-bottom: 0px; border-right-width: 0px; margin: 0px; padding-left: 0px; outline-width: 0px; padding-right: 0px; border-top-width: 0px; border-bottom-width: 0px; font-size: 100%; border-left-width: 0px; text-decoration: none; padding-top: 0px; }
        HTML { overflow: auto; }
        OL { list-style-type: none; }
        UL { list-style-type: none; }
        BLOCKQUOTE { quotes: none; }
        Q { quotes: none; }
        :focus { outline-width: 0px; }
        A:focus { outline-width: 0px; }
        A:active { outline-width: 0px; }
        INPUT { outline-width: 0px; }
        INS { text-decoration: none; }
        DEL { text-decoration: line-through; }
        TABLE { border-spacing: 0; border-collapse: collapse; }
        BODY { width: 650px; font-family: Tahoma Times New Roman; font-size: 10pt; }
        .mainPage { width: 650px; }
        .logoDiv { border-bottom: #000 1px solid; position: relative; width: 100%; height: 138px; }
        .oprLogoDiv { width: 150px; float: left; height: 135px; }
        .oprLogoDiv IMG { position: absolute; bottom: 25px; }
        .agencyLogoDiv { width: 500px; float: right; height: 135px; }
        .agencyImgDiv { position: relative; text-align: right; width: 245px; font-family: Tahoma Times New Roman; float: left; height: 135px; font-size: 9pt; }
        .agencyImgDiv IMG { position: absolute; bottom: 25px; right: 5px; }
        .agencyImgDiv SPAN { position: absolute; bottom: 3px; right: 5px; }
        .agencyInfoDiv { position: relative; width: 245px; font-family: Tahoma Times New Roman; float: right; height: 100%; font-size: 9pt; }
        .agencyInfoDiv SPAN { position: absolute; width: 4px; bottom: 3px; left: 5px; }
        .dataDiv { border-bottom: #000 1px solid; border-left: #000 1px solid; width: 100%; font-family: Tahoma Times New Roman; border-top: #000 1px solid; border-right: #000 1px solid; }
        .font8pt { font-size: 8pt; }
        .font8ptBold { font-size: 8pt; font-weight: bold; }
        .font9pt { font-size: 9pt; }
        .font9ptBold { font-size: 9pt; font-weight: bold; }
        .font10pt { font-size: 10pt; }
        .font10ptBold { font-size: 10pt; font-weight: bold; }
        .font10ptItalic { font-style: italic; font-size: 10pt; }
        .font10ptBoldItalic { font-style: italic; font-size: 10pt; font-weight: bold; }
        .font11ptFont { font-size: 11pt; }
        .font11ptBold { font-size: 11pt; font-weight: bold; }
        .font11ptItalic { font-style: italic; font-size: 11pt; }
        .font11ptBoldItalic { font-style: italic; font-size: 11pt; font-weight: bold; }
        .hotelInfo { width: 100%; }
        .noteInput { border-bottom: #c8c8c8 1px solid; border-left: #c8c8c8 1px solid; width: 90%; border-top: #c8c8c8 1px solid; border-right: #c8c8c8 1px solid; }
        .clearDiv { border-bottom: #000 1pt solid; clear: both; }
        @media Print {
            #noPrintDiv { display: none; visibility: hidden; }
        }
    </style>

    <script language="javascript" type="text/javascript">

        if (typeof window.event != 'undefined')
            document.onkeydown = function() {
                if (event.srcElement.tagName.toUpperCase() != 'INPUT' && event.srcElement.tagName.toUpperCase() != 'TEXTAREA')
                    return (event.keyCode != 8);
            }
        else
            document.onkeypress = function(e) {
                if (e.target.nodeName.toUpperCase() != 'INPUT' && e.target.nodeName.toUpperCase() != 'TEXTAREA')
                    return (e.keyCode != 8);
            }

        function logout() {
            self.parent.logout();
        }

        function getFormData() {
            $.ajax({
                type: "POST",
                url: "CreateOffer.aspx/getFormData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(msg) {
                    if (msg.hasOwnProperty('d') && msg.d != '') {
                        var data = $.json.decode(msg.d);
                        $.each(data, function(i) {
                            switch (this.TagName) {
                                case 'span':
                                    $("#" + this.IdName).text('');
                                    $("#" + this.IdName).text(this.Data);
                                    break;
                                case 'div':
                                    $("#" + this.IdName).html('');
                                    $("#" + this.IdName).html(this.Data.replace(/!/g, '"'));
                                    break;
                                case 'img':
                                    $("#" + this.IdName).removeAttr("src");
                                    $("#" + this.IdName).attr("src", this.Data);
                                    if (this.Data == '')
                                        $("#" + this.IdName).hide();
                                    break;
                                default: $("#" + this.IdName).val('');
                                    $("#" + this.IdName).val(this.Data);
                            }

                        });
                        $.query = $.query.load(location.href);
                        if ($.query.get('print')) {
                            window.print();
                            window.close();
                        }
                    }
                },
                error: function(xhr, msg, e) {
                    if (xhr.responseText != '' && xhr.responseText != '{"d":null}')
                        alert(xhr.responseText);
                },
                statusCode: {
                    408: function() {
                        logout();
                    }
                }
            });
        }

        $(document).ready(
            function() {
                getFormData();
            });
    </script>

</head>
<body>
    <form id="form1" method="post" name="form1" action="CreateOffer.aspx">
    <div>
        <input id="__VIEWSTATE" name="__VIEWSTATE" value="/wEPDwUKMTk1MjM3OTI2MGRkQa3qenWp22Jx6YoN19FPVGbqOjU="
            type="hidden">
    </div>
    <input id="param1" type="hidden">
    <div class="mainPage">
        <table style="border-bottom: #000000 2px solid" width="100%">
            <tbody>
                <tr>
                    <td style="text-align: center; width: 130px">
                        <img style="width: 120px" id="imgOperator" title="" alt="" src="http://localhost:81/free/LogoCache/LTNOV.jpg">
                    </td>
                    <td style="min-width: 120px" valign="bottom" align="right">
                        <table>
                            <tbody>
                                <tr>
                                    <td valign="bottom" align="right">
                                        <img style="width: 120px" id="imgAgency" title="" alt="" src="http://localhost:81/free/LogoCache/AG_TESTN.jpg"><br>
                                        <span id="txtCreatedBy">Pasiulymo laikas</span>
                                    </td>
                                    <td style="font-size: 9pt" valign="bottom">
                                        <span id="txtAgencyName">ofice firm name</span><br>
                                        <span id="txtUserName">aceeišuuz</span><br>
                                        <span id="txtAgencyTel">+37069826798</span><br>
                                        <span id="txtEmail">vidasb@novaturas.lt</span><br>
                                        <span id="txtDateTime">4/26/2012 3:54 PM</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="font8pt">
            <div id="fixNoteText">
                <div>
                    <p style="text-align: left">
                        <span style="background-color: window; font-style: normal; font-family: sans-serif;
                            color: black; font-size: 8pt; font-weight: normal">Vykstant i Egipta, papildomai
                            mokama uz viza 50 LTL / asm. Egypt visa 50 LTL / per person (15 EUR). </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="clearDiv">
        </div>
        <div>
            <strong>Agency discount (%): </strong><br />
            <input id="iAgencyDiscount" type="text" /><img alt="" title="" src="http://localhost:81/free/Images/Calculator.png" />
        </div>
        <div class="clearDiv">
        </div>
        <div id="dataDiv">
            <div class="clearDiv">
            </div>
            <div id="" class="hotelInfo">
                <span class="font11ptBold">Vilnius - Antalya - Vilnius</span>
                <br>
                <span class="font9pt">Viešbutis : </span><span class="font10ptBoldItalic">Muz ( 3- )
                </span>&nbsp; <span class="font10ptItalic">( Alanya )</span>
                <br>
                <span class="font10ptItalic">http://www.novaturas.lt/popup/index.php?tpl=hotel&amp;hotel_code=tramuz</span>
                <br>
                <span class="font9pt">Atvykimo data : </span><span class="font10ptItalic">5/18/2012</span>&nbsp;
                <span class="font9pt">Keliones trukme : </span><span class="font10ptItalic">7</span>
                <br>
                <span class="font9pt">Kambario tipas : </span><span class="font10ptItalic">Promo Room</span>&nbsp;&nbsp;
                <span class="font9pt">Maitinimas : </span><span class="font10ptItalic">Half Board</span>
                <br>
                <span class="font9pt">Apgyvendinimas : </span><span class="font10ptItalic">2 Adl</span>
                <br>
                <span class="font11ptFont">Kaina : </span><span class="font11ptBoldItalic">3,478.00
                    LTL</span>
                <br>
                <span class="font9pt">Agento komentaras : </span>
                <br>
                <input id="agencyNote1" class="noteInput">
            </div>
            <div class="clearDiv">
            </div>
            <div class="hotelInfo">
                <span class="font11ptBold">Vilnius - Antalya - Vilnius</span>
                <br>
                <span class="font9pt">Viešbutis : </span><span class="font10ptBoldItalic">Muz ( 3- )
                </span>&nbsp; <span class="font10ptItalic">( Alanya )</span>
                <br>
                <span class="font10ptItalic">http://www.novaturas.lt/popup/index.php?tpl=hotel&amp;hotel_code=tramuz</span>
                <br>
                <span class="font9pt">Atvykimo data : </span><span class="font10ptItalic">5/18/2012</span>&nbsp;
                <span class="font9pt">Keliones trukme : </span><span class="font10ptItalic">7</span>
                <br>
                <span class="font9pt">Kambario tipas : </span><span class="font10ptItalic">Promo Room</span>&nbsp;&nbsp;
                <span class="font9pt">Maitinimas : </span><span class="font10ptItalic">Half Board</span>
                <br>
                <span class="font9pt">Apgyvendinimas : </span><span class="font10ptItalic">2 Adl</span>
                <br>
                <span class="font11ptFont">Kaina : </span><span class="font11ptBoldItalic">3,478.00
                    LTL</span>
                <br>
                <span class="font9pt">Agento komentaras : </span>
                <br>
                <input id="agencyNote2" class="noteInput">
            </div>
        </div>
    </div>
    </form>
</body>
