﻿{#HotelGroup}
<div id="tablePrice_{{HotelGroupID}}" class="PriceTable {{odd_even}}">
    <div class="ui-helper-clearfix hotelGroupHeader">
        <div class="hotelInfo">
            {{#showHotelImage}}
            <div class="hotelImage">
                <img alt="" src="{{hotelImageUrl}}">
            </div>
            {{/showHotelImage}}
            <div class="hotelInfoDetail">
                <span class="headerHotelName"><span onclick="showHotelInfo('{{hotelInfoUrl}}');">{{HotelName}}</span></span><br />
                <span class="headerHotelLocation">{{HotelLocationName}}</span><br />
                <span class="headerCheckInOut">{{CheckIn}}</span>&nbsp;-&nbsp;<span class="headerCheckInOut">{{CheckOut}}</span>&nbsp;&nbsp;<span class="headerNight">{{Night}}</span><br />
            </div>
        </div>
        <div class="bookCell">
            <span id="HotelCheckInNightPrice_{{HotelGroupID}}" class="price">{{SelectedPrice}}&nbsp;{{SelectedPriceCur}}</span><br />
            <span class="bookButton">
                <input onclick="book({{HotelGroupID}})" id="btnBook_{{HotelGroupID}}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover"
                    type="button" value="Book" name="btnBook_{{HotelGroupID}}">
            </span>
        </div>
    </div>
    <div class="priceDetail">
        {#priceDetail}
        <div class="roomGroups">
            <div class="roomAccomInfo">
                <h4>{{AccomInfo}}</h4>
            </div>
            <div class="roomAccomPriceHeader ui-widget-header ui-helper-clearfix">
                <div class="AllotmentHeader">
                    <img alt="" title="" src="Images/freeRoom.gif" width="16" height="16" />
                </div>
                <div class="RoomHeader">{{labelRoomName}}</div>
                <div class="BoardHeader">{{labelBoardName}}</div>
                <div class="AccomHeader">{{labelAccomName}}</div>
                <div class="PriceHeader">{{labelPrice}}</div>
                <div class="OfferHeader">&nbsp</div>
                <div class="SelectedHeader">{{labelSelected}}</div>
            </div>
            {#accomPrice}
            <div class="roomAccomPrice ui-helper-clearfix">
                <div class="Allotment">{{FreeRoom}}</div>
                <div class="Room">{{RoomName}}</div>
                <div class="Board">{{BoardName}}</div>
                <div class="Accom">{{AccomName}}</div>
                <div class="Price">{{SalePrice}}</div>
                <div class="Offer">{{#Discount}}<img alt="" title="" src="Images/Discount.gif" />{{/Discount}}</div>
                <div class="Selected">
                    <input onclick="changeRoomPrice({{HotelGroupID}},{{PriceDetailID}},{{PriceID}});" checked type="radio" value="{{PriceID}}" name="{{HotelGroupID}}_{{PriceDetailID}}"
                        stopsalemsg="{{StopSaleMessage}}" stopsale="{{StopSale}}" salecur="{{SaleCur}}" price="{{PriceNoComma}}" />
                </div>
            </div>
            {/accomPrice}
        </div>
        {/priceDetail}
    </div>
</div>
{/HotelGroup}