﻿<table class="ReservationDetail">
  <tr>
    <td class="FirstColumnLabel">
      <strong>{{lblCatalogPrice}} :</strong>
    </td>
    <td class="FirstColumnValue">
      <span>{{SalePrice}}</span>
    </td>
    <td class="SecondColumnLabel">
      <strong>{{lblActuallyPaid}} :</strong>
    </td>
    <td class="SecondColumnValue">
      <span>{{AgencyPayment}}</span>
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblDiscount}} :
    </td>
    <td class="FirstColumnValue">
      {{Discount}}
    </td>
    <td class="SecondColumnLabel">
      {{lblUsedAgencyBonus}} :
    </td>
    <td class="SecondColumnValue">
      {{AgencyBonusAmount}}
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblAgencyEB}} :
    </td>
    <td class="FirstColumnValue">
      {{EBAgency}}
    </td>
    <td class="SecondColumnLabel">
      {{lblUsedUserBonus}} :
    </td>
    <td class="SecondColumnValue">
      {{UserBonusAmount}}
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblPassangerEB}} :
    </td>
    <td class="FirstColumnValue">
      {{EBPas}}
    </td>
    <td class="SecondColumnLabel">
      {{lblUsedPasBonus}} :
    </td>
    <td class="SecondColumnValue">
      {{PasBonusAmount}}
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblAgencyDiscountFromCommision}} :
    </td>
    <td class="FirstColumnValue">
      (%{{AgencyDisPasPer}}) {{AgencyDisPasVal}}
    </td>
    <td class="SecondColumnLabel">
      {{lblBalance}} :
    </td>
    <td class="SecondColumnValue">
      {{Balance}}      
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblAgentCommision}} :
    </td>
    <td class="FirstColumnValue">
      (%{{AgencyComPer}}) {{AgencyCom}}
    </td>
    <td class="SecondColumnLabel">
      {{lblInvoiceToAgency}} :
    </td>
    <td class="SecondColumnValue">
      {{InvoiceNo}}
    </td>
  </tr>
  <tr>
    <td class="FirstColumnLabel">
      {{lblDueToPay}} :
    </td>
    <td class="FirstColumnValue">
      {{DueAgentPayment}}
    </td>
    <td class="SecondColumnLabel">
      {{lblPaymentDueDates}} :
    </td>
    <td class="SecondColumnValue">
      <span style="cursor: pointer; text-decoration: underline;" class="right" onclick="showPaymentPlan('{{ResNo}}', '{{CultureInfo_LCID}}')">{{lblView}}</span>
    </td>
  </tr>
</table>
<table class="ReservationServiceDetail">
  {{#ServiceConfList}}
  <tr>
    <td class="lblServiceName">{{ServiceName}}</td>
    <td class="lblServiceConf">{{Confirmation}}</td>
  </tr>
  {{/ServiceConfList}}
</table>