﻿{loop
<table id="cust[]" class="ui-widget ui-widget-content ui-corner-all resCustGridCss" style="width: 95%; text-align: left;">  
  <tr>
    <td style="width: 49%;" colpan="3">
      <div style='font-weight: bold; width: 30px; float: left;'><span id='iSeqNo[]'>{"SeqNo"}</span>.</div>
      <div style="float: left;">
        <div style="float:left; width:50px; text-align:center;">
          <img onclick='searchCust({[]});' alt='[{"MakeReservation","searchCustLabel"}]' title='[{"MakeReservation","searchCustLabel"}]' src="Images/search16.png" />
        </div>
        <div style="float:left; width:50px; text-align:center;">
          <img onclick='showCustAddress({[]});' alt='[{"MakeReservation","lblCustomerAddress"}]' title='[{"MakeReservation","lblCustomerAddress"}]' src="Images/address.gif" />
        </div>
      </div>
    </td>    
  </tr>
  <tr>
    <td style="width :50%; heigth: 22px;">
      <strong>[{"MakeReservation","resCustTitle"}]</strong>
      <br />
      <select id='iTitle[]' style="width: 80px;" tabindex="[]01">{"Title"}</select>
    </td>
    <td colpan="2">
      <strong>[{"ResView","gridPpPrice"}]</strong>
      <br />
      <span id="ppSalePrice[]" style="font-weight: bold; font-size: 12pt;">{"ppPasPayable"}</span>
    </td>
  </tr>
  <tr>
    <td style="width :50%;">
      <strong>[{"MakeReservation","resCustSurname"}] :</strong>
      <br />
      <input id='iSurname[]' type='text' maxLength='30' value='{"Surname"}' onkeypress="return isNameSurnameCharDetur(event);" tabindex="[]02" onChange="onSurnameExit(this.id);" /><em>*</em>
    </td>
    <td colpan="2">
      [{"MakeReservation","resCustName"}]<br />
      <input id='iName[]' type='text' maxLength='30' value='{"Name"}' onkeypress="return isNameSurnameCharDetur(event);" tabindex="[]03" onChange="onNameExit(this.id);" /><em>*</em>
    </td>
  </tr>
  <tr>
    <td style="width :50%;">
      [{"MakeReservation","resCustBirthDate"}]<br />
      <input id='iBirthDay[]' type='text' maxLength='10' onBlur="return SetAge([], '{"ResDate"}', '{"dateFormat"}')" value='{"BirtDay"}' class='formatDate' tabindex="[]04" /> &nbsp;({"dateFormatRegion"})
      <input id='iAge[]' type='hidden' value='' />
    </td>
    <td style="width :25%;">      
      <span type="display:none;"><input id='iHasPassport[]' {"PassportCheck"}  type='checkbox' value='{[]}' tabindex="[]08" /><label for='iHasPassport[]'>[{"MakeReservation","resCustPass"}]</label></span>
    </td>
    <td>       
      <input id='iLeader[]' {"LeaderCheck"} type='radio' name='Leader' value='{[]}' tabindex="[]09" onclick="leaderChange([]);" /><label for='iLeader[]'><strong>[{"MakeReservation","resCustLeader"}]</strong></label>
    </td>
  </tr>  
  <tr>
    <td id="custInfo[]" colspan="3" align="center">
	    {"@import:ResCustInfo@"}
	</td>
  </tr>     
</table>
loop}
