﻿<script type="text/javascript">
  function showHideAgencyFunc() {
  if ($('#showHideEBAgencyImg').attr('onOff') == 'On') {
  $('#showHideEBAgencyImg').attr('onOff', 'Off');
  $('#showHideEBAgencyImg').attr('src', 'Images/infoOpen.gif');
  $('#forAgency').hide();
  }
  else {
  $('#showHideEBAgencyImg').attr('onOff', 'On');
  $('#showHideEBAgencyImg').attr('src', 'Images/infoClose.gif');
  $('#forAgency').show();
  }
  }
</script>


<div style="width: 900px; height: 175px;">
  <div class="ui-helper-clearfix ui-corner-all resMainCss">
    <div class="agencyName">
      <strong>{["MakeReservation","resMainAgency"]}: </strong>
      <span>{"AgencyNameL"}</span>
    </div>
    <div class="agencyUserName">
      <strong>{["MakeReservation","resMainAgencyuser"]}: </strong>
      <span>{"AgencyUserNameL"}</span>
    </div>
  </div>
  <div id="makeResV2HeaderForCustomer">
    <table class="ui-widget tablePayment">
      <tr>
        <td colspan="3">
          {["ResView","lblCurrency"]}:&nbsp;&nbsp;<span class="boldItalic" style="font-size:105%;">{"SaleCur"}</span>
        </td>
      </tr>
      <tr>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentSalePrice"]}:&nbsp;&nbsp;<span class="boldItalic">{"SalePrice"}</span>
        </td>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentPassEB"]}:&nbsp;&nbsp;<span class="boldItalic">{"EBPas"}</span>
        </td>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentPassAmountToPay"]}:&nbsp;&nbsp;<span class="boldItalic">{"PasPayable"}</span>
        </td>
      </tr>
      <tr>
        <td class="style1">
          {["MakeReservation","resPaymentSupDis"]}:&nbsp;&nbsp;<span class="boldItalic">{"Discount"}</span>
        </td>
        <td class="style1">
          &nbsp;
        </td>
        <td class="style1">
          {["MakeReservation","resPaymentBalance"]}:&nbsp;&nbsp;<span class="boldItalic">{"PasBalance"}</span>
        </td>
      </tr>
    </table>
  </div>
  <div id="makeResV2HeaderForAgency">
    <span style="cursor: pointer;" onclick="showHideAgencyFunc();">
      <img id="showHideEBAgencyImg" alt="" src="Images/infoOpen.gif" onoff="Off" />{["MakeReservation","forAgency"]}
    </span>
    <table id="forAgency" class="ui-widget tablePayment" style="display: none;">
      <tr>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentAgencyEB"]}:&nbsp;&nbsp;<span class="boldItalic">{"EBAgency"}</span>
        </td>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentAgencyCom"]}:&nbsp;&nbsp;<span class="boldItalic">{"AgencyCom+AgencyComSup"}</span>
        </td>
        <td style="width: 33%;">
          {["MakeReservation","resPaymentAgencyAmountToPay"]}:&nbsp;&nbsp;<span class="boldItalic">{"AgencyPayable"}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
