﻿<table id="resCustInfo[]" class="ui-widget ui-widget-content ui-corner-all {"VisableElement"}" style="width: 620px;
    text-align: left;" >
  <tr>
    <td colspan="2" align="center" style="height:5px;">&nbsp;</td>
  </tr>
    <tr>
        <td colspan="2" align="center">
            <strong>{["CustomerAddress","divHomeAddressLabel"]}</strong>
        </td>
    </tr>
    <tr>
        <td class="Label">
            <strong>{["CustomerAddress","lblAddress"]} :</strong>
        </td>
        <td>
            <textarea id="AddrHome[]" cols="33" rows="3">{"AddrHome"}</textarea>
        </td>
    </tr>
    <tr>
        <td class="Label">
            <strong>{["CustomerAddress","lblZipCode"]} :</strong>
        </td>
        <td>
            <input id="AddrHomeZip[]" type="text" maxlength="10" style="width: 80px;" value="{"AddrHomeZip"}" />
        </td>
    </tr>
    <tr>
       <td class="Label">
            <strong>{["CustomerAddress","lblCityCountry"]} :</strong>
       </td>
       <td>
            <input id="AddrHomeCity[]" type="text" maxlength="30" style="width: 130px;" value='{"AddrHomeCity"}' />&nbsp;/&nbsp;
            <select id="AddrHomeCountry[]" onchange="homeCountryChanged([]);">{"AddrHomeCountryCode"}</select>
       </td>
    </tr>    
    <tr>        
        <td class="Label">
            <strong>{["CustomerAddress","lblEMail"]} :</strong>        
        </td>
        <td>
            <input id="AddrHomeEmail[]" type="text" maxlength="100" style="width: 250px;" value='{"AddrHomeEmail"}' />
        </td>
    </tr>
  <tr>
    <td colspan="2" align="center" style="height:5px;">&nbsp;</td>
  </tr>
</table>