* html img, * html .png { behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",         this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",         this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),         this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",         this.runtimeStyle.backgroundImage = "none")),this.pngSet=true) ); }
/* CSS Document */
html { height: 100%; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #F8C301; height: 100%; }
/* Login Sayfasi*/
.tvlogo { width: 357px; height: 125px; background-image: url(Logo.png); background-repeat: no-repeat; background-position: center; }
* html .tvlogo { width: 357px; height: 125px; background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Logo.png', sizingMethod='scale'); background-repeat: no-repeat; background-position: center; }

.tvlogoTuras { width: 357px; height: 125px; background-image: url(Logo_Turas.gif); background-repeat: no-repeat; background-position: center; }
* html .tvlogoTuras { width: 357px; height: 125px; background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Logo_Turas.gif', sizingMethod='scale'); background-repeat: no-repeat; background-position: center; }

.Loginalt { width: 357px; height: 31px; background-image: url(login_ust_alt.gif); background-repeat: no-repeat; }

.PoweredBy { text-align: right; font-weight: bold; font-size: 9px; color: #009ccf; margin-top: 10px; width: 357px; }
.login_lg_sol { width: 26px; height: 21px; background-image: url(login_lg_sol.gif); background-repeat: no-repeat; margin-left: 20px; float: left; }


.Loginalt span { height: 21px; background-image: url(login_lg_alt.gif); background-repeat: repeat-x; margin: 0 0 0 25px; text-align: center; float: left; }
.Loginalt h1 { width: auto; background-image: url(login_lg_sag.gif); background-position: right; background-repeat: no-repeat; font-family: Arial, Helvetica, sans-serif; color: #FFF; font-size: 11px; line-height: 21px; float: left; margin-top: 0; padding-right: 30px; margin-left: -25px; white-space: nowrap; text-align: center; padding-left: 10px; }
.LoginOrta { width: 357px; background-image: url(login_orta_alt.gif); background-repeat: repeat-y; clear: both; }
.Loginaltalt { width: 357px; height: 34px; background-image: url(login_alt_alt.gif); background-repeat: no-repeat; }
.Loginaltalt1 { width: 835px; height: 175px; background: url(footer.gif) no-repeat top center; }

.LoginBTAltSol { width: 30px; height: 34px; background-image: url(login_bt_a_sol.gif); background-repeat: no-repeat; float: right; }
*:first-child + html .LoginBTAltSol { width: 30px; height: 34px; background-image: url(login_bt_a_sol.gif); background-repeat: no-repeat; float: right; }
* html .LoginBTAltSol { width: 30px; height: 34px; background-image: url(login_bt_a_sol.gif); background-repeat: no-repeat; float: right; }
.LoginBTAltSag { min-width: 30px; height: 34px; background-image: url(login_bt_a_sag.gif); background-repeat: no-repeat; background-position: right; margin-right: 25px; float: right; }
*:first-child + html .LoginBTAltSag { width: 130px; height: 34px; background-image: url(login_bt_a_sag.gif); background-repeat: no-repeat; background-position: right; margin-right: 25px; padding-right: 7px; float: right; }
* html .LoginBTAltSag { width: 130px; height: 34px; background-image: url(login_bt_a_sag.gif); background-repeat: no-repeat; background-position: right; margin-right: 15px; float: right; }
.login_bt { margin-right: 25px; float: right; }
.login_bt span { width: 10px; height: 20px; padding-bottom: 4px; padding-top: 5px; background-image: url(log_but_sol.png) no-repeat center left; background: url(log_but_sol.png) no-repeat center left; padding-left: 10px; }
*:first-child + html .login_bt span { width: 10px; height: 20px; padding-bottom: 5px; padding-top: 5px; background-image: url(log_but_sol.png) no-repeat center left; background: url(log_but_sol.png) no-repeat center left; padding-left: 10px; }
* html .login_bt span { width: 10px; height: 20px; padding-bottom: 5px; padding-top: 5px; background-image: url(log_but_sol.png) no-repeat center left; background: url(log_but_sol.png) no-repeat center left; }
.login_button { font-family: Arial; font-size: 11px; color: #fff; height: 20px; background-image: url(log_but_sag.png) no-repeat top right; background: url(log_but_sag.png) no-repeat top right; background-repeat: no-repeat; background-position: right; border: 0; padding-right: 10px; }
.login_input { width: 200px; font-family: Arial; font-size: 11px; color: #000; border: 1px solid #dddddd; text-transform:uppercase; }
.yazi { color: #143d8d; font: bold; }

.KareButtonM { color: #FFFFFF; font-size: 9pt; font-family: Tahoma; vertical-align: middle; border: solid 1px #FFFFFF; background: #00a6dd url('default/bt_kare.gif' ) top; background-repeat: repeat-x; padding: 1px 1px 1px 1px; cursor: pointer; cursor: hand; white-space: pre-wrap; }

.KareButtonM:hover { color: #00a6dd; font-size: 9pt; font-family: Tahoma; vertical-align: middle; border: solid 1px #00a6dd; background: #FFFFFF url('default/bt_kare_hover.gif' ) top; background-repeat: repeat-x; padding: 1px 1px 1px 1px; cursor: pointer; cursor: hand; }

.KareButtonM:disabled { color: #6d6d6d; font-size: 9pt; font-family: Tahoma; vertical-align: middle; border: solid 1px #6d6d6d; background: #d7d7d7 url('default/bt_kare_disabled.gif' ) top; background-repeat: repeat-x; padding: 1px 1px 1px 1px; cursor: pointer; cursor: hand; }

#LtNov { width: 357px; }
