﻿<table id="resCustInfo[]" class="ui-widget ui-widget-content ui-corner-all {"VisableElement"}" style="width: 620px; text-align: left; background-color: #f5f5f5 !important;" >
  <tr>
    <td colspan="2" align="center" style="height:5px;">&nbsp;</td>
  </tr>
  <tr>
    <td class="Label">
      <strong>{["CustomerAddress","divContactMobile"]} :</strong>
    </td>
    <td>
      (<span id="MobTelCountryCode[]">{"MobTelCountryCode"}</span> )<input id="MobTel[]" type="text" maxlength="15" style="width: 100px;" value="{"MobTel"}" onkeypress="return isPhoneChar(event);" /><em>*</em>
    </td>
  </tr>
  <tr>
    <td class="Label">
      <strong>{["CustomerAddress","lblTelFax"]} :</strong>
    </td>
    <td>
      (<span id="AddrHomeTelCountryCode[]">{"AddrHomeTelCountryCode"}</span> )<input id="AddrHomeTel[]" type="text" maxlength="15" style="width: 100px;" value="{"AddrHomeTel"}" onkeypress="return isPhoneChar(event);" />&nbsp;/&nbsp;
      (<span id="AddrHomeFaxCountryCode[]">{"AddrHomeFaxCountryCode"}</span> )<input id="AddrHomeFax[]" type="text" maxlength="15" style="width: 100px;" value="{"AddrHomeFax"}" onkeypress="return isPhoneChar(event);" />
    </td>
  </tr>
  <tr>
    <td class="Label">
      <strong>{["CustomerAddress","lblEMail"]} :</strong>
    </td>
    <td>
      <input id="AddrHomeEmail[]" type="text" maxlength="100" style="width: 250px;" value="{"AddrHomeEmail"}" />
      <em>*</em>
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="height:5px;">&nbsp;</td>
  </tr>
</table>