﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Visa.aspx.cs" Inherits="Sunrise_Visa" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <!-- no cache headers -->
  <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <%--<meta http-equiv="refresh" content="300" />--%>
  <!-- end no cache headers -->
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Visa Form</title>

  <script src="../../../Scripts/jquery.min.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery-ui.custom.min.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery.json.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery.query-2.1.7.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery.url.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery-ui-i18n.js" type="text/javascript"></script>
  <script src="../../../Scripts/Tv.Utils.js" type="text/javascript"></script>
  <script src="../../../Scripts/jquery.datepick/jquery-ui-i18n.js" type="text/javascript"></script>

  <link href="../../../CSS/jquery-ui.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
    html { overflow: auto; }
    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    :focus, a:focus, a:active { outline: 0; }
    input { outline: 0; }
    ins { text-decoration: none; }
    del { text-decoration: line-through; }
    table { border-collapse: collapse; border-spacing: 0; }
    body { line-height: 1; font-family: Arial; font-size: 12pt; width: 100%; text-align: center; }
    .mainPage { text-align: center; margin: 2em auto auto; font-family: tahoma, arial, "sans serif"; background: #fff; color: #000; clear: both; font-size: 0.7em; width: 1000px; }
      .mainPage fieldset { border-bottom: #e4e4e4 1px solid; border-left: #e4e4e4 1px solid; padding-bottom: 10px; padding-left: 10px; padding-right: 10px; border-top: #e4e4e4 1px solid; border-right: #e4e4e4 1px solid; padding-top: 0px; }
    #visaInput fieldset { margin: auto; }
    .row { height: 30px; }
    .input { text-align: left; width: 400px; }
      .input :hover { border: solid 1px Red; }
    #visaInput fieldset div.row { width: 900px; text-align: left; margin-bottom: 2px; clear: both; min-height: 30px; }
    .helpalt img { vertical-align: sub; }
    .container { margin: auto; width: 99%; }
    .red { color: Red; }
    input .required { border: solid 1px Red; }
    legend { font-weight: bold; }
    .leftTD { width: 35%; text-align: left; }
    #visaInfoDiv table td { height: 25px; text-align: left; }
    .datepic { width: 85px; }

    @media print {
      #noPrintDiv { display: none; visibility: hidden; }
    }

    .style1 { width: 35%; text-align: left; height: 25px; }
    .style2 { height: 25px; }
  </style>

  <script type="text/javascript">

    $(function () {
      var rx = /INPUT|TEXTAREA/i;
      var rxT = /RADIO|CHECKBOX|SUBMIT/i;

      $(document).bind("keydown keypress", function (e) {
        var preventKeyPress;
        if (e.keyCode == 8) {
          var d = e.srcElement || e.target;
          if (rx.test(e.target.tagName)) {
            var preventPressBasedOnType = false;
            if (d.attributes["type"]) {
              preventPressBasedOnType = rxT.test(d.attributes["type"].value);
            }
            preventKeyPress = d.readOnly || d.disabled || preventPressBasedOnType;
          } else { preventKeyPress = true; }
        } else { preventKeyPress = false; }

        if (preventKeyPress) e.preventDefault();
      });
    });


    function logout() {
      self.parent.logout();
    }

    var _selected;
    var uploader;

    function previousShengenChange(value) {
      if (value == '0')
        $("#PSFromTo").hide();
      else $("#PSFromTo").show();
    }

    function visaOK() {
      if ($("#VISA_INPUTED").is(':checked'))
        $("#finishVisaBtn").removeAttr('disabled');
      else $("#finishVisaBtn").attr('disabled', 'disabled');
    }

    function maritalStatusChange() {
      if ($("#MaritalStatus").val() == '5')
        $("#MaritalStatusOther").show();
      else $("#MaritalStatusOther").hide();
    }

    function getCustForm(custNo, serviceID) {
      $("#BirthSurName").val('');
      $("#BirthPlaced").val('');
      $("#MaritalStatus").val('');
      $("#MaritalStatusOther").val('');
      $("#BirthCountry").val('');
      $("#Nationality").val('');
      $("#NationalityOriginal").val('');
      $("#PreviousShengen").val('');
      $("#PSFrom1").val('');
      $("#PSTo1").val('');
      $("#PSFrom2").val('');
      $("#PSTo2").val('');
      $("#PSFrom3").val('');
      $("#PSTo3").val('');
      $("#PSFrom4").val('');
      $("#PSTo4").val('');
      $("#destCountry").val('');
      $("#firstEntryCountry").val('');
      $("#Address").val('');
      $("#Phone").val('');
      $("#MobTel").val('');
      $("#LegalRepSurname").val('');
      $("#LegalRepName").val('');
      $("#LegalRepAddress").val('');
      $("#LegalRepCitizenship").val('');
      $("#OccupationIndex").val('');
      $("#EmployerName").val('');
      $("#EmployerAddress").val('');
      $("#EmployerPhone").val('');
      //$("#OrgName").val('');
      //$("#OrgAddress").val('');
      //$("#OrgPhone").val('');

      $("#serviceID").val(serviceID);

      $("#custNo").val(custNo);


      var surNameL = '';
      var nameL = '';

      var d = new Date();

      $.ajax({
        async: false,
        type: "POST",
        url: "Visa.aspx/getCustForm",
        data: '{"CustNo":"' + custNo + '","SurnameL":"' + surNameL + '","NameL":"' + nameL + '"}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (msg) {
          if (msg != null && msg.hasOwnProperty('d') && (msg.d != null)) {
            var data = msg.d;
            $(".mainPage").show();
            $.each(data, function (i) {
              switch (this.TagName) {
                case 'jQDateTime':
                  var ID = "#" + this.IdName;
                  if (this.Value != null && this.Value.toString() != '')
                    $(ID).datepicker('setDate', JulianToDate(this.Value));
                  else $(ID).datepicker('setDate', null);
                  break;
                case 'combo':
                  var ID = "#" + this.IdName;
                  $(ID).html('');
                  $(ID).append("<option value=''>-----</option>");
                  $.each($.json.decode(this.Data.replace(/</g, '{').replace(/>/g, '}').replace(/!/g, '"')), function (i) {
                    $(ID).append("<option value='" + this.RecID + "'>" + this.Name + "</option>");
                  });
                  break;
                case 'span':
                  $("#" + this.IdName).html('');
                  $("#" + this.IdName).html(this.Data);
                  break;
                case 'text':
                  $("#" + this.IdName).text('');
                  $("#" + this.IdName).text(this.Data);
                  break;
                case 'value':
                  $("#" + this.IdName).val('');
                  $("#" + this.IdName).val(this.Data);
                  break;
                case 'div':
                  $("#" + this.IdName).html('');
                  $("#" + this.IdName).html(this.Data.replace(/!/g, '"'));
                  break;
                case 'img':
                  $("#" + this.IdName).removeAttr("src");
                  $("#" + this.IdName).attr("src", this.Data + '?v=' + (new Date().getTime()));
                  break;
                case 'display':
                  $("#" + this.IdName).css("display", this.Data);
                  break;
                case 'checbox':
                  $("#" + this.IdName).removeAttr('checked');
                  if (this.Data != '')
                    $("#" + this.IdName).attr('checked', this.Data);
                  break;
                default:
                  $("#" + this.IdName).val('');
                  $("#" + this.IdName).val(this.Data);
                  break;
              }
            });
          }
          maritalStatusChange();
          previousShengenChange($("#PreviousShengen").val());
          visaOK();
        },
        error: function (xhr, msg, e) {
          alert(xhr.responseText);
        },
        statusCode: {
          408: function () {
            logout();
          }
        }
      });
    }

    function getFormData() {
      $("#BirthSurName").val('');
      $("#BirthPlaced").val('');
      $("#MaritalStatus").val('');
      $("#MaritalStatusOther").val('');
      $("#BirthCountry").val('');
      $("#Nationality").val('');
      $("#NationalityOriginal").val('');
      $("#PreviousShengen").val('');
      $("#PSFrom1").val('');
      $("#PSTo1").val('');
      $("#PSFrom2").val('');
      $("#PSTo2").val('');
      $("#PSFrom3").val('');
      $("#PSTo3").val('');
      $("#PSFrom4").val('');
      $("#PSTo4").val('');
      $("#destCountry").val('');
      $("#firstEntryCountry").val('');
      $("#Address").val('');
      $("#Phone").val('');
      $("#MobTel").val('');
      $("#LegalRepSurname").val('');
      $("#LegalRepName").val('');
      $("#LegalRepAddress").val('');
      $("#LegalRepCitizenship").val('');
      $("#OccupationIndex").val('');
      $("#EmployerName").val('');
      $("#EmployerAddress").val('');
      $("#EmployerPhone").val('');
      //$("#OrgName").val('');
      //$("#OrgAddress").val('');
      //$("#OrgPhone").val('');

      $("#serviceID").val('');
      $.ajax({
        async: false,
        type: "POST",
        url: "Visa.aspx/getFormData",
        data: '{}',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (msg) {
          if (msg.hasOwnProperty('d') && msg.d != '') {
            $("#custListDiv").html('');
            $("#custListDiv").html(msg.d);
          }
        },
        error: function (xhr, msg, e) {
          alert(xhr.responseText);
        },
        statusCode: {
          408: function () {
            logout();
          }
        }
      });
    }

    var retVal = '';
    var checkValidateMsg = '';

    function checkValidate(obj) {
      var msg = '';

      retVal = '';
      checkValidateMsg = '';

      if (obj.txtSurname == '') { retVal = retVal.toString().length > 0 ? retVal : 'txtSurname'; msg += 'Surname is empty \n'; }
      if (obj.txtName == '') { retVal = retVal.toString().length > 0 ? retVal : 'txtName'; msg += 'Name is empty \n'; }
      if (obj.txtGender == '') { retVal = retVal.toString().length > 0 ? retVal : 'txtGender'; msg += 'Gender is empty \n'; }
      if (obj.txtBirthDate == '') { retVal = ''; msg += 'Birth date is empty \n'; }
      if (obj.txtPassSerieNo == '') { retVal = ''; msg += 'Passport Serie or Passport No is empty \n'; }
      if (obj.txtPassIssueDate == '') { retVal = ''; msg += 'Passport Issue Date is empty \n'; }
      if (obj.txtPassExpDate == '') { retVal = ''; msg += 'Passport Exp. Date is empty \n'; }
      if (obj.txtPassIssueBy == '') { retVal = ''; msg += 'Кем выдан \n'; }

      if (obj.BirthSurName == '') { retVal = retVal.toString().length > 0 ? retVal : 'BirthSurName'; msg += 'Birth Surname is empty \n'; }
      if (obj.BirthPlaced == '') { retVal = retVal.toString().length > 0 ? retVal : 'BirthPlaced'; msg += 'Birth Of Placed is empty \n'; }
      if (obj.BirthCountry == '') { retVal = retVal.toString().length > 0 ? retVal : 'BirthCountry'; msg += 'Birth of Country is empty \n'; }
      if (obj.Nationality == '') { retVal = retVal.toString().length > 0 ? retVal : 'Nationality'; msg += 'Nationalty is empty \n'; }
      if (obj.NationalityOriginal == '') { retVal = retVal.toString().length > 0 ? retVal : 'NationalityOriginal'; msg += 'Nationality Original is empty \n'; }
      if (obj.MaritalStatus == '') { retVal = retVal.toString().length > 0 ? retVal : 'MaritalStatus'; msg += 'Marital Status is empty \n'; }
      if (obj.MaritalStatus == '5') {
        if (obj.MaritalStatusOther == '') { retVal = retVal.toString().length > 0 ? retVal : 'MaritalStatusOther'; msg += 'Marital Status Other is empty \n'; }
      }
      if (obj.Address == '') { retVal = retVal.toString().length > 0 ? retVal : 'Address'; msg += 'Address is empty \n'; }
      /*
      if (obj.Phone == '') { retVal = retVal.toString().length > 0 ? retVal : 'Phone'; msg += 'Phone is empty \n'; }
      if (obj.EMail == '') { retVal = retVal.toString().length > 0 ? retVal : 'EMail'; msg += 'Email is empty \n'; }            
      if (obj.OccupationIndex == '') { retVal = retVal.toString().length > 0 ? retVal : 'OccupationIndex'; msg += 'Occupation is empty \n'; }
      
      if (obj.EmployerName == '') { retVal = retVal.toString().length > 0 ? retVal : 'EmployerName'; msg += 'Employer Name is empty \n'; }
      if (obj.EmployerAddress == '') { retVal = retVal.toString().length > 0 ? retVal : 'EmployerAddress'; msg += 'Employer Address is empty \n'; }
      if (obj.EmployerPhone == '') { retVal = retVal.toString().length > 0 ? retVal : 'EmployerPhone'; msg += 'Employer Phone is empty \n'; }
      */

      if (msg != '') {
        checkValidateMsg = msg;
        return false;
      } else return true;
    }

    function finishVisa() {
      obj = new Object();
      obj.serviceID = $("#serviceID").val();
      obj.custNo = $("#custNo").val();
      obj.txtSurname = $("#txtSurname").text();
      obj.txtName = $("#txtName").text();
      obj.txtGender = $("#txtGender").val();
      obj.txtBirthDate = $("#txtBirthDate").text();
      obj.txtPassSerieNo = $("#txtPassSerieNo").text();
      obj.txtPassIssueDate = $("#txtPassIssueDate").text();
      obj.txtPassExpDate = $("#txtPassExpDate").text();
      obj.txtPassIssueBy = $("#txtPassIssueBy").text();
      obj.BirthSurName = $("#BirthSurName").val();
      obj.BirthPlaced = $("#BirthPlaced").val();
      obj.BirthCountry = $("#BirthCountry").val();
      obj.Nationality = $("#Nationality").val();
      obj.NationalityOriginal = $("#NationalityOriginal").val();
      obj.MaritalStatus = $("#MaritalStatus").val();
      obj.MaritalStatusOther = $("#MaritalStatusOther").val();
      obj.Address = $("#Address").val();
      obj.Phone = $("#Phone").val();
      obj.MobTel = $("#MobTel").val();
      obj.OccupationIndex = $("#OccupationIndex").val();
      obj.EmployerName = $("#EmployerName").val();
      obj.EmployerAddress = $("#EmployerAddress").val();
      obj.EmployerPhone = $("#EmployerPhone").val();
      obj.PreviousShengen = $("#PreviousShengen").val();
      obj.PSFrom1 = $("#PSFrom1").val() != '' ? parseInt(ConvertToJulian($("#PSFrom1").datepicker("getDate"))) : null;
      obj.PSFrom2 = $("#PSFrom2").val() != '' ? parseInt(ConvertToJulian($("#PSFrom2").datepicker("getDate"))) : null;
      obj.PSFrom3 = $("#PSFrom3").val() != '' ? parseInt(ConvertToJulian($("#PSFrom3").datepicker("getDate"))) : null;
      obj.PSFrom4 = $("#PSFrom4").val() != '' ? parseInt(ConvertToJulian($("#PSFrom4").datepicker("getDate"))) : null;
      obj.PSTo1 = $("#PSTo1").val() != '' ? parseInt(ConvertToJulian($("#PSTo1").datepicker("getDate"))) : null;
      obj.PSTo2 = $("#PSTo2").val() != '' ? parseInt(ConvertToJulian($("#PSTo2").datepicker("getDate"))) : null;
      obj.PSTo3 = $("#PSTo3").val() != '' ? parseInt(ConvertToJulian($("#PSTo3").datepicker("getDate"))) : null;
      obj.PSTo4 = $("#PSTo4").val() != '' ? parseInt(ConvertToJulian($("#PSTo4").datepicker("getDate"))) : null;
      obj.VisaCountry1 = $("#VisaCountry1").val();
      obj.VisaCountry2 = $("#VisaCountry2").val();
      obj.VisaCountry3 = $("#VisaCountry3").val();
      obj.VisaCountry4 = $("#VisaCountry4").val();
      obj.destCountry = $("#destCountry").val();
      obj.firstEntryCountry = $("#firstEntryCountry").val();
      obj.LegalRepSurname = $("#LegalRepSurname").val();
      obj.LegalRepName = $("#LegalRepName").val();
      obj.LegalRepAddr = $("#LegalRepSurname").val();
      obj.LegalRepCitizenship = $("#LegalRepCitizenship").val();
      obj.OrgName = ''; //$("#OrgName").val();
      obj.OrgAddress = ''; //$("#OrgAddress").val();
      obj.OrgPhone = ''; //$("#OrgPhone").val();

      if (checkValidate(obj)) {
        $.ajax({
          async: false,
          type: "POST",
          url: "Visa.aspx/printVisa",
          data: '{"data":"' + $.json.encode(obj).replace(/"/g, '!').replace(/{/g, '<').replace(/}/g, '>') + '"}',
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function (msg) {
            if (msg.hasOwnProperty('d') && msg.d != null) {
              if (msg.d.localUrl == 'OK' && msg.d.extrnUrl == 'OK') {
                $(".mainPage").hide();
                getFormData();
              } else alert('Анкета на визу не создана. Пожалуйста, попробуйте еще раз.');
            } else alert('Анкета на визу не создана. Пожалуйста, попробуйте еще раз.');
          },
          error: function (xhr, msg, e) {
            alert(xhr.responseText);
          },
          statusCode: {
            408: function () {
              logout();
            }
          }
        });
      }
      else {
        alert(checkValidateMsg);
        if ($('#' + retVal) != undefined && $('#' + retVal) != null && $('#' + retVal).length > 0)
          $('#' + retVal).focus();
      }
    }

    $(document).ready(
        function () {
          self.parent.viewReportRemoveButton('<%= GetGlobalResourceObject("LibraryResource", "btnPrint") %>');
              self.parent.viewReportRemoveButton('<%= GetGlobalResourceObject("LibraryResource", "btnPDF") %>');
              $.query = $.query.load(location.href);
              var resNo = $.query.get('ResNo');
              getFormData();
              $.datepicker.setDefaults($.datepicker.regional['ru']);
              $("#PSFrom1").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSTo1").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSFrom2").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSTo2").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSFrom3").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSTo3").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSFrom4").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
              $("#PSTo4").datepicker({
                showOn: "button",
                buttonImage: "Calendar.gif",
                changeMonth: true,
                changeYear: true,
                buttonImageOnly: true
              });
            });
  </script>

</head>
<body>
  <form id="VisaForm" runat="server">
    <input id="param1" type="hidden" value="" />
    <input id="custNo" type="hidden" value="" />
    <input id="serviceID" type="hidden" value="" />
    <div id="noPrintDiv">
      <div id="custListDiv">
      </div>
    </div>
    <div class="mainPage" style="display: none;">
      <div id="visaInput" class="container">
        <div id="visaInfoDiv">
          <strong>Все данные заполняются латинскими буквами</strong>
          <fieldset>
            <legend><strong>Персональная информация</strong></legend>
            <table style="width: 950px;">
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: Мужской (Male)" src="helpalt.gif" />&nbsp;Пол
                </td>
                <td>
                  <select id="txtGender" class="required">
                    <option value="">-----</option>
                    <option value="M">Мужской (Male)</option>
                    <option value="F">Женский (Female)</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="style1">Фамилия
                </td>
                <td class="style2">
                  <span id="txtSurname"></span>
                </td>
              </tr>
              <tr>
                <td class="leftTD">Фамилия при рождении (если менялась)
                </td>
                <td>
                  <input id="BirthSurName" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Имя
                </td>
                <td>
                  <span id="txtName"></span>
                </td>
              </tr>
              <tr>
                <td class="style1">Дата рождения
                </td>
                <td class="style2">
                  <span id="txtBirthDate"></span>
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: MOSKOVSKAYA OBL." src="helpalt.gif" />
                  &nbsp;Место рождения (строго как в заграничном паспорте)
                </td>
                <td>
                  <input id="BirthPlaced" class="input" type="text" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: Женат (Married)" src="helpalt.gif" />
                  &nbsp;Семейное положение
                </td>
                <td>
                  <select id="MaritalStatus" class="required" onchange="maritalStatusChange()">
                    <option value="">-----</option>
                    <option value="1">один (Single)</option>
                    <option value="2">женат (Married)</option>
                    <option value="3">разведенный (Divorced)</option>
                    <option value="4">овдовевший (Widowed)</option>
                  </select>&nbsp;&nbsp;<input id="MaritalStatusOther" style="width: 200px;" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: URSS" src="helpalt.gif" />
                  &nbsp;Страна рождения
                </td>
                <td>
                  <select id="BirthCountry" class="required">
                  </select>
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: Russian Federation" src="helpalt.gif" />
                  &nbsp;Гражданство в настоящее время
                </td>
                <td>
                  <select id="Nationality" class="required">
                  </select>
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: URSS" src="helpalt.gif" />
                  &nbsp;Гражданство при рождении
                </td>
                <td>
                  <select id="NationalityOriginal" class="required">
                  </select>
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например : 717203677" src="helpalt.gif" />
                  &nbsp;Номер паспорта
                </td>
                <td>
                  <span id="txtPassSerieNo"></span>
                  <input id="txtIDNo" type="hidden" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Дата выдачи загранпаспорта паспорта
                </td>
                <td>
                  <span id="txtPassIssueDate"></span>
                </td>
              </tr>
              <tr>
                <td class="style1">Действителен до
                </td>
                <td class="style2">
                  <span id="txtPassExpDate"></span>
                </td>
              </tr>
              <tr>
                <td class="leftTD">Кем выдан загранпаспорт
                </td>
                <td>
                  <span id="txtPassIssueBy"></span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                      <td class="leftTD">Шенгенкие визы за последние три года
                      </td>
                      <td>
                        <select id="PreviousShengen" onchange="previousShengenChange(this.value);">
                          <option value="0" selected="selected">Нет</option>
                          <option value="1">Да</option>
                        </select>
                      </td>
                    </tr>
                  </table>
                  <table id="PSFromTo" cellpadding="0" cellspacing="0" style="width: 100%; display: none;">
                    <tr>
                      <td style="text-align: right !important; width: 35%;">Дата начала-окончания визы #1&nbsp;&nbsp;
                      </td>
                      <td style="vertical-align: super !important;">
                        <select id="VisaCountry1" />&nbsp;&nbsp;C
                                            <input type="text" id="PSFrom1" name="PSFrom1" class="datepic" />
                        &nbsp;по&nbsp;<input type="text" id="PSTo1" name="PSTo1" class="datepic" />
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: right !important; width: 35%;">Дата начала-окончания визы #2&nbsp;&nbsp;
                      </td>
                      <td valign="middle">
                        <select id="VisaCountry2" />&nbsp;&nbsp;C
                                            <input type="text" id="PSFrom2" name="PSFrom2" class="datepic" />
                        &nbsp;по&nbsp;<input type="text" id="PSTo2" name="PSTo2" class="datepic" />
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: right !important; width: 35%;">Дата начала-окончания визы #3&nbsp;&nbsp;
                      </td>
                      <td valign="middle">
                        <select id="VisaCountry3" />&nbsp;&nbsp;C
                                            <input type="text" id="PSFrom3" name="PSFrom3" class="datepic" />
                        &nbsp;по&nbsp;<input type="text" id="PSTo3" name="PSTo3" class="datepic" />
                      </td>
                    </tr>
                    <tr>
                      <td style="text-align: right !important; width: 35%;">Дата начала-окончания визы #4&nbsp;&nbsp;
                      </td>
                      <td valign="middle">
                        <select id="VisaCountry4" />&nbsp;&nbsp;C
                                            <input type="text" id="PSFrom4" name="PSFrom4" class="datepic" />
                        &nbsp;по&nbsp;<input type="text" id="PSTo4" name="PSTo4" class="datepic" />
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td class="leftTD">список стран для выбора из списка
                </td>
                <td></td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="рассмотреть возможность отображения этого поля только при заполнении анкеты на Итальянскую визу"
                    src="helpalt.gif" />
                  &nbsp;Страна(ы) назначения / Страна первого въезда
                </td>
                <td>
                  <select id="destCountry">
                  </select>
                  &nbsp;&nbsp; / &nbsp;&nbsp;
                                <select id="firstEntryCountry">
                                </select>
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: MOW, PESCHANAYA, 2/2-271" src="helpalt.gif" />
                  &nbsp;Фактический адрес проживания
                </td>
                <td>
                  <input id="Address" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Домашний (код-номер)
                </td>
                <td>
                  <input id="Phone" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Мобильный (код-номер)
                </td>
                <td>
                  <input id="MobTel" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
            </table>
            <table style="width: 950px;" id="section10Div">
              <tr>
                <td class="leftTD">ФИО законного представителя (Фамилия / Имя)
                </td>
                <td>
                  <input id="LegalRepSurname" type="text" class="input" style="width: 45%;" onkeypress="return isNonUniCodeChar(event);" />&nbsp;/&nbsp;
                                <input id="LegalRepName" type="text" class="input" style="width: 45%;" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Адрес законного представителя
                </td>
                <td>
                  <input id="LegalRepAddr" type="text" style="height: 48px;" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">Гражданство законного представителя
                </td>
                <td>
                  <input id="LegalRepCitizenship" type="text" class="input" style="width: 45%;" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
            </table>
            <table style="width: 950px;">
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например: ARTIST" src="helpalt.gif" />
                  &nbsp;Профессия
                </td>
                <td>
                  <input id="OccupationIndex" type="text" class="input" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например : LTD DYADYA LENYA" src="helpalt.gif" />
                  &nbsp;Название организации / учебного заведения
                </td>
                <td>
                  <input id="EmployerName" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например : MOW, LENINGRADSKII PR 80/16" src="helpalt.gif" />
                  &nbsp;Адрес организации / учебного заведения
                </td>
                <td>
                  <input id="EmployerAddress" type="text" style="height: 48px;" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <tr>
                <td class="leftTD">
                  <img alt="" title="Например : 4957999292" src="helpalt.gif" />
                  &nbsp;Телефон организации / учебного заведения
                </td>
                <td>
                  <input id="EmployerPhone" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                </td>
              </tr>
              <%--
                        <tr>
                            <td class="leftTD">
                                <img alt="" title="Например : LTD DYADYA LENYA" src="helpalt.gif" />
                                &nbsp;Название организации / учебного заведения
                            </td>
                            <td>
                                <input id="OrgName" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                            </td>
                        </tr>
                        <tr>
                            <td class="leftTD">
                                <img alt="" title="Например : MOW, LENINGRADSKII PR 80/16" src="helpalt.gif" />
                                &nbsp;Адрес организации / учебного заведения
                            </td>
                            <td>
                                <input id="OrgAddress" type="text" style="height: 48px;" class="input" onkeypress="return isNonUniCodeChar(event);" />
                            </td>
                        </tr>
                        <tr>
                            <td class="leftTD">
                                <img alt="" title="Например : 4957999292" src="helpalt.gif" />
                                &nbsp;Телефон организации / учебного заведения
                            </td>
                            <td>
                                <input id="OrgPhone" type="text" class="input" onkeypress="return isNonUniCodeChar(event);" />
                            </td>
                        </tr>
              --%>
            </table>
          </fieldset>
          <div>
            <input id="VISA_INPUTED" type="checkbox" onclick="visaOK()" />
            Я уверен(а), что анкета заполнена правильно, вся предоставленная информация достоверна
                    и готова к передаче в консульство
                    <br />
            <span class="red">(после внесения данной отметки редактирование анкеты невозможно)</span>.
                    <br />
            <input id="finishVisaBtn" type="button" onclick="finishVisa()" disabled="disabled"
              value="Сохранить" />
          </div>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
