﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; outline: 0; border: 0; text-decoration: none; font-size: 100%; }
body { line-height: 1; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-spacing: 0; border-collapse: collapse; }
.clear { clear: both; }
/*Sifirlama */


html, body { width: 502px; height: 190px; font: normal 11px/15px tahoma, verdana, sans-serif; }

.PasswordDiv { width: 500px; height: 188px; }
    .PasswordDiv table { height: 154px; border-width: 1px; border-style: solid; }
        .PasswordDiv table .header { height: 35px; background-color: #999; color: #FFF; vertical-align: middle; text-align: center; font-weight: bold; font-size: small; font-family: Verdana; }
        .PasswordDiv table .tdLeft { padding-right: 5px; width: 145px; text-align: right; font-weight: bold; }
        .PasswordDiv table .tdRight { width: 350px; text-align: right; font-weight: bold; }
            .PasswordDiv table .tdRight .input { width: 95%; }
