﻿#footer { margin: auto; width: 100%; height: 50px; }
#footerMenu { padding-left: 50px; height: 100%; }
    #footerMenu table { height: 48px; font-style: normal; }
a.LogoutLink:link, a.LogoutLink:visited { color: #143d8d; text-align: center; text-decoration: none; white-space: nowrap; }
a.LogoutLink:hover { color: #00a6dd; text-decoration: none; }
