﻿#LogoutMenu { width: 100%; height: 30px; font-size: 85%; }
#logoutLeft { width: 5px; height: 30px; }
#logoutRight { width: 5px; height: 30px; }
#smallMenuTd { }
#flagTd { white-space: nowrap; }
#UstTablo { width: 100%; height: 115px; background-color: #FFFFFF; }
.divCommonLeft { margin: 2px 0px 2px 2px; width: 208px; height: 115px; }
.commonLeftTd { width: 210px; }
#commonCenterTd { width: 100%; }
#divCommonCenter { margin: 2px 2px 2px 2px; width: 100%; height: 105px; }
span.LogoutLink { color: #143d8d; text-align: center; text-decoration: none; white-space: nowrap; cursor: default; }
    span.LogoutLink:hover { color: #00a6dd; text-decoration: none; cursor: default; }
a.LogoutLink:link, a.LogoutLink:visited { color: #143d8d; text-align: center; text-decoration: none; white-space: nowrap; }
a.LogoutLink:hover { color: #00a6dd; text-decoration: none; }
.linkCss { cursor: pointer; }


div .divCommonCenter { position: relative; display: block; overflow: hidden; height: 105px; }
div .CommonAnnounce { position: absolute; }
