﻿#Menu { position: relative; width: 100%; padding: 0; margin: 0 auto 0 auto; background: url(Images/menu_alt.gif) repeat-x; height: 38px; line-height: 38px; list-style: none; }
#Menu ul { padding-left: 3px; width: 1000px; }
#Menu li { float: left; margin-left: 0px; display: inline; border-left: 1px solid #00c1f6; border-right: 1px solid #143e8d; }
#Menu a { float: left; margin: 0px; padding-left: 0px; text-decoration: none; color: #FFFFFF; line-height: 38px; height: 38px; }
#Menu span { float: left; display: block; background: url("Images/menusag.gif") no-repeat left top; padding-top: 15px; padding-right: 5px; padding-bottom: 38px; padding-left: 5px; color: #FFFFFF; font: bold 10px/1.5em Verdana; cursor: pointer; }
#Menu .MnBtnEnable { color: #FFFFFF; height: 27px; background-color: transparent; border: 0; cursor: pointer; padding-top: 10px; padding-bottom: 1px; }
* html #Menu .MnBtnEnable { color: #143d8d; height: 27px; background-color: transparent; border: 0; cursor: pointer; padding-top: 10px; padding-bottom: 1px; }
#Menu .MnBtnEnable:hover { color: #143d8d; height: 27px; background-color: transparent; border: 0px; cursor: pointer; padding-top: 10px; padding-bottom: 1px; }
#Menu a:hover span { color: #143d8d; }
#Menu a:hover { background-position: 0% -38px; }
#Menu a:hover span { background-position: 0% -38px; }
#Menu .Secilmis span { color: #143d8d; line-height: 38px; height: 38px; background-position: 0% -76px !important; padding: 0 5px 0 5px; }
#Menu .Secilmis { background-position: 0% -76px !important; line-height: 38px; height: 38px; }
