﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: 1; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }
/*Sifirlama */


html, body { height: 380px; width: 710px; font: normal 10px/15px tahoma, verdana, sans-serif; }
#divAnnounce { height: 380px; width: 710px; }
.announceRowDiv { width: 100%; border: solid 1px #999; background-color: #CCC; min-height: 35px; }
.annonceRow { float: left; width: 595px; background-color: #DDD; margin: 4px 4px 4px 6px; min-height: 30px; }
.annonceRowCheck { float: left; width: 100px; background-color: #DDD; margin: 4px 0px 0px 0px; height: 25px; }
