﻿<link href="HotelOfferStyles.css" rel="stylesheet" />
    <div class="ui-helper-clearfix" style="text-align:center;">
        <h2>{{AgencyInfo}}</h2>
        <span style="font-weight:bold; font-size:12pt;">Oferta detaliata</span>
    </div>
    <div class="ui-helper-clearfix ui-widget-header hotelInformationHeader">
        <span class="hotelName">{{HotelName}}</span>
    </div>
    <div class="ui-helper-clearfix hotelInformation">        
        <table width="100%">
            <tr>
                <td class="hotelDiv">
                    <div class="hotelPress">
                        {{#HotelPressTextList}}
                        <div class="ui-helper-clearfix">
                            <div style="font-weight:bold; font-size: 102%;">
                                {{TextCatLocalName}}
                            </div>
                            <div>
                                {{{PresText}}}
                            </div>
                        </div>
                        {{/HotelPressTextList}}
                    </div>
                    <br />
                    <div>
                        <span style="font-weight: bold;">Web page: </span>{{WebPage}}
                    </div>
                    <br />
                    <div class="serviceList">
                        <span style="font-weight:bold;">SERVICII INCLUSE:</span><br />
                        {{#ServiceList}}
                        <span>{{StepNo}}. {{LocalName}}</span><br />
                        {{/ServiceList}}
                    </div>
                </td>
                <td class="imageDiv">
                    <img alt="" src="{{HotelImage}}" />
                </td>
            </tr>
        </table>
    </div>
    <div class="ui-helper-clearfix priceDetails">
        <!--Price Detail
        <div class="flightsInfo">
            <div class="flightsInfoHeader">
                Detalii zbor
            </div>
            <table>
                <thead>
                    <tr>                        
                        <th>Nr.Zbor</th>
                        <th>Data</th>
                        <th>Decolare</th>
                        <th>Ora</th>
                        <th>Aterizare</th>
                        <th>Ora</th>                        
                    </tr>
                </thead>
                <tbody>
                    {{#flights}}
                    <tr>                        
                        <td>{{FlightNo}}</td>
                        <td>{{FlyDate}}</td>
                        <td>{{Departure}}</td>
                        <td>{{DepTime}}</td>
                        <td>{{Arrival}}</td>
                        <td>{{ArrTime}}</td>                        
                    </tr>
                    {{/flights}}
                </tbody>
            </table>
        </div>-->
        <br />
        <div class="roomsPrice">
            <div class="roomsPriceHeader">
               Detalii camere
            </div>
            <table>
                <thead>
                    <tr class="ui-widget-header">                        
                        <th>Tip camera</th>
                        <th>Tip masa</th>                        
                        <th>Pret redus</th>
                        <th></th>                        
                    </tr>
                </thead>
                <tbody>
                    {{#roomPrice}}
                    <tr {{#oddeven}}class="ui-state-focus"{{/oddeven}}>
                        <td>{{RoomName}}</td>
                        <td>{{BoardName}}</td>                        
                        <td>{{SalePrice}}</td>
                        <td>{{OfferStr}}</td>                        
                    </tr>
                    {{/roomPrice}}
                </tbody>
            </table>
        </div>
    </div>
