﻿
.dateStyle { width: 90px; }
.numericStyle { text-align: right; }

.exportDiv { text-align: right; height: 30px; }

#divSum .reservationPager { clear: both; width: 100%; height: 30px; background-color: #CCC; }
#divSum .reservationHeaderRow { min-height: 35px; background-color: #A5A5A5; color: #FFF; }
#divSum .reservationRow { clear: both; font-size: 7pt; }
#divSum .reservationHeaderRow td { text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#divSum .reservationRow td { text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; position: relative; }
#divSum .reservationRow .rightaligned { text-align: right; }
#divSum .reservationRow .centeraligned { text-align: center; }

#resMonitorGrid tr.odd.gradeU .rightaligned { text-align: right; }
#resMonitorGrid tr.odd.gradeU .centeraligned { text-align: center; }
#resMonitorGrid tr.even.gradeU .rightaligned { text-align: right; }
#resMonitorGrid tr.even.gradeU .centeraligned { text-align: center; }

.buton table { height: 20px; font-family: Tahoma; font-size: 8pt; }
.buton #tdLeft { width: 25px; white-space: nowrap; background: url(../Images/detailbtnleft.png) no-repeat right bottom; }
.buton #tdCenter { white-space: nowrap; background: url(../Images/detailbtn.png); }
.buton #tdRight { width: 25px; white-space: nowrap; background: url(../Images/detailbtnright.png) no-repeat left bottom; }

#ResMonitorForm .FilterArea { clear: both; width: 1000px; }
    #ResMonitorForm .FilterArea .divResNo { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divResBegDate { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divResEndDate { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divResRegisterDate { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divHolpack { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divDepCity { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divArrCity { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divSelect { clear: both; text-align: left; width: 100%; height: 25px; }
    #ResMonitorForm .FilterArea .divSum { clear: both; text-align: left; width: 100%; }

    #ResMonitorForm .FilterArea .divAgencyOfficeAgencyUser { clear: both; text-align: left; width: 440px; height: 40px; }
    #ResMonitorForm .FilterArea .divAgencyOffice { float: left; width: 210px; height: 40px; }
    #ResMonitorForm .FilterArea .divAgencyUser { float: left; width: 210px; height: 40px; }
    #ResMonitorForm .FilterArea .divLeader { clear: both; text-align: left; width: 440px; height: 40px; }
    #ResMonitorForm .FilterArea .divSurname { float: left; width: 210px; height: 40px; }
    #ResMonitorForm .FilterArea .divName { float: left; width: 210px; height: 40px; }
    #ResMonitorForm .FilterArea .divStatus { clear: both; margin: 2px 2px 2px 2px; text-align: left; }
        #ResMonitorForm .FilterArea .divStatus table { width: 100%; }
            #ResMonitorForm .FilterArea .divStatus table td { width: 32%; }

#ResMonitorForm .divFilterButton { clear: both; width: 100%; text-align: center; height: 35px; }
    #ResMonitorForm .divFilterButton table { width: 320px; height: 100%; text-align: center; }
        #ResMonitorForm .divFilterButton table td { width: 50%; vertical-align: middle; }


#ResMonitorForm .LeftDiv { width: 460px; height: auto; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }
    #ResMonitorForm .LeftDiv .Caption { width: 130px; float: left; margin-top: 4px; text-align: right; }
#ResMonitorForm .RightDiv { width: 525px; height: auto; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }

#ResMonitorForm #genel #divWorkAreaHeader #BookInfo { width: 900px; text-align: left; border: 1px; }

#divStatus { border: solid 1px #6d6d6d; }

#divFilterLeft { }

#divFilterRight { width: 505px; height: 205px; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }

#rptResMon { font-family: Tahoma; font-size: 8pt; }

    #rptResMon table { empty-cells: show; border-spacing: 0px; border-collapse: separate; }

#tableSeperator { background-color: Aqua; font-size: 2px; }

#tableHeader { font-size: 8pt; font-weight: bold; }

    #tableHeader td { background: #00a6dd url("../Images/default/grid_Header_Bottom.gif") repeat-x right top; }

#divSummation { width: 440px; height: auto; border: solid 1px #ccc; }

    #divSummation .reservationHeaderRow { width: 440px; clear: both; min-height: 35px; background-color: #A5A5A5; color: #FFF; }
    #divSummation .divSumCurHeader { float: left; width: 40px; text-align: center; }
    #divSummation .divSumAgencyPayableHeader { float: left; width: 98px; text-align: center; border-left: solid 1px #ccc; }
    #divSummation .divSumAgencyPayableAccordingHeader { float: left; width: 98px; text-align: center; border-left: solid 1px #ccc; }
    #divSummation .divSumAgencyPaymentHeader { float: left; width: 98px; text-align: center; border-left: solid 1px #ccc; }
    #divSummation .divSumDueDateBalanceHeader { float: left; width: 98px; text-align: center; border-left: solid 1px #ccc; }

    #divSummation .reservationRow { width: 440px; clear: both; }
    #divSummation .divSumCur { float: left; width: 40px; text-align: left; }
        #divSummation .divSumCur span { padding-left: 3px; }
    #divSummation .divSumAgencyPayable { float: left; width: 98px; text-align: right; border-left: solid 1px #ccc; }
        #divSummation .divSumAgencyPayable span { padding-right: 3px; }
    #divSummation .divSumAgencyPayableAccording { float: left; width: 98px; text-align: right; border-left: solid 1px #ccc; }
        #divSummation .divSumAgencyPayableAccording span { padding-right: 4px; }
    #divSummation .divSumAgencyPayment { float: left; width: 98px; text-align: right; border-left: solid 1px #ccc; }
        #divSummation .divSumAgencyPayment span { padding-right: 4px; }
    #divSummation .divSumDueDateBalance { float: left; width: 98px; text-align: right; border-left: solid 1px #ccc; }
        #divSummation .divSumDueDateBalance span { padding-right: 4px; }

#divResPayment { clear: both; text-align: center; }
#gridResPaymentTable { width: 1000px; border-left: solid 1px #AEAEAE; border-top: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; vertical-align: top; }
    #gridResPaymentTable .gridResPaymentHeader { height: 30px; font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #A8A8A8; color: #FFFFFF; vertical-align: middle; }
    #gridResPaymentTable td { padding: 2px; }
    #gridResPaymentTable .gridResPaymentRow { background-color: #FFFFFF; height: 26px; }
        #gridResPaymentTable .gridResPaymentRow td { border-right: solid 1px #AEAEAE; }
    #gridResPaymentTable .gridResPaymentRowAlternating { background-color: #E9E9E9; height: 26px; }
        #gridResPaymentTable .gridResPaymentRowAlternating td { border-right: solid 1px #AEAEAE; }
.gridResPaymentReceipType { text-align: left; width: 100px; }
.gridResPaymentPaymentType { text-align: left; }
.gridResPaymentClientName { text-align: left; }
.gridResPaymentPaymentDate { text-align: left; width: 90px; }
.gridResPaymentAmount { text-align: right; width: 100px; }
.gridResPaymentCur { text-align: left; width: 50px; }
