﻿@import "../Common/Header.css";
@import "../Common/Footer.css";

body { height: 100%; min-height: 100%; width: 100%; font-style:normal; font-size: 8pt; }
.Page { height: 100%; min-height: 100%; width: 1002px; margin: 0 auto 0 auto; position: relative; font-style:normal; font-size: 8pt;}
    .Page .Content { clear: both; width: 1000px; min-height: 580px; display: inline-block; position: relative; padding-bottom: 50px; margin-bottom: 0; }
    .Page .Footer { margin: 0 auto 0 auto; width: 1000px; position: relative; margin-bottom: -50px; height: 50px; }

.border { border-top: 1px solid #fff; border-left: 1px solid #fff; border-bottom: 1px solid #a6cbe5; border-right: 1px solid #a6cbe5; }
