﻿
.elementHidden { display: none; }

#divbookTicket { font-family: Tahoma; font-size: 10 pt; }
    #divbookTicket #selectedFlightDiv { max-width: 950px; text-align: left; }
        #divbookTicket #selectedFlightDiv #header { font-weight: bold; font-size: 12pt; }
    #divbookTicket #selectFlightInfoTableLeftTd { width: 50%; vertical-align: top; border: solid 1px #666; }
        #divbookTicket #selectFlightInfoTableLeftTd #departureDiv { padding: 2px 2px 2px 2px; }
    #divbookTicket #selectFlightInfoTableRightTd { width: 50%; vertical-align: top; border: solid 1px #666; }
        #divbookTicket #selectFlightInfoTableRightTd #arrivalDiv { padding: 2px 2px 2px 2px; }
    #divbookTicket #selectFlightInfoTable div table { width: 100%; }
    #divbookTicket #selectFlightInfoTable #gridDepExtra { width: 100%; }
    #divbookTicket #selectFlightInfoTable #gridArrExtra { width: 100%; }
#gridCust { width: 950px; }
#saveResDiv { clear: both; width: 950px; font-family: Tahoma; font-size: 10pt; }
    #saveResDiv .lblTotalPriceTd { text-align: right; width: 170px; font-weight: bold; font-size: 12pt; vertical-align: top; }
    #saveResDiv .txtTotalPrice { text-align: left; font-weight: bold; font-size: 12pt; vertical-align: top; }
    #saveResDiv #iNote { width: 98%; height: 40px; }
    #saveResDiv .customerCode { width: 185px; }
    #saveResDiv .doiser { width: 185px; }

#selectedFlightDiv #header { font-family: Tahoma; font-size: 14px; font-weight: bold; border: solid 1px #666; width: 100%; height: 35px; vertical-align: middle; margin: 3px; background-color: #CCC; text-align: center; vertical-align: middle; }
#departureDiv #gridDepExtra { border: solid 1px #666; }
    #departureDiv #gridDepExtra .header { background-color: #CCC; }
#departureDiv .fieldCaption { background-color: #808080; color: #fff; font-weight: bold; }
#departureDiv table td { height: 22px; }

#arrivalDiv #gridArrExtra { border: solid 1px #666; }
    #arrivalDiv #gridArrExtra .header { background-color: #CCC; }
#arrivalDiv .fieldCaption { background-color: #808080; color: #fff; font-weight: bold; }
#arrivalDiv table td { height: 22px; }

#passengerSelectDiv { border: solid 1px #666; }
#gridCust .header { background-color: #CCC; }

.resCustGridCss { clear: both; width: 100%; /* border: solid 1px #CCC;*/ }
    .resCustGridCss .header { clear: both; width: 100%; min-height: 40px; height: auto; background-color: #333; color: #FFF; font-size: 7pt; }
        .resCustGridCss .header .SeqNoH { float: left; width: 25px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .TitleH { float: left; width: 55px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameH { float: left; width: 100px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameLH { float: left; width: 180px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameH { float: left; width: 90px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameLH { float: left; width: 150px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .BirthDayH { float: left; width: 74px; height: 100%; text-align: center; }
        .resCustGridCss .header .AgeH { float: left; width: 35px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .IdNoH { float: left; width: 75px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PassSerieH { float: left; width: 40px; height: 100%; text-align: center; }
        .resCustGridCss .header .PassNoH { float: left; width: 70px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneH { float: left; width: 55px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneLH { float: left; width: 130px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationH { float: left; width: 85px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationLH { float: left; width: 125px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .HasPassportH { float: left; width: 40px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .LeaderH { float: left; width: 40px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .ViewEditH { float: left; width: 90px; height: 100%; text-align: center; padding-top: 5px; }
        .resCustGridCss .header div { border-left: dotted 1px #FFF; }

    .resCustGridCss .row { clear: both; width: 100%; min-height: 30px; padding-top: 3px; }
        .resCustGridCss .row .SeqNo { float: left; width: 25px; padding-top: 2px; }
        .resCustGridCss .row .Title { float: left; width: 55px; }
        .resCustGridCss .row .Surname { float: left; width: 100px; }
        .resCustGridCss .row .SurnameL { float: left; width: 180px; }
        .resCustGridCss .row .Name { float: left; width: 90px; }
        .resCustGridCss .row .NameL { float: left; width: 150px; }
        .resCustGridCss .row .BirthDay { float: left; width: 73px; }
        .resCustGridCss .row .Age { float: left; width: 36px; }
        .resCustGridCss .row .IdNo { float: left; width: 75px; }
        .resCustGridCss .row .PassSerie { float: left; width: 40px; }
        .resCustGridCss .row .PassNo { float: left; width: 70px; }
        .resCustGridCss .row .Phone { float: left; width: 55px; }
        .resCustGridCss .row .PhoneL { float: left; width: 130px; }
        .resCustGridCss .row .Nation { float: left; width: 85px; }
        .resCustGridCss .row .NationL { float: left; width: 125px; }
        .resCustGridCss .row .HasPassport { float: left; width: 40px; }
        .resCustGridCss .row .Leader { float: left; width: 40px; }
        .resCustGridCss .row .ViewEdit { float: left; width: 90px; }
            .resCustGridCss .row .ViewEdit img { cursor: pointer; }
        .resCustGridCss .row div { border-left: dotted 1px #FFF; }
        .resCustGridCss .row input { border: solid 1px #CCC; }
        .resCustGridCss .row select { width: 96%; border: solid 1px #CCC; }

fieldset { border: 1px solid #CCC; margin: 2px 2px 5px 2px; /*padding: 0.35em 0.625em 0.75em;*/ }
    fieldset label { color: #666; }
    fieldset legend { color: #039; }

.Price { width: 95%; text-align: right; }
    .Price h3 { font-family: Tahoma; font-weight: bold; font-size: 11px; padding: 5px 0 3px 0; }

#divSearcCustList table { width: 600px; }
#divSearcCustList .sselectH { width: 60px; }
#divSearcCustList .sSurnameH { }
#divSearcCustList .sNameH { width: 200px; }
#divSearcCustList .sBirthDateH { width: 100px; }
#divSearcCustList .sPassSerieH { width: 50px; }
#divSearcCustList .sPassNoH { width: 100px; }

#divSearcCustList .sselect { }
#divSearcCustList .sSurname { }
#divSearcCustList .sName { }
#divSearcCustList .sBirthDate { }
#divSearcCustList .sPassSerie { }
#divSearcCustList .sPassNo { }

#gridResService { width: 100%; }
#gridResServiceTable { width: 100%; }

.extratotal { width: 100%; border: solid 1px #CCC; display: none; }
    .extratotal .showtotaldiv { border: none; height: 100%; width: 100%; }
.down { width: 120px; background-color: #CCC; border: solid 1px #666; text-align: center; }

.extradetail { width: 100%; border: solid 1px #CCC; display: block; }
    .extradetail .showdetaildiv { position: relative; border: none; height: 100%; width: 100%; }
        .extradetail .showdetaildiv strong { position: absolute; border: none; padding-top: 4px; white-space: nowrap; }
        .extradetail .showdetaildiv .up { width: 120px; background-color: #CCC; border: solid 1px #666; position: absolute; height: 22px; right: 0px; top: 0px; text-align: center; }

#gridResServiceTable { width: 100%; }
#divResService { width: 100%; }
#trServiceRow { border-bottom: solid 1px #000000; }
#trServiceRowAlternating { border-bottom: solid 1px #000000; background-color: #F5F4F2; }

table td { height: 25px; }
.TopTable strong { color: #039; }
.TopTable h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; }
.TableReserveStatus { border: 1px solid #CCC; color: #F00; }
    .TableReserveStatus strong { color: #666; }
.InputLeft { float: left; margin: 1px; text-align: center; }
.tablePayment strong { color: #666; text-align: right; }

* html .InputLeft { float: left; margin: 0; }
    .InputLeft input, select { border: 1px solid #CCC; }
    .InputLeft span { font-size: 9px; font-weight: bold; }
    .InputLeft h1 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; border-right: 1px dotted #003399; margin-right: 2px; color: #003399; }
.Customer { margin: 5px 0; padding: 5px 0; min-height: 25px; }
.CustomColor2 { background-color: #fff; border: 1px outset #999; }
.CustomColor1 { background-color: #E2E2E2; border: 1px outset #ccc; }
* html .CustomColor1 { height: 25px; }
* html .CustomColor2 { height: 25px; }
.ServicesLeft { float: left; margin: 1px; }
    .ServicesLeft h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; padding: 5px; }
    .ServicesLeft .Package h1 { width: 160px; height: 25px; line-height: 25px; float: left; color: #333; }
        .ServicesLeft .Package h1 span { color: #F00; }
    .ServicesLeft.Unit { text-align: center; line-height: 20px; }
        .ServicesLeft.Unit span { font-weight: bold; }
    .ServicesLeft.Price { text-align: right; }
        .ServicesLeft.Price span { font-size: 11px; }
.Taxes { width: 714px; margin-right: 5px; border: 1px outset #fff; float: right; padding: 3px; }
    .Taxes strong { color: #666; }
.TextLeft { text-align: left; }
.TextRight { text-align: right; }
.TextCenter { text-align: center; }

/* Yeni servis ekleme butonları için  2016-07-19*/
#divAddingService { width: 100%; line-height: normal; text-align: center; }
#divAddResServiceMenu { text-align: center; width: 100%; height: 55px; /* background-color: #666; color: #FFF; */ font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 9px; }
#divAddResServiceMenu .divLeft { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
#divAddResServiceMenu .divRight { float: right; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }