﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: 1; font-family: Arial; font-size: 8pt; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

.seatImage { background-image: url('Images/SeatBus.png'); background-repeat: no-repeat; background-position: bottom; text-align: center; vertical-align: middle; }
.seatFull { background-image: url('Images/SeatBusFull.png'); background-repeat: no-repeat; background-position: bottom; text-align: center; vertical-align: middle; }
.seatEmpty { background-image: url('Images/SeatBus.png'); background-repeat: no-repeat; background-position: bottom; text-align: center; vertical-align: middle; }
.custSelect { padding-left: 25px; cursor: pointer; line-height: 10pt; text-decoration: underline; }
.cust { padding-left: 25px; line-height: 10pt; }
.transport { font-weight: bold; font-size: 12pt; line-height: 15pt; }
#customerDiv { width: 500px; text-align: left; /*float: left;*/ }
#busSeatPlanDiv { /*float: left;*/ width: 150px; }
.busSeatPlan { /*float: left;*/ width: 300px; text-align: center; }
.leftDiv { /*float: left;*/ width: 500px; }

.saveDiv { border: solid 1px #333; width: 80%; padding: 5px 5px 5px 5px; }

.selectSeat { cursor: pointer; }
.seatView { width: 350px; text-align: center; }
    .seatView table { }
        .seatView table tr td { height: 32px; }
.seatLetter { font-size: 6pt; position: relative; top: 2px; }

.seatCheckInDiv { /*float: left;*/ width: 700px; }
.custList { width: 700px; }
    .custList .custH { font-weight: bold; text-align: left; }
    .custList .custSeatNumberH { width: 75px; font-weight: bold; text-align: left; }
    .custList .custReservSeatNumberH { width: 75px; font-weight: bold; text-align: left; }
    .custList .cust { text-align: left; }
    .custList .custSeatNumber { width: 75px; text-align: left; }
    .custList .custReservSeatNumber { width: 200px; text-align: left; }
    .custList .custReservSeatNumberInfant { width: 200px; text-align: left; }
    .custList .custSlct { width: 20px; text-align: center; }
