﻿body {
    width: 600px;
    height: 250px;
    font-family: Arial;
    font-size: 11pt;
}

#divPenaltyForm {
    width: 600px;
    height: 250px;
}

#divPenaltyForm table {
    width: 100%;
}

#divPenaltyForm table .firstColumn {
    width: 150px;
    text-align: right;
    font-weight: bold;
}

#btnOK {
    width: 100px;
}

#btnCancel {
    width: 100px;
}

#divPenaltyForm table .seperator {
    font-size:5pt;
}
