﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: 1; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }
/*Sifirlama */

body { width: 100%; font-family: Tahoma; font-size:8pt; }
#flightListDiv { width: 100%; text-align: center; }
#flightListDiv .flight { text-align: left; width: 100%; }
#flightListDiv table { border-collapse: collapse; border-spacing: 2px; }
#flightListDiv table td { height: 25px; }
.tableBorder { border-width: 1px; border-style: solid; }
.bold { font-weight: bold; }
.lblFlightsHeader { font-style: italic; font-weight: bold; }
.txtFlights { font-weight: bold; }
.lblAirline { font-style: italic; font-weight: bold; }
.txtAirLine { }
.lblDepCityAirport { font-style: italic; font-weight: bold; }
.txtDepCityAirPort { }
.lblArrCityAirport { font-style: italic; font-weight: bold; }
.txtArrCityAirPort { }
.lblDepDateTime { font-style: italic; font-weight: bold; }
.txtDepDateTime { }
.lblFlightClass { font-style: italic; font-weight: bold; }
.ddlFlightClass { width: 95%; }
