﻿body { width: 400px; font-family: Arial; font-size: 9pt; text-align: center; }
#divChangeDate { width: 400px; font-family: Arial; font-size: 9pt; text-align: center; }
.calendarDiv { width: 200px; text-align: left; }


