﻿.divComment_Controls {
    font-family: Tahoma;
    font-size: 8pt;
    width: 800px;
}

.gridComment {
    width: 98%;
    font-size: 8pt;
    border: solid 1px #000000;
    empty-cells: show;
    border-collapse: collapse;
}

.trHeader {
    background-color: #CCC;
    color: #FFFFFF;
}

.tdUserName {
    width: 100px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdType {
    width: 30px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdComment {
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdCommentDate {
    width: 90px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdIsRead {
    width: 30px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdReadUser {
    width: 100px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdReadDate {
    width: 90px;
    text-align: center;
    border-right: solid 1px #000000;
    height: 25px;
}

.tdRead {
    width: 30px;
    text-align: center;
    height: 25px;
}

.divgridComment {
    width:770px;
    height:220px;
    overflow:scroll;
}
