﻿.filterArea { width: 100%; height: auto; margin: 0 auto 0 auto; position: relative; top: 0; left: 0; }
    .filterArea .filterLeft { width: 49%; height: auto; margin: 0 auto 0 auto; float: left; }
        .filterArea .filterLeft .receivedDate { width: 100%; height: 30px; }
            .filterArea .filterLeft .receivedDate .receivedDateLabel { width: 29%; float: left; text-align: right; }
                .filterArea .filterLeft .receivedDate .receivedDateLabel span { height: 100%; position: relative; top: 5px; }
            .filterArea .filterLeft .receivedDate .receivedDateInput { width: 70%; float: left; }
                .filterArea .filterLeft .receivedDate .receivedDateInput input { width: 125px; }
                .filterArea .filterLeft .receivedDate .receivedDateInput img { position: relative; top: 4px; }
        .filterArea .filterLeft .type { width: 100%; height: 30px; }
            .filterArea .filterLeft .type .typeLabel { width: 29%; float: left; text-align: right; }
                .filterArea .filterLeft .type .typeLabel span { height: 100%; position: relative; top: 4px; }
            .filterArea .filterLeft .type .typeInput { width: 70%; float: left; }
                .filterArea .filterLeft .type .typeInput select { width: 80%; }
        .filterArea .filterLeft .active { width: 100%; height: 30px; }
            .filterArea .filterLeft .active .activeLabel { width: 29%; float: left; text-align: right; }
                .filterArea .filterLeft .active .activeLabel span { height: 100%; position: relative; top: 4px; }
            .filterArea .filterLeft .active .activeInput { width: 70%; float: left; }
                .filterArea .filterLeft .active .activeInput select { width: 80%; }

    .filterArea .filterRight { width: 49%; height: auto; margin: 0 auto 0 auto; float: right; }
        .filterArea .filterRight .department { width: 100%; height: 30px; }
            .filterArea .filterRight .department .departmentLabel { width: 29%; float: left; text-align: right; }
                .filterArea .filterRight .department .departmentLabel span { height: 100%; position: relative; top: 4px; }
            .filterArea .filterRight .department .departmentInput { width: 70%; float: left; }
                .filterArea .filterRight .department .departmentInput select { width: 80%; }
        .filterArea .filterRight .hotel { width: 100%; height: 30px; }
            .filterArea .filterRight .hotel .hotelLabel { width: 29%; float: left; text-align: right; }
                .filterArea .filterRight .hotel .hotelLabel span { height: 100%; position: relative; top: 4px; }
            .filterArea .filterRight .hotel .hotelInput { width: 70%; float: left; }
                .filterArea .filterRight .hotel .hotelInput select { width: 80%; }

    .filterArea .filterButtons { width: 100%; height: 40px; }
