﻿body { width: 980px; }
.complaint { width: 100%; height: auto; margin-top: 15px; }
    .complaint .description { width: 98%; }
        .complaint .description .leftSide { width: 49%; float: left; }
            .complaint .description .leftSide .transferID { width: 100%; height: 25px; }
                .complaint .description .leftSide .transferID .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .transferID .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .transferID .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .transferID .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .groupNo { width: 100%; height: 25px; }
                .complaint .description .leftSide .groupNo .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .groupNo .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .groupNo .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .groupNo .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .reservationNo { width: 100%; height: 25px; }
                .complaint .description .leftSide .reservationNo .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .reservationNo .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .reservationNo .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .reservationNo .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .guestName { width: 100%; height: 25px; }
                .complaint .description .leftSide .guestName .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .guestName .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .guestName .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .guestName .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .hotel { width: 100%; height: 25px; }
                .complaint .description .leftSide .hotel .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .hotel .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .hotel .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .hotel .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .department { width: 100%; height: 25px; }
                .complaint .description .leftSide .department .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .department .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .department .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .department .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .complaintType { width: 100%; height: 25px; }
                .complaint .description .leftSide .complaintType .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .complaintType .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .complaintType .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .complaintType .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .reqCompCode { width: 100%; height: 25px; }
                .complaint .description .leftSide .reqCompCode .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .reqCompCode .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .reqCompCode .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .reqCompCode .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .source { width: 100%; height: 25px; }
                .complaint .description .leftSide .source .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .source .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .source .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .source .leftSideInput select { width: 95%; }
            .complaint .description .leftSide .status { width: 100%; height: 25px; }
                .complaint .description .leftSide .status .leftSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .leftSide .status .leftSideLabel span { margin-right: 3px; }
                .complaint .description .leftSide .status .leftSideInput { width: 70%; float: left; }
                    .complaint .description .leftSide .status .leftSideInput select { width: 95%; }

        .complaint .description .rightSide { width: 49%; float: right; }
            .complaint .description .rightSide .header { width: 100%; text-align: center; height: 25px; font-size: 12pt; }
            .complaint .description .rightSide .compAmount { width: 100%; height: 25px; border-right: solid 1px #808080; border-left: solid 1px #808080; }
                .complaint .description .rightSide .compAmount .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .compAmount .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .compAmount .rightSideInput { width: 70%; float: left; }
            .complaint .description .rightSide .compTo { width: 100%; height: 25px; border-right: solid 1px #808080; border-left: solid 1px #808080; }
                .complaint .description .rightSide .compTo .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .compTo .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .compTo .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .compTo .rightSideInput select { width: 95%; }
            .complaint .description .rightSide .compExplanation { width: 100%; border-bottom: solid 1px #808080; border-right: solid 1px #808080; border-left: solid 1px #808080; }
                .complaint .description .rightSide .compExplanation .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .compExplanation .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .compExplanation .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .compExplanation .rightSideInput textarea { width: 95%; }
            .complaint .description .rightSide .lastInformToGuest { width: 100%; height: 25px; }
                .complaint .description .rightSide .lastInformToGuest .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .lastInformToGuest .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .lastInformToGuest .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .lastInformToGuest .rightSideInput span { width: 95%; }
            .complaint .description .rightSide .reporterName { width: 100%; height: 25px; }
                .complaint .description .rightSide .reporterName .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .reporterName .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .reporterName .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .reporterName .rightSideInput span { width: 95%; }
            .complaint .description .rightSide .receivedDate { width: 100%; height: 25px; }
                .complaint .description .rightSide .receivedDate .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .receivedDate .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .receivedDate .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .receivedDate .rightSideInput span { width: 95%; }
            .complaint .description .rightSide .transferFromTo { width: 100%; height: 25px; }
                .complaint .description .rightSide .transferFromTo .rightSideLabel { width: 29%; float: left; text-align: right; }
                    .complaint .description .rightSide .transferFromTo .rightSideLabel span { margin-right: 3px; }
                .complaint .description .rightSide .transferFromTo .rightSideInput { width: 70%; float: left; }
                    .complaint .description .rightSide .transferFromTo .rightSideInput select { width: 44%; }

    .complaint .operation { width: 100%; }
        .complaint .operation .complaintExplain { width: 100%; }
            .complaint .operation .complaintExplain .operationLabel { width: 20%; float: left; text-align: right; }
                .complaint .operation .complaintExplain .operationLabel span { margin-right: 3px; }
            .complaint .operation .complaintExplain .operationInput { width: 79%; float: left; }
                .complaint .operation .complaintExplain .operationInput textarea { width: 95%; }
        .complaint .operation .investigation { width: 100%; }
            .complaint .operation .investigation .operationLabel { width: 20%; float: left; text-align: right; }
                .complaint .operation .investigation .operationLabel .span { margin-right: 3px; }
            .complaint .operation .investigation .operationInput { width: 79%; float: left; }
                .complaint .operation .investigation .operationInput textarea { width: 95%; }
        .complaint .operation .departmentAction { width: 100%; }
            .complaint .operation .departmentAction .operationLabel { width: 20%; float: left; text-align: right; }
                .complaint .operation .departmentAction .operationLabel .span { margin-right: 3px; }
            .complaint .operation .departmentAction .operationInput { width: 79%; float: left; }
                .complaint .operation .departmentAction .operationInput textarea { width: 95%; }
        .complaint .operation .managementAction { width: 100%; }
            .complaint .operation .managementAction .operationLabel { width: 20%; float: left; text-align: right; }
                .complaint .operation .managementAction .operationLabel .span { margin-right: 3px; }
            .complaint .operation .managementAction .operationInput { width: 79%; float: left; }
                .complaint .operation .managementAction .operationInput textarea { width: 95%; }
        .complaint .operation .rightAndActive { width: 100%; }
            .complaint .operation .rightAndActive .guestRightLabel { width: 20%; float: left; text-align: right; }
                .complaint .operation .rightAndActive .guestRightLabel .span { margin-right: 3px; }
            .complaint .operation .rightAndActive .guestRightInput { width: 30%; float: left; }
                .complaint .operation .rightAndActive .guestRightInput select { width: 98%; }
            .complaint .operation .rightAndActive .activeLabel { width: 15%; float: left; text-align: right; }
                .complaint .operation .rightAndActive .activeLabel .span { margin-right: 3px; }
            .complaint .operation .rightAndActive .activeInput { width: 30%; float: left; }
                .complaint .operation .rightAndActive .activeInput select { width: 98%; }
    .complaint .seperator { width: 100%; height: 10px; }
    .complaint .buttons { width: 100%; height: 40px; }

    .complaint .attach { width: 100%; }
        .complaint .attach .galleria { width: 100%; height: 90px; overflow: auto; }
            .complaint .attach .galleria img { height: 65px; }
        .complaint .attach .galleriaView { width: 100%; height: 450px; }
            .complaint .attach .galleriaView img { height: 300px; }
