/*
 * SimpleModal Confirm Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: confirm.css 238 2010-03-11 05:56:57Z emartin24 $
 *
 */

body {height:100%; margin:0;}
#confirm {display:none;}

/* Overlay */
#confirm-overlay {background-color:#eee; cursor:wait;}

/* Container */
#confirm-container {height:175px; width:420px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; line-height:26px; text-align:left; background:#fff; border:2px solid #336699;}
#confirm-container .header {height:30px; width:100%; background:url('../Images/confirm/header.gif') repeat-x; color:#fff; font-size:1.1em; font-weight:bold; line-height:30px;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; margin:0; padding:12px 4px 12px 8px; font-size:1em;}
#confirm-container .buttons {width:160px; float:right; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:'../Images/confirm/button.gif'.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ccc;}
#confirm-container a.modal-close:hover {color:#eee;}

#info {display:none;}

/* Overlay */
#info-overlay {background-color:#eee; cursor:wait;}

/* Container */
#info-container {height:175px; width:420px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; line-height:26px; text-align:left; background:#fff; border:2px solid #336699;}
#info-container .header {height:30px; width:100%; background:url('../Images/confirm/header.gif') repeat-x; color:#fff; font-size:1.1em; font-weight:bold; line-height:30px;}
#info-container .header span {padding-left:8px;}
#info-container .message {color:#333; margin:0; padding:12px 4px 12px 8px; font-size:1em;}
#info-container .buttons {width:160px; float:right; padding:10px 8px 0;} 
#info-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:'../Images/confirm/button.gif'.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#info-container a.modal-close,
#info-container a.modal-close:link,
#info-container a.modal-close:active,
#info-container a.modal-close:visited {text-decoration:none; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ccc;}
#info-container a.modal-close:hover {color:#eee;}