﻿
body { width: 100%; height: auto; font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; font-size: 10pt; text-align: center; margin: 0 auto; }
form { width: 100%; text-align: center; }

.clientOfferList { width: 300px; text-align: left; float: left; border: solid 1px #c8c8c8; }
.mainPage { width: 650px; text-align: left; float: right; }

.logoDiv { width: 100%; height: 138px; position: relative; border-bottom: solid 1px #000; }
.oprLogoDiv { width: 150px; height: 135px; float: left; }
    .oprLogoDiv img { bottom: 25px; position: absolute; }
.agencyLogoDiv { width: 500px; height: 135px; float: right; }
.agencyImgDiv { width: 245px; height: 135px; float: left; position: relative; text-align: right; font-family: Tahoma Times New Roman; font-size: 9pt; }
    .agencyImgDiv img { bottom: 25px; position: absolute; right: 5px; }
    .agencyImgDiv span { bottom: 3px; position: absolute; right: 5px; }
.agencyInfoDiv { width: 245px; height: 100%; float: right; position: relative; font-family: Tahoma Times New Roman; font-size: 9pt; }
    .agencyInfoDiv span { bottom: 3px; left: 5px; position: absolute; width: 4px; }
.dataDiv { width: 100%; border: solid 1px #000; font-family: Tahoma Times New Roman; }
.font8pt { font-size: 8pt; }
.font8ptBold { font-size: 8pt; font-weight: bold; }
.font8ptItalic { font-size: 8pt; font-style: italic; }
.font9pt { font-size: 9pt; }
.font9ptBold { font-size: 9pt; font-weight: bold; }
.font10pt { font-size: 10pt; }
.font10ptBold { font-size: 10pt; font-weight: bold; }
.font10ptItalic { font-size: 10pt; font-style: italic; }
.font10ptBoldItalic { font-size: 10pt; font-weight: bold; font-style: italic; }
.font11ptFont { font-size: 11pt; }
.font11ptBold { font-size: 11pt; font-weight: bold; }
.font11ptItalic { font-size: 11pt; font-style: italic; }
.font11ptBoldItalic { font-size: 11pt; font-weight: bold; font-style: italic; }

.hotelInfo { width: 98%; padding: 5px 10px 5px 10px; border: solid 1px #c8c8c8; position: relative; }

.noteInput { border: solid 1px #c8c8c8; width: 90%; }

.clearDiv { clear: both; height: 5px; }

.removeClientOffer { width: 25px; height: 25px; cursor: pointer; position: absolute; top: 5px; right: 5px; }

#dataDiv { min-height: 400px; }

@media print {

    #noPrintDiv { display: none; visibility: hidden; }
    .noPrint { display: none; visibility: hidden; }
}

.noPrintPDF { display: none; visibility: hidden; }
.noPDF { display: none; visibility: hidden; }

.resetList { width: 100%; text-align: center; font-size: 75%; }

.clientOfferContent { width: 650px; text-align: left; margin: 0 auto; }

.cOList { width: 100%; font-size: 8pt; }
.cODetailList { width: 99%; border-bottom: solid 1px #808080; padding: 1px; font-size: 8pt; position: relative; cursor: pointer; }
    .cODetailList .cOCheckIn { font-weight: bold; }
    .cODetailList .cOLocations { }
    .cODetailList .cOHotel { font-weight: bold; text-decoration: underline; }
    .cODetailList .cORoomAccomBoard { font-size: 80%; }
    .cODetailList .cOPrice { font-weight: bold; text-decoration: underline; }
    .cODetailList .cORemoveDetail { width: 20px; height: 20px; position: absolute; right: 15px; top: 10px; }
    .cODetailList .cOAddDetail { width: 20px; height: 20px; position: absolute; right: 15px; bottom: 10px; }

#dialog-sendOffer { font-size: 12pt; }
.sendOffer { width: 100%; font-size: 12pt; }
    .sendOffer table { width: 100%; }
    .sendOffer .emailLabel { width: 30%; text-align: right; }
    .sendOffer .emailSepar { width: 1%; }
    .sendOffer .emailInput { width: 68%; }
        .sendOffer .emailInput input { width: 90%; }
        .sendOffer .emailInput textarea { width: 90%; }
