body, html { width: 600px; font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; font-size: 8pt; }

#divSearcCustList table { width: 600px; }
#divSearcCustList .sselectH { width: 60px; }
#divSearcCustList .sSurnameH { }
#divSearcCustList .sNameH { width: 200px; }
#divSearcCustList .sBirthDateH { width: 100px; }
#divSearcCustList .sPassSerieH { width: 50px; }
#divSearcCustList .sPassNoH { width: 100px; }

#divSearcCustList .sselect { }
#divSearcCustList .sSurname { }
#divSearcCustList .sName { }
#divSearcCustList .sBirthDate { }
#divSearcCustList .sPassSerie { }
#divSearcCustList .sPassNo { }

.sercahCustListHeader { background-color: #444; color: #FFF; }
.sercahCustListRow:hover { background-color: #DFDFDF; }
.sercahCustListRow input { background: none; border: none; cursor: pointer; text-decoration: underline; }

.grid-view { border-collapse: collapse; border-spacing: 0px; width: 98%; height: auto; font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; }
    .grid-view td { padding: 0.3em 0.6em; vertical-align: top; width: 50%; }
        .grid-view td input { width: 90%; }
