﻿body { width: 98%; }
#gridExtraServices { width: 815px; border: solid 1px #333; font-family: Tahoma; font-size: 9pt; }
.MainServiceExtra { margin-left: 30px; width: 95%; border: dotted 1px #333; }
.MainServiceExtra tr:hover { background-color: #CECECE; }
.header { background-color: #999; color: #FFF; height: 30px; }
.addbtn { text-align: center; width: 80px; }
.addbtn input { width: 98%; height: auto; border: none; background: none; color: #333; text-decoration: underline; cursor: pointer; }
.addbtn span { width: 98%; height: auto; color: #333; text-decoration: underline; cursor: pointer; }
.desc { text-align: left; }
.date { text-align: right; width: 90px; }
.price { text-align: right; width: 100px; }
.calctype { text-align: left; width: 90px; }
.pricetype { text-align: left; width: 90px; }
