﻿body { padding: 0 0 0 0; margin: 0 0 0; font-size: 12px; background-color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; color: #000000; line-height: 18px; width: 630px; }
.wrapper { width: 100%; height: 500px; margin: 0px auto; }
    .wrapper .header { height: 60px; width: 610px; padding-right: 10px; margin: 10px 0; }
        .wrapper .header .score-con { float: right; height: 38px; }
            .wrapper .header .score-con span { float: left; margin: 10px 0 0 10px; }
        .wrapper .header .score-box { height: 30px; width: auto; border: 1px solid #E0E0E0; line-height: 18px; float: right; margin-top: 16px; }
            .wrapper .header .score-box span { color: #163645; font-size: 14px; font-style: normal; margin: 6px; font-weight: 700; }
            .wrapper .header .score-box .rew { font-size: 12px !important; font-weight: normal !important; margin: 6px 10px 6px 1px !important; }

    .wrapper .content { width: 610px; height: 105px; padding: 10px; margin: 10px 0; border: 1px solid #E0E0E0; }
        .wrapper .content .hotel-photo { float: left; height: 100px; width: 100px; background-color: red; }
            .wrapper .content .hotel-photo img { width: 100% !important; height: 100% !important; display: block; }
        .wrapper .content .hotelNameLocation { float: left; width: 400px; }
            .wrapper .content .hotelNameLocation .hotel-name { height: auto; width: auto; font-size: 18px; font-weight: 600; }
            .wrapper .content .hotelNameLocation .ml-10 { margin-left: 10px; }
            .wrapper .content .hotelNameLocation .hotel-loc { height: auto; width: auto; font-size: 14px; font-weight: 600; margin-left: 10px; margin-top: 6px; }
        .wrapper .content .stars { float: left; height: 15px; margin-top: 2px; overflow: hidden; }
            .wrapper .content .stars img { height: 15px; }
    .wrapper .hotel-desc { width: 610px; height: auto; padding: 10px; margin: 5px 0; border: 1px solid #E0E0E0; }

.mr-10 { margin-right: 10px; }
.border-rad { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }


.rew { font-size: 12px !important; font-weight: normal !important; margin: 6px 10px 6px 1px !important; }
.tab-content { float: left; width: 100%; height: auto; background-color: #FFFFFF; }
.desc-list { list-style: none; margin: 0px; padding: 0px; margin-top: -10px; }
    .desc-list li { margin: 10px 0; }
h5 { font-size: 15px; line-height: 25px; margin: 0; font-weight: 700; }
.well { background-color: #e4e7ea; width: auto; float: left; margin: 10px 10px 0px 0; padding: 8px 12px 8px 8px; border: 1px solid #ECECEC; }
    .well i { margin-right: 5px; height: 10px; width: 10px; float: left; margin-top: 2px; }
p { margin: 0px; border-bottom: 1px solid #F3F0F0; padding-bottom: 6px; }
div.simpleTabs { float: left; margin-top: 12px; }
ul.simpleTabsNavigation { margin: 0px; padding: 0; text-align: left; }
    ul.simpleTabsNavigation li { list-style: none; display: inline; margin: 0; padding: 0; }
        ul.simpleTabsNavigation li a { border: 1px solid #E0E0E0; padding: 3px 6px; background: #0065A5; color: white; font-size: 14px; text-decoration: none; padding: 8px 12px 8px 8px; }
            ul.simpleTabsNavigation li a:hover { background: #0065A5; color: white;; }
            ul.simpleTabsNavigation li a.current { background: #fff; color: #222; border-bottom: 1px solid #fff; font-weight: 600; }
div.simpleTabsContent { border: 1px solid #E0E0E0; padding: 5px 15px 15px; margin-top: 6px; display: none; width: 600px; }
    div.simpleTabsContent.currentTab { display: block; height: auto; float: left; }
