﻿* html .textCss { font-family: Tahoma; font-size: 8pt; color: #143d8d; padding: 2px; border-left: 1px solid #808080; border-bottom: 1px solid #808080; border-top: none; border-right: none; vertical-align: middle; background-color: #F7F7F7; }
.textCssB { font-family: Tahoma; font-size: 8pt; color: #143d8d; padding: 2px; border: 1px solid #808080; vertical-align: middle; background-color: #F7F7F7; }

.handMouse img { cursor: pointer; }

.resMainCss { width: 898px; height: 30px; }
    .resMainCss .Caption { float: left; width: 145px; height: 25px; text-align: right; padding-right: 5px; padding-top: 4px; }
    .resMainCss .Field { float: left; width: 288px; height: 25px; text-align: left; padding-left: 5px; padding-top: 4px; }
        .resMainCss .Field span { font-style: italic; }

.paymentCss { width: 898px; }
    .paymentCss .row1 { width: 100%; height: 30px; }
    .paymentCss .Caption { float: left; width: 128px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
    .paymentCss .Field { float: left; width: 85px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
        .paymentCss .Field span { font-style: italic; }
.statusCss { clear: both; width: 898px; height: 28px; border: solid 1px #CCC; }
    .statusCss .Caption { float: left; width: auto; height: 28px; text-align: left; padding-left: 5px; padding-top: 4px; white-space: nowrap; }
        .statusCss .Caption strong { color: #666; }

.resCustGridCss { width: 100%; }
    .resCustGridCss .header { width: 100%; height: 32px; /*background-color: #333; color: #FFF; */ font-size: 8pt; }
        .resCustGridCss .header .SeqNoH { float: left; width: 25px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .TitleH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameH { float: left; width: 100px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameLH { float: left; width: 150px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameLH { float: left; width: 120px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .BirthDayH { float: left; width: 74px; height: 28px; text-align: center; }
        .resCustGridCss .header .AgeH { float: left; width: 35px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .IdNoH { float: left; width: 75px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PassSerieH { float: left; width: 40px; height: 28px; text-align: center; }
        .resCustGridCss .header .PassNoH { float: left; width: 70px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneLH { float: left; width: 130px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationH { float: left; width: 85px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationLH { float: left; width: 125px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .HasPassportH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .LeaderH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .ViewEditH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header div { border-left: dotted 1px #FFF; }

    .resCustGridCss .row { width: 100%; min-height: 30px; padding-top: 3px; }
        .resCustGridCss .row .floatLeft { float: left; }
        .resCustGridCss .row .SeqNo { width: 25px; padding-top: 2px; }
        .resCustGridCss .row .Title { width: 55px; }
        .resCustGridCss .row .Surname { width: 100px; }
        .resCustGridCss .row .SurnameL { width: 150px; }
        .resCustGridCss .row .Name { width: 90px; }
        .resCustGridCss .row .NameL { width: 120px; }
        .resCustGridCss .row .BirthDay { width: 73px; }
        .resCustGridCss .row .Age { width: 36px; }
        .resCustGridCss .row .IdNo { width: 75px; }
        .resCustGridCss .row .PassSerie { width: 40px; }
        .resCustGridCss .row .PassNo { width: 70px; }
        .resCustGridCss .row .Phone { width: 55px; }
        .resCustGridCss .row .PhoneL { width: 130px; }
        .resCustGridCss .row .Nation { width: 85px; }
        .resCustGridCss .row .NationL { width: 125px; }
        .resCustGridCss .row .HasPassport { width: 40px; }
        .resCustGridCss .row .Leader { width: 40px; }
        .resCustGridCss .row .ViewEdit { width: 90px; }
            .resCustGridCss .row .ViewEdit img { cursor: pointer; }
        .resCustGridCss .row div { border-left: dotted 1px #FFF; }
        .resCustGridCss .row input { border: solid 1px #CCC; }
        .resCustGridCss .row select { width: 96%; border: solid 1px #CCC; }

fieldset { border: 1px solid #CCC; margin: 2px 2px 5px 2px; /*padding: 0.35em 0.625em 0.75em;*/ }
    fieldset label { color: #666; }
    fieldset legend { color: #039; }

.Price { width: 95%; text-align: right; }
    .Price h3 { font-family: Tahoma; font-weight: bold; font-size: 11px; padding: 5px 0 3px 0; }

#gridResService { width: 100%; }
#gridResServiceTable { width: 100%; }

#divResService .extratotal { width: 100%; border: solid 1px #CCC; display: none; }
    #divResService .extratotal .showtotaldiv { border: none; height: 100%; width: 100%; }
.down { width: 120px; background-color: #CCC; border: solid 1px #666; text-align: center; }

#divResService .extradetail { width: 100%; border: solid 1px #CCC; display: show; }
    #divResService .extradetail .showdetaildiv { position: relative; border: none; height: 100%; width: 100%; }
        #divResService .extradetail .showdetaildiv strong { position: absolute; border: none; padding-top: 4px; white-space: nowrap; }
        #divResService .extradetail .showdetaildiv .up { width: 120px; background-color: #CCC; border: solid 1px #666; position: absolute; height: 22px; right: 0px; top: 0px; text-align: center; }

#divAddingService { width: 100%; line-height: normal; text-align: center; }
#divAddResServiceMenu { text-align: center; width: 100%; height: 55px; /* background-color: #666; color: #FFF; */ font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 9px; }
    #divAddResServiceMenu .divLeft { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
    #divAddResServiceMenu .divRight { float: right; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }

#divResService { width: 100%; }
#trServiceRow { border-bottom: solid 1px #000000; }
#trServiceRowAlternating { border-bottom: solid 1px #000000; background-color: #F5F4F2; }
#gridResCustRow { margin: 5px 5px 5px 5px; }
.gridResCustItemAlternating { background-color: #F5F4F2; }

#gridResCustItem .bottomDraw { border-bottom: solid 1px #000000; }
#MakeResAgencyUser { width: 100%; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo table { width: 900px; text-align: left; background-color: #FFF; border: 1px; border-color: #000; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td1 { width: 136px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td2 { }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td3 { width: 205px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td4 { width: 250px; }

.MakePage { width: 900px; background-color: #fff; padding: 5px; }

table td { height: 25px; }
.TopTable strong { color: #039; }
.TopTable h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; }
.TableReserveStatus { border: 1px solid #CCC; color: #F00; }
    .TableReserveStatus strong { color: #666; }
.InputLeft { float: left; margin: 1px; text-align: center; }
.tablePayment strong { color: #666; text-align: right; }

* html .InputLeft { float: left; margin: 0; }
    .InputLeft input, select { border: 1px solid #CCC; }
    .InputLeft span { font-size: 9px; font-weight: bold; }
    .InputLeft h1 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; border-right: 1px dotted #003399; margin-right: 2px; color: #003399; }
.Customer { margin: 5px 0; padding: 5px 0; min-height: 25px; }
.CustomColor2 { background-color: #fff; border: 1px outset #999; }
.CustomColor1 { background-color: #E2E2E2; border: 1px outset #ccc; }
* html .CustomColor1 { height: 25px; }
* html .CustomColor2 { height: 25px; }
.ServicesLeft { float: left; margin: 1px; }
    .ServicesLeft h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; padding: 5px; }
    .ServicesLeft .Package h1 { width: 160px; height: 25px; line-height: 25px; float: left; color: #333; }
        .ServicesLeft .Package h1 span { color: #F00; }
    .ServicesLeft.Unit { text-align: center; line-height: 20px; }
        .ServicesLeft.Unit span { font-weight: bold; }
    .ServicesLeft.Price { text-align: right; }
        .ServicesLeft.Price span { font-size: 11px; }
.Taxes { width: 714px; margin-right: 5px; border: 1px outset #fff; float: right; padding: 3px; }
    .Taxes strong { color: #666; }
.TextLeft { text-align: left; }
.TextRight { text-align: right; }
.TextCenter { text-align: center; }

#divSearcCustList table { width: 600px; }
#divSearcCustList .sselectH { width: 60px; }
#divSearcCustList .sSurnameH { }
#divSearcCustList .sNameH { width: 200px; }
#divSearcCustList .sBirthDateH { width: 100px; }
#divSearcCustList .sPassSerieH { width: 50px; }
#divSearcCustList .sPassNoH { width: 100px; }

#divSearcCustList .sselect { }
#divSearcCustList .sSurname { }
#divSearcCustList .sName { }
#divSearcCustList .sBirthDate { }
#divSearcCustList .sPassSerie { }
#divSearcCustList .sPassNo { }

.divPromotionCss { clear: both; width: 898px; text-align: left; }
.divButtons { clear: both; width: 898px; text-align: center; }
.lblGridResCust { font-weight: bold; }
.sercahCustListHeader { background-color: #444; color: #FFF; }
.sercahCustListRow:hover { background-color: #DFDFDF; }
.sercahCustListRow input { background: none; border: none; cursor: pointer; text-decoration: underline; }

.handicapServiceLabel { font-size: medium; font-weight: bold; color: #FF0000; }
#divHandicap { width: 898px; text-align: left; }

.divBonus { clear: both; border: solid 1px #999; }
    .divBonus table { width: 90%; border-spacing: 0px; border-collapse: collapse; font-size: 10pt; }

.bolditalic { font-weight: bold; font-style: italic; }
