﻿body { width: 900px; }

.elementHidden { display: none; }

.MakeResOnlyTicketHeader { font-size: 12pt; padding-left: 10px; }

.resCustGridCss { width: 100%; }
    .resCustGridCss .header { width: 100%; height: 32px; /*background-color: #333; color: #FFF; */ font-size: 8pt; }
        .resCustGridCss .header .SeqNoH { float: left; width: 25px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .TitleH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameH { float: left; width: 100px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameLH { float: left; width: 150px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameLH { float: left; width: 120px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .BirthDayH { float: left; width: 74px; height: 28px; text-align: center; }
        .resCustGridCss .header .AgeH { float: left; width: 35px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .IdNoH { float: left; width: 75px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PassSerieH { float: left; width: 40px; height: 28px; text-align: center; }
        .resCustGridCss .header .PassNoH { float: left; width: 70px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .PhoneLH { float: left; width: 130px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationH { float: left; width: 85px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationLH { float: left; width: 125px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .HasPassportH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .LeaderH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .ViewEditH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header div { border-left: dotted 1px #FFF; }

    .resCustGridCss .row { width: 100%; min-height: 30px; padding-top: 3px; }
        .resCustGridCss .row .floatLeft { float: left; }
        .resCustGridCss .row .SeqNo { width: 25px; padding-top: 2px; }
        .resCustGridCss .row .Title { width: 55px; }
        .resCustGridCss .row .Surname { width: 100px; }
        .resCustGridCss .row .SurnameL { width: 150px; }
        .resCustGridCss .row .Name { width: 90px; }
        .resCustGridCss .row .NameL { width: 120px; }
        .resCustGridCss .row .BirthDay { width: 73px; }
        .resCustGridCss .row .Age { width: 36px; }
        .resCustGridCss .row .IdNo { width: 75px; }
        .resCustGridCss .row .PassSerie { width: 40px; }
        .resCustGridCss .row .PassNo { width: 70px; }
        .resCustGridCss .row .Phone { width: 55px; }
        .resCustGridCss .row .PhoneL { width: 130px; }
        .resCustGridCss .row .Nation { width: 85px; }
        .resCustGridCss .row .NationL { width: 125px; }
        .resCustGridCss .row .HasPassport { width: 40px; }
        .resCustGridCss .row .Leader { width: 40px; }
        .resCustGridCss .row .ViewEdit { width: 90px; }
            .resCustGridCss .row .ViewEdit img { cursor: pointer; }
        .resCustGridCss .row div { border-left: dotted 1px #FFF; }
        .resCustGridCss .row input { border: solid 1px #CCC; }
        .resCustGridCss .row select { width: 96%; border: solid 1px #CCC; }

.resServiceDiv { width: 100%; vertical-align: central; position: relative; }
    .resServiceDiv div { height: 25px; vertical-align: central; }
.caption { width: 30%; float: left; position: relative; }
    .caption * { bottom: 0px; position: absolute; }
.seperator { width: 1%; float: left; position: relative; }
    .seperator * { bottom: 0px; position: absolute; }
.value { width: 68%; float: left; position: relative; }
.dateMonthYear { width: 150px; bottom: 0px; position: absolute; }
.dateDay { width: 50px; bottom: 0px; left: 155px; position: absolute; }
.flightNo { width: 100px; }
.sFlightNo { width: 100px; bottom: 0px; left: 1px; position: absolute; }
.manuelInput { bottom: 0px; left: 105px; position: absolute; }
.manuelInputLabel { bottom: 0px; left: 128px; position: absolute; }
.accom { width: 400px; position: relative; }
    .accom * { bottom: 0px; position: absolute; }
.inputText { position: relative; }
    .inputText * { bottom: 0px; position: absolute; }
.hour { width: 50px; left: 1px; position: relative; }
    .hour * { bottom: 0px; position: absolute; }
.minute { width: 50px; position: relative; }
    .minute * { bottom: 0px; position: absolute; }
.pickupNote { width: 400px; position: relative; }
    .pickupNote * { bottom: 0px; position: absolute; }
