﻿* html .textCss { font-family: Tahoma; font-size: 8pt; color: #143d8d; padding: 2px; vertical-align: middle; }
.textCssB { font-family: Tahoma; font-size: 8pt; color: #143d8d; padding: 2px; border: 1px solid #808080; vertical-align: middle; background-color: #F7F7F7; }


.reservationDiv { clear: both; width: 100%; }
    .reservationDiv input { border: 1px solid #999; height: 16px; }
    .reservationDiv .hotelHeaderHotelName { font-size: 11pt; HEIGHT: 30px; text-align: left; vertical-align: middle; padding-top: 7px; line-height: normal; background-image: none; }
    .reservationDiv .hotelHeader { width: 100%; }
        .reservationDiv .hotelHeader .row { clear: both; }
            .reservationDiv .hotelHeader .row .hotelImage { width: 130px; float: left; }
            .reservationDiv .hotelHeader .row .hotelDetail { width: 600px; float: left; }
                .reservationDiv .hotelHeader .row .hotelDetail h5 { font-size: 125%; margin: 5px 5px 5px 0px; }
                .reservationDiv .hotelHeader .row .hotelDetail span { font-size: 9pt; margin: 5px 5px 5px 0px; font-style: italic; }
                .reservationDiv .hotelHeader .row .hotelDetail .checkInCheckOut { margin-bottom: 10px; }
                .reservationDiv .hotelHeader .row .hotelDetail .hotelName { margin-bottom: 3px; }
                .reservationDiv .hotelHeader .row .hotelDetail .hotelLocation { margin-bottom: 5px; }
                .reservationDiv .hotelHeader .row .hotelDetail p { font-size: 9pt; }
            .reservationDiv .hotelHeader .row .totalPrice { width: 150px; float: right; text-align: right; position: relative; }
                .reservationDiv .hotelHeader .row .totalPrice span { font-size: 14pt; position: relative; top: 50px; }
                    .reservationDiv .hotelHeader .row .totalPrice span .amount { font-size: 14pt; }
                    .reservationDiv .hotelHeader .row .totalPrice span .currency { font-size: 14pt; }
                .reservationDiv .hotelHeader .row .totalPrice .onRequest { font-size: 11pt; font-weight: bold; color: red; position: relative; }
    .reservationDiv .offerNote { margin-top: 10px; margin-bottom: 10px; }
        .reservationDiv .offerNote .hotelOfferNote { padding: 5px; color: #F00; }
    .reservationDiv .hotelRooms { padding: 10px; color: #F00; background-color: #E5E6E9; height: 30px; border-top: 1px solid #F5F4F2; border-bottom: 1px solid #F5F4F2; }
        .reservationDiv .hotelRooms .hotelRoomsRoomNr { width: 75px; float: left; height: auto; }
        .reservationDiv .hotelRooms .hotelRoomsBoardRoomTypes { width: 600px; float: left; height: auto; }
        .reservationDiv .hotelRooms .hotelRoomsRoomPrice { width: 75px; float: left; height: 30px; text-align: right; }
    .reservationDiv .header { width: 100%; height: 32px; background-image: none; color: #333; }
        .reservationDiv .header .extraName { width: 300px; float: left; height: 15px; padding: 10px 0px 0px 5px; }
        .reservationDiv .header .extraWhenPaid { width: 300px; float: left; height: 15px; padding: 10px 0px 0px 5px; }
        .reservationDiv .header .extraPrice { width: 150px; float: left; height: 15px; padding: 10px 0px 0px 5px; }
    .reservationDiv .extra { width: 100%; height: 30px; background-color: #E5E6E9; }
        .reservationDiv .extra .extraName { width: 300px; float: left; height: 15px; padding: 10px 0px 0px 5px; border: 2px solid #EEE; }
        .reservationDiv .extra .extraWhenPaid { width: 300px; float: left; height: 15px; padding: 10px 0px 0px 5px; border: 2px solid #EEE; }
        .reservationDiv .extra .extraPrice { width: 150px; float: left; height: 15px; padding: 10px 0px 0px 5px; border: 2px solid #EEE; }

.adultHeader { font-size: 11pt; HEIGHT: 30px; text-align: left; vertical-align: middle; padding-top: 7px; line-height: normal; background-image: none; }

.resCustGridCss { width: 898px; font-size: 9pt; }
    .resCustGridCss .rooms { height: 30px; font-size: 13px; font-weight: bold; text-align: left; padding-top: 10px; }
    .resCustGridCss .header { width: 100%; height: 32px; background-image: none; color: #FFF; }
        .resCustGridCss .header .SeqNoH { float: left; width: 25px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .TitleH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .SurnameH { float: left; width: 250px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NameH { float: left; width: 175px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .BirthDayH { float: left; width: 110px; height: 28px; text-align: center; }
        .resCustGridCss .header .PhoneH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .NationH { float: left; width: 160px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header .LeaderH { float: left; width: 75px; height: 28px; text-align: center; padding-top: 5px; }
        .resCustGridCss .header div { border-left: dotted 1px #FFF; }

    .resCustGridCss .row { width: 100%; min-height: 30px; padding-top: 3px; }
        .resCustGridCss .row .floatLeft { float: left; }
        .resCustGridCss .row .SeqNo { width: 25px; padding-top: 2px; }
        .resCustGridCss .row .Title { width: 92px; float: left; margin-top: 1px; }
        .resCustGridCss .row .Surname { width: 252px; float: left; }
            .resCustGridCss .row .Surname input { width: 240px; }
        .resCustGridCss .row .Name { width: 176px; float: left; }
            .resCustGridCss .row .Name input { width: 165px; }
        .resCustGridCss .row .BirthDay { width: 110px; float: left; height: 15px; }
            .resCustGridCss .row .BirthDay input { width: 100px; }
        .resCustGridCss .row .Phone { width: 55px; }
            .resCustGridCss .row .Phone input { width: 99%; }
        .resCustGridCss .row .Nation { width: 160px; float: left; }
            .resCustGridCss .row .Nation input { width: 150px; }
        .resCustGridCss .row .Leader { width: 78px; float: left; text-align: center; }

.customerInfo { width: 100%; text-align: left; padding-top: 5px; }
    .customerInfo .contactInfo { width: 200px; float: left; margin-top: 5px; }
    .customerInfo .email { width: 440px; float: left; }
        .customerInfo .email .emailLabel { width: 50px; float: left; margin-top: 5px; text-align: right; }
        .customerInfo .email .emailInput { width: 374px; float: left; }
            .customerInfo .email .emailInput input { width: 99%; }
    .customerInfo .mobile { width: 200px; float: left; }
        .customerInfo .mobile .mobileLabel { width: 66px; float: left; margin-top: 5px; text-align: right; }
        .customerInfo .mobile .mobileInput { width: 132px; float: left; }
            .customerInfo .mobile .mobileInput input { width: 99%; }


.cancellationPolicyHeader { font-size: 11pt; HEIGHT: 30px; text-align: left; vertical-align: middle; padding-top: 7px; line-height: normal; background-image: none; }
.cancellationPolicy { font-size: 11pt; text-align: left; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; }
    .cancellationPolicy .amount { font-weight: bold; color: #F00; }
    .cancellationPolicy .date { font-weight: bold; color: #F00; }
.cancellationPolicyAgree { width: 100%; }
    .cancellationPolicyAgree strong { padding: 10px; }
    .cancellationPolicyAgree input { margin-right: 5px; margin-top: 10px; }
    .cancellationPolicyAgree label { font-size: 10pt; }
.handMouse img { cursor: pointer; }

.resMainCss { width: 898px; height: 30px; }
    .resMainCss .Caption { float: left; width: 145px; height: 25px; text-align: right; padding-right: 5px; padding-top: 4px; }
    .resMainCss .Field { float: left; width: 288px; height: 25px; text-align: left; padding-left: 5px; padding-top: 4px; }
        .resMainCss .Field span { font-style: italic; }

.paymentCss { width: 898px; }
    .paymentCss .row1 { width: 100%; height: 30px; }
    .paymentCss .Caption { float: left; width: 128px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
    .paymentCss .Field { float: left; width: 85px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
        .paymentCss .Field span { font-style: italic; }
.statusCss { clear: both; width: 898px; height: 28px; border: solid 1px #CCC; }
    .statusCss .Caption { float: left; width: auto; height: 28px; text-align: left; padding-left: 5px; padding-top: 4px; white-space: nowrap; }
        .statusCss .Caption strong { color: #666; }



fieldset { border: 1px solid #CCC; margin: 2px 2px 5px 2px; /*padding: 0.35em 0.625em 0.75em;*/ }
    fieldset label { color: #666; }
    fieldset legend { color: #039; }

.Price { width: 95%; text-align: right; }
    .Price h3 { font-family: Tahoma; font-weight: bold; font-size: 11px; padding: 5px 0 3px 0; }

#gridResService { width: 100%; }
#gridResServiceTable { width: 100%; }

#divResService .extratotal { width: 100%; border: solid 1px #CCC; display: none; }
    #divResService .extratotal .showtotaldiv { border: none; height: 100%; width: 100%; }
.down { width: 120px; background-color: #CCC; border: solid 1px #666; text-align: center; }

#divResService .extradetail { width: 100%; border: solid 1px #CCC; display: show; }
    #divResService .extradetail .showdetaildiv { position: relative; border: none; height: 100%; width: 100%; }
        #divResService .extradetail .showdetaildiv strong { position: absolute; border: none; padding-top: 4px; white-space: nowrap; }
        #divResService .extradetail .showdetaildiv .up { width: 120px; background-color: #CCC; border: solid 1px #666; position: absolute; height: 22px; right: 0px; top: 0px; text-align: center; }

#divAddingService { width: 100%; line-height: normal; text-align: center; }
#divAddResServiceMenu { text-align: center; width: 100%; height: 55px; /* background-color: #666; color: #FFF; */ font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 9px; }
    #divAddResServiceMenu .divLeft { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
    #divAddResServiceMenu .divRight { float: right; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }

#divResService { width: 100%; }
#trServiceRow { border-bottom: solid 1px #000000; }
#trServiceRowAlternating { border-bottom: solid 1px #000000; background-color: #F5F4F2; }
#gridResCustRow { margin: 5px 5px 5px 5px; }
.gridResCustItemAlternating { background-color: #F5F4F2; }

#gridResCustItem .bottomDraw { border-bottom: solid 1px #000000; }
#MakeResAgencyUser { width: 100%; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo table { width: 900px; text-align: left; background-color: #FFF; border: 1px; border-color: #000; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td1 { width: 136px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td2 { }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td3 { width: 205px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td4 { width: 250px; }

.MakePage { width: 900px; background-color: #fff; padding: 5px; }

table td { height: 25px; }
.Label { width: 90px; }

.TopTable strong { color: #039; }
.TopTable h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; }
.TableReserveStatus { border: 1px solid #CCC; color: #F00; }
    .TableReserveStatus strong { color: #666; }
.InputLeft { float: left; margin: 1px; text-align: center; }
.tablePayment strong { color: #666; text-align: right; }

* html .InputLeft { float: left; margin: 0; }
    .InputLeft input, select { border: 1px solid #CCC; }
    .InputLeft span { font-size: 9px; font-weight: bold; }
    .InputLeft h1 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; border-right: 1px dotted #003399; margin-right: 2px; color: #003399; }
.Customer { margin: 5px 0; padding: 5px 0; min-height: 25px; }
.CustomColor2 { background-color: #fff; border: 1px outset #999; }
.CustomColor1 { background-color: #E2E2E2; border: 1px outset #ccc; }
* html .CustomColor1 { height: 25px; }
* html .CustomColor2 { height: 25px; }
.ServicesLeft { float: left; margin: 1px; }
    .ServicesLeft h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; padding: 5px; }
    .ServicesLeft .Package h1 { width: 160px; height: 25px; line-height: 25px; float: left; color: #333; }
        .ServicesLeft .Package h1 span { color: #F00; }
    .ServicesLeft.Unit { text-align: center; line-height: 20px; }
        .ServicesLeft.Unit span { font-weight: bold; }
    .ServicesLeft.Price { text-align: right; }
        .ServicesLeft.Price span { font-size: 11px; }
.Taxes { width: 714px; margin-right: 5px; border: 1px outset #fff; float: right; padding: 3px; }
    .Taxes strong { color: #666; }
.TextLeft { text-align: left; }
.TextRight { text-align: right; }
.TextCenter { text-align: center; }

#divSearcCustList table { width: 600px; }
#divSearcCustList .sselectH { width: 60px; }
#divSearcCustList .sSurnameH { }
#divSearcCustList .sNameH { width: 200px; }
#divSearcCustList .sBirthDateH { width: 100px; }
#divSearcCustList .sPassSerieH { width: 50px; }
#divSearcCustList .sPassNoH { width: 100px; }

#divSearcCustList .sselect { }
#divSearcCustList .sSurname { }
#divSearcCustList .sName { }
#divSearcCustList .sBirthDate { }
#divSearcCustList .sPassSerie { }
#divSearcCustList .sPassNo { }

.divPromotionCss { clear: both; width: 898px; text-align: left; }
.divButtons { clear: both; width: 898px; text-align: center; }
.lblGridResCust { font-weight: bold; }
.sercahCustListHeader { background-color: #444; color: #FFF; }
.sercahCustListRow:hover { background-color: #DFDFDF; }
.sercahCustListRow input { background: none; border: none; cursor: pointer; text-decoration: underline; }

.handicapServiceLabel { font-size: medium; font-weight: bold; color: #FF0000; }
#divHandicap { width: 898px; text-align: left; }

.divBonus { clear: both; border: solid 1px #999; }
    .divBonus table { width: 90%; border-spacing: 0px; border-collapse: collapse; font-size: 10pt; }

.bolditalic { font-weight: bold; font-style: italic; }
