﻿* html { font-family: Tahoma; font-size: 8pt; }

.handMouse img { cursor: pointer; }

.nameSurnameCss { }
.nameSurnameCss input { border: solid 1px #EFEFEF; }

.elementHidden { display: none; }
.resMain { position: absolute; width: 900px; top: 5px; background-color: #EEE; border: solid 2px #BBB; }
.resMainHeader { background-color: #EEE; }
.makeResV2Header { width: 890px; padding: 6px 4px 4px 8px; background-color: #F7F7F7; }
.makeResV2Header .boldItalic { font-weight: bold; font-style: italic; }
.resMainCss { height: 34px; padding-top: 12px; width: 99%; }
.resMainCss .agencyName { width: 50%; float: left; padding-left: 8px; }
.resMainCss .agencyUserName { width: 49%; float: left; }

.tablePayment { width: 99%; background-color: #F5F5F5; border: solid 1px #DDD; }
.tablePayment td { padding-left: 5px; }
.tablePayment strong { color: #666; text-align: right; }
.tablePayment .priceTD { width: 90px; text-align: right; }
.resMainCss .Caption { float: left; width: 145px; height: 25px; text-align: right; padding-right: 5px; padding-top: 4px; }
.resMainCss .Field { float: left; width: 288px; height: 25px; text-align: left; padding-left: 5px; padding-top: 4px; }
.resMainCss .Field span { font-style: italic; }

.paymentCss { }
.paymentCss .row { width: 100%; height: 30px; }
.paymentCss .Caption { float: left; width: 128px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
.paymentCss .Field { float: left; width: 85px; height: 28px; text-align: right; padding-right: 2px; padding-top: 4px; }
.paymentCss .Field span { font-style: italic; }
.statusCss { clear: both; height: 28px; border: solid 1px #CCC; }
.statusCss .Caption { float: left; width: 215px; height: 28px; text-align: left; padding-left: 5px; padding-top: 4px; }
.statusCss .Caption strong { color: #666; }

.resCustGridCss { width: 100%; background-color: #F5F5F5; }
.resCustGridCss td { padding: 2px 2px 2px 4px; vertical-align: top; }

.custInfoCss { text-align: left; width: 500px; background-color: #F0F0F0; border: solid 1px #CCC; }
.custInfoCss td { padding: 3px 2px 3px 4px; vertical-align: top; }
.custInfoCss .Label { font-weight: bold; text-align: right; }

fieldset { border: 1px solid #CCC; margin: 2px 2px 5px 2px; padding: 0.35em 0.625em 0.75em; }
fieldset label { color: #666; }
fieldset legend { color: #039; }

.Price { width: 95%; text-align: right; }
.Price h3 { font-family: Tahoma; font-weight: bold; font-size: 11px; padding: 5px 0 3px 0; }

.resServiceCss { width: 100%; text-align: left; padding-left: 1%; padding-right: 1%; }
.resServiceCss table { width: 100%; border-collapse: collapse; font-family: Arial; color: #333333; }
.resServiceCss table td { padding: 3px 3px 3px 3px; }
.resServiceCss table tr .header { height: 25px; border: 1px solid #aaaaaa; background: #cccccc; color: #222222; font-weight: bold; }

.extrasCss { line-height: 1.9em; }
.extrasCss .customerTable { border: solid 1px #DDD; border-collapse: collapse; width: 100%; }
.extrasCss .customerTable td { padding: 2px 4px 2px 2px; }
.odd { background-color: #F6F6F6; }
.even { background-color: white; }


#gridResService { width: 100%; }
#gridResServiceTable { width: 100%; }

#divResService .extratotal { width: 100%; border: solid 1px #CCC; display: none; }
#divResService .extratotal .showtotaldiv { border: none; height: 100%; width: 100%; }
.down { width: 120px; background-color: #CCC; border: solid 1px #666; text-align: center; }

#divResService .extradetail { width: 100%; border: solid 1px #CCC; display: block; }
#divResService .extradetail .showdetaildiv { position: relative; border: none; height: 100%; width: 100%; }
#divResService .extradetail .showdetaildiv strong { position: absolute; border: none; padding-top: 4px; white-space: nowrap; }
.up { width: 120px; background-color: #CCC; border: solid 1px #666; text-align: center; }

#divAddingService { width: 100%; line-height: normal; text-align: center; }
#divAddResServiceMenu { text-align: center; width: 100%; height: 55px; /* background-color: #666; color: #FFF; */ font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 9px; }
#divAddResServiceMenu .divLeft { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
#divAddResServiceMenu .divRight { float: right; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }

#gridResServiceTable { width: 100%; }
#divResService { width: 100%; }
#trServiceRow { border-bottom: solid 1px #000000; }
#trServiceRowAlternating { border-bottom: solid 1px #000000; background-color: #F5F4F2; }
#gridResCustRow { margin: 5px 5px 5px 5px; }
.gridResCustItemAlternating { background-color: #F5F4F2; }

#gridResCustItem .bottomDraw { border-bottom: solid 1px #000000; }
#MakeResAgencyUser { width: 100%; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo table { width: 900px; text-align: left; background-color: #FFF; border: 1px; border-color: #000; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td1 { width: 136px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td2 { }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td3 { width: 205px; text-align: right; font-weight: bold; }
#MakeReservationForm #genel #divWorkAreaHeader #BookInfo .td4 { width: 250px; }

.MakePage { width: 900px; background-color: #fff; padding: 5px; }

table td { height: 25px; }
.TopTable strong { color: #039; }
.TopTable h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; }
.TableReserveStatus { border: 1px solid #CCC; color: #F00; }
.TableReserveStatus strong { color: #666; }
.InputLeft { float: left; margin: 1px; text-align: center; }


* html .InputLeft { float: left; margin: 0; }
.InputLeft input, select { border: 1px solid #CCC; }
.InputLeft span { font-size: 9px; font-weight: bold; }
.InputLeft h1 { font-family: Arial, sans-serif; font-weight: bold; font-size: 16px; border-right: 1px dotted #003399; margin-right: 2px; color: #003399; }
.Customer { margin: 5px 0; padding: 5px 0; min-height: 25px; }
.CustomColor2 { background-color: #fff; border: 1px outset #999; }
.CustomColor1 { background-color: #E2E2E2; border: 1px outset #ccc; }
* html .CustomColor1 { height: 25px; }
* html .CustomColor2 { height: 25px; }
.ServicesLeft { float: left; margin: 1px; }
.ServicesLeft h3 { font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; padding: 5px; }
.ServicesLeft .Package h1 { width: 160px; height: 25px; line-height: 25px; float: left; color: #333; }
.ServicesLeft .Package h1 span { color: #F00; }
.ServicesLeft.Unit { text-align: center; line-height: 20px; }
.ServicesLeft.Unit span { font-weight: bold; }
.ServicesLeft.Price { text-align: right; }
.ServicesLeft.Price span { font-size: 11px; }
.Taxes { width: 714px; margin-right: 5px; border: 1px outset #fff; float: right; padding: 3px; }
.Taxes strong { color: #666; }
.TextLeft { text-align: left; }
.TextRight { text-align: right; }
.TextCenter { text-align: center; }

#divSearcCustList table { width: 600px; }
#divSearcCustList .sselectH { width: 60px; }
#divSearcCustList .sSurnameH { }
#divSearcCustList .sNameH { width: 200px; }
#divSearcCustList .sBirthDateH { width: 100px; }
#divSearcCustList .sPassSerieH { width: 50px; }
#divSearcCustList .sPassNoH { width: 100px; }

#divSearcCustList .sselect { }
#divSearcCustList .sSurname { }
#divSearcCustList .sName { }
#divSearcCustList .sBirthDate { }
#divSearcCustList .sPassSerie { }
#divSearcCustList .sPassNo { }

.divPromotionCss { clear: both; text-align: left; }
.divButtons { clear: both; text-align: center; }
.lblGridResCust { font-weight: bold; }
.sercahCustListHeader { background-color: #444; color: #FFF; }
.sercahCustListRow:hover { background-color: #DFDFDF; }
.sercahCustListRow input { background: none; border: none; cursor: pointer; text-decoration: underline; }

.handicapServiceLabel { font-size: medium; font-weight: bold; color: #FF0000; }
#divHandicap { text-align: left; }

.divBonus { clear: both; border: solid 1px #999; }
.divBonus table { width: 90%; border-spacing: 0px; border-collapse: collapse; font-size: 10pt; }
.boldItalic { font-weight: bold; font-style: italic; }
