﻿#divResult {
    clear: both;
    width: 100%;
}

.cssExcursionName { font-weight:bold; }

#divFilterCriteria, #divBasketArea {
    display: none;
    border: solid 1px #939393;
    width: 100%;
    text-align: center;
}

#divFilterCriteria table {    
    text-align: left;
    font-size: 8pt;
}

#divFilterCriteria table .hResort {
    font-weight: bold;
    font-size: 10pt;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;    
}
#divFilterCriteria table .hCategory {
    font-weight: bold;
    font-size: 10pt;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;    
}
#divFilterCriteria table .hHotel {
    font-weight: bold;
    font-size: 10pt;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;    
}
#divFilterCriteria table .hRoom {
    font-weight: bold;
    font-size: 10pt;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;    
}
#divFilterCriteria table .hBoard {
    font-weight: bold;
    font-size: 10pt;    
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;    
    border-right: solid 1px #939393;
}

#divFilterCriteria table .rResort {
    text-align:left;
    white-space:nowrap;
    vertical-align:top;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;
    border-bottom: solid 1px #939393;
    min-width: 100px;
}
#divFilterCriteria table .rCategory {
    text-align:left;
    white-space:nowrap;
    vertical-align:top;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;
    border-bottom: solid 1px #939393;
    min-width: 100px;
}
#divFilterCriteria table .rHotel {
    text-align:left;
    white-space:nowrap;
    vertical-align:top;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;
    border-bottom: solid 1px #939393;
    min-width: 150px;
}
#divFilterCriteria table .rRoom {
    text-align:left;
    white-space:nowrap;
    vertical-align:top;
    border-top: solid 1px #939393;
    border-left: solid 1px #939393;
    border-bottom: solid 1px #939393;
    min-width: 100px;
}
#divFilterCriteria table .rBoard {
    text-align:left;
    white-space:nowrap;
    vertical-align:top;
    border: solid 1px #939393;
    min-width: 100px;
}
#divFilterResult {
}
.listButton {
    width: 22px;
    height: 22px;
}
#lnkSlct {
    width: 100%;
}
#lnkSlct :hover {
}
