﻿body { width: auto; height: auto; }
.leftTD { text-align: left; }
.rightTD { text-align: right; }
.centerTD { text-align: center; }
.alterTR { background-color: #DADADA; }

#gridCust { width: 950px; }
#gridCust .header { background-color: #CCC; }

.resCustGridCss { clear: both; width: 100%; /* border: solid 1px #CCC;*/ }
.resCustGridCss .header { clear: both; width: 100%; height: 32px; background-color: #333; color: #FFF; font-size: 7pt; }
.resCustGridCss .header .SeqNoH { float: left; width: 25px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .TitleH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .SurnameH { float: left; width: 100px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .SurnameLH { float: left; width: 180px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .NameH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .NameLH { float: left; width: 150px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .BirthDayH { float: left; width: 74px; height: 28px; text-align: center; }
.resCustGridCss .header .AgeH { float: left; width: 35px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .IdNoH { float: left; width: 75px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .PassSerieH { float: left; width: 40px; height: 28px; text-align: center; }
.resCustGridCss .header .PassNoH { float: left; width: 70px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .PhoneH { float: left; width: 55px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .PhoneLH { float: left; width: 130px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .NationH { float: left; width: 85px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .NationLH { float: left; width: 125px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .HasPassportH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .LeaderH { float: left; width: 40px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header .ViewEditH { float: left; width: 90px; height: 28px; text-align: center; padding-top: 5px; }
.resCustGridCss .header div { border-left: dotted 1px #FFF; }

.resCustGridCss .row { clear: both; width: 100%; min-height: 30px; padding-top: 3px; }
.resCustGridCss .row .SeqNo { float: left; width: 25px; padding-top: 2px; }
.resCustGridCss .row .Title { float: left; width: 55px; }
.resCustGridCss .row .Surname { float: left; width: 100px; }
.resCustGridCss .row .SurnameL { float: left; width: 180px; }
.resCustGridCss .row .Name { float: left; width: 90px; }
.resCustGridCss .row .NameL { float: left; width: 150px; }
.resCustGridCss .row .BirthDay { float: left; width: 73px; }
.resCustGridCss .row .Age { float: left; width: 36px; }
.resCustGridCss .row .IdNo { float: left; width: 75px; }
.resCustGridCss .row .PassSerie { float: left; width: 40px; }
.resCustGridCss .row .PassNo { float: left; width: 70px; }
.resCustGridCss .row .Phone { float: left; width: 55px; }
.resCustGridCss .row .PhoneL { float: left; width: 130px; }
.resCustGridCss .row .Nation { float: left; width: 85px; }
.resCustGridCss .row .NationL { float: left; width: 125px; }
.resCustGridCss .row .HasPassport { float: left; width: 40px; }
.resCustGridCss .row .Leader { float: left; width: 40px; }
.resCustGridCss .row .ViewEdit { float: left; width: 90px; }
.resCustGridCss .row .ViewEdit img { cursor: pointer; }
.resCustGridCss .row div { border-left: dotted 1px #FFF; }
.resCustGridCss .row input { border: solid 1px #CCC; }
.resCustGridCss .row select { width: 96%; border: solid 1px #CCC; }

fieldset { border: 1px solid #CCC; margin: 2px 2px 5px 2px; /*padding: 0.35em 0.625em 0.75em;*/ }
fieldset label { color: #666; }
fieldset legend { color: #039; }

