﻿body { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 8pt; }
.resultFilter { font-family: Tahoma; font-size: 8pt; border: solid 1px #BBB; background-color: #DEDEDE; }
.odd { background-color: rgb(140, 140, 140) !important; }
.offer { top: 5px; right: 2px; float: right; font-size: 8pt; }

.readMore { position: absolute; top: 40px; right: 0px; padding: 0px 5px 0px 5px; border: 1px solid #666666; background-color: #00CC00; cursor: pointer; }
.resultBody { width: 728px; }
.priceOdd { background-color: #EFEFEF; }
.priceEven { background-color: rgb(140, 140, 140); }
.PriceTable { padding: 4px 4px 4px 4px; width: 99%; border: 2pt solid #C6C6C6; background-color: #F1F1F2; }
.currency { font-size: 18px; }
.number { font-weight: bold; font-size: 20px; }
.decimal { font-weight: bold; font-size: 12px; }
.sorting { clear: both; padding-top: 5px; height: 45px; background-color: #DEDEDE; font-size: 10pt; }
.totalResultCount { font-size: 10pt; }
.sortingSelect { font-size: 11pt; background-color: #DEDEDE; text-align: right; }
    .sortingSelect select { font-size: 10pt; }

ol, ul { list-style: none outside none; margin: 0px; padding: 0px; }
    ol, ul .li { padding: 0px; margin: 0px; }

.pageContainer { width: 723px; }
.PriceTable .hotelGroupHeader { height: 130px; width: 100%; }
    .PriceTable .hotelGroupHeader .hotelInfo { float: left; width: 560px; height: 100%; }
        .PriceTable .hotelGroupHeader .hotelInfo .hotelImage { position: relative; float: left; width: 130px; height: 100%; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelImage .specialOffers { position: absolute; left: -5px; z-index: 5; top: 0px; }
                .PriceTable .hotelGroupHeader .hotelInfo .hotelImage .specialOffers img { width: 125px; height: 125px; }
        .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail { float: left; margin-left: 1%; width: 415px; height: 100%; overflow: hidden; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerHotelName { font-weight: bold; font-size: 10pt; cursor: pointer; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerHotelLocation { font-size: 9pt; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerCheckInOut { font-size: 9pt; font-style: italic; font-weight: bold; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerNight { font-size: 9pt; font-style: italic; font-weight: bold; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerReting { border: 1pt solid #C8CDD6; font-size: 8pt; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerDescription { position: relative; height: 56px; font-size: 8pt; overflow: hidden; }
    .PriceTable .hotelGroupHeader .bookCell { float: right; width: 150px; height: 100%; text-align: right; }
        .PriceTable .hotelGroupHeader .bookCell .totalPrice { padding-top: 5px; padding-bottom: 15px; }
            .PriceTable .hotelGroupHeader .bookCell .totalPrice .price { font-size: 14pt; width: 100%; }
        .PriceTable .hotelGroupHeader .bookCell .bookButtonDiv { width: 100%; }
            .PriceTable .hotelGroupHeader .bookCell .bookButtonDiv .rating { float: left; width: 34px; font-size: 10pt; height: 26px; padding: 10px 2px 2px 2px; }
                .PriceTable .hotelGroupHeader .bookCell .bookButtonDiv .rating .raitingAmount { width: 99%; }
            .PriceTable .hotelGroupHeader .bookCell .bookButtonDiv .bookButton { float: right; width: 100px; height: 40px; font-weight: bold; }
    .PriceTable .hotelGroupHeader .offerCell { float: left; width: 5%; height: 100%; text-align: center; }

.PriceTable .priceDetail { width: 700px; background-color: #fff; }
    .PriceTable .priceDetail .roomGroups { width: 100%; }
        .PriceTable .priceDetail .roomGroups .roomAccomInfo { width: 100%; }
        .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader { width: 100%; height: 30px; background-color: #CFCFCF; background-image: none; font-size: 8pt; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .AllotmentHeader { float: left; width: 90px; height: 30px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .RoomNrHeader { float: left; width: 40px; height: 30px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .RoomHeader { float: left; width: 190px; height: 30px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .BoardHeader { float: left; width: 170px; height: 30px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .PriceHeader { float: left; width: 130px; height: 30px; text-align: right; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .OfferHeader { float: left; width: 20px; height: 30px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .SelectedHeader { float: left; width: 50px; height: 30px; }
        .PriceTable .priceDetail .roomGroups .roomAccomPrice { width: 100%; border-bottom: 1px solid #333333; background-color: #fff; font-size: 8pt; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice .rooms { float: left; width: 400px; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .rooms .RoomNr { float: left; width: 40px; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .rooms .Room { float: left; width: 190px; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .rooms .Board { float: left; width: 170px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice .Allotment { float: left; width: 90px; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice .Price { float: left; width: 130px; text-align: right; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice .Offer { float: left; width: 20px; text-align: right; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice .Selected { float: left; width: 50px; text-align: center; }

.resultNote { width: 100%; }
.resultOffer { width: 100%; }

.hotelInfoBody { padding: 0 0 0 0; margin: 0 0 0; font-size: 12px; background-color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; color: #000000; line-height: 18px; }
.wrapper { width: 700px; height: 500px; margin: 0px auto; }
.header { width: 690px; height: 53px; float: left; padding: 10px; }
.paximum-logo { float: left; height: 53px; width: 200px; }
.ml-10 { margin-left: 10px; }
.mr-10 { margin-right: 10px; }
.border-rad { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.content { float: left; width: auto; height: auto; padding: 10px; margin: 10px 0; border: 1px solid #E0E0E0; }
.hotel-photo { float: left; height: 125px; width: 125px; background-color: red; }
    .hotel-photo img { width: 100% !important; height: 100% !important; display: block; }
.hotel-name { float: left; height: auto; width: 436px; font-size: 18px; font-weight: 600; }
.hotel-loc { float: left; height: auto; width: 400px; font-size: 14px; font-weight: 600; margin-left: 10px; margin-top: 6px; }
.hotel-desc { float: left; height: auto; width: 540px; font-size: 12px; font-weight: 400; margin-left: 10px; margin-top: 5px; line-height: 18px; }
.stars { float: left; height: 22px; margin-top: 2px; overflow: hidden; float: right; }
.score-con { float: right; height: 38px; }
    .score-con span { float: left; margin: 10px 0 0 10px; }
.score-box { height: 30px; width: auto; border: 1px solid #E0E0E0; line-height: 18px; float: right; margin-top: 16px; }
    .score-box span { color: #163645; font-size: 14px; font-style: normal; margin: 6px; font-weight: 700; }
.rew { font-size: 12px !important; font-weight: normal !important; margin: 6px 10px 6px 1px !important; }
.tab-content { float: left; width: 100%; height: auto; background-color: #FFFFFF; }
.desc-list { list-style: none; margin: 0px; padding: 0px; margin-top: -10px; }
    .desc-list li { margin: 10px 0; }
h5 { font-size: 15px; line-height: 25px; margin: 0; font-weight: 700; }
.well { background-color: #e4e7ea; width: auto; float: left; margin: 10px 10px 0px 0; padding: 8px 12px 8px 8px; border: 1px solid #ECECEC; }
    .well i { margin-right: 5px; height: 10px; width: 10px; float: left; margin-top: 2px; }
p { margin: 0px; border-bottom: 1px solid #F3F0F0; padding-bottom: 6px; }
div.simpleTabs { float: left; margin-top: 12px; }
ul.simpleTabsNavigation { margin: 0px; padding: 0; text-align: left; }
    ul.simpleTabsNavigation li { list-style: none; display: inline; margin: 0; padding: 0; }
        ul.simpleTabsNavigation li a { border: 1px solid #E0E0E0; padding: 3px 6px; background: #0065A5; color: white; font-size: 14px; text-decoration: none; padding: 8px 12px 8px 8px; }
            ul.simpleTabsNavigation li a:hover { background: #0065A5; color: white;; }
            ul.simpleTabsNavigation li a.current { background: #fff; color: #222; border-bottom: 1px solid #fff; font-weight: 600; }
div.simpleTabsContent { border: 1px solid #E0E0E0; padding: 5px 15px 15px; margin-top: 6px; display: none; }
    div.simpleTabsContent.currentTab { display: block; height: auto; float: left; }
