﻿body { width: 750px; font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; font-size: 8pt; }

.odd { background-color: rgb(140, 140, 140) !important; }

.offer { float: right; right: 2px; top: 5px; font-size: 8pt; }

.resultBody { width: 98%; }
.priceOdd { background-color: #EFEFEF; }
.priceEven { background-color: rgb(140, 140, 140); }
.PriceTable { width: 100%; padding: 4px 4px 4px 4px; background-color: #EFEFEF; }

    .PriceTable .hotelGroupHeader { width: 100%; height: 96px; }
        .PriceTable .hotelGroupHeader .hotelInfo { width: 69%; height: 100%; float: left; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelImage { width: 24%; height: 100%; float: left; }
            .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail { width: 74%; height: 100%; float: left; margin-left: 1%; }
                .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerHotelName { font-size: 10pt; font-weight: bold; cursor: pointer; }
                .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerHotelLocation { font-size: 9pt; }
                .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerCheckInOut { font-size: 9pt; }
                .PriceTable .hotelGroupHeader .hotelInfo .hotelInfoDetail .headerNight { font-size: 9pt; }
        .PriceTable .hotelGroupHeader .bookCell { width: 25%; height: 100%; float: right; text-align: right; }
        .PriceTable .hotelGroupHeader .offerCell { width: 5%; height: 100%; float: left; text-align: center; }

    .PriceTable .priceDetail { width: 100%; background-color: #fff; }
        .PriceTable .priceDetail .roomGroups { width: 100%; }
            .PriceTable .priceDetail .roomGroups .roomAccomInfo { width: 100%; }
            .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader { width: 100%; height: 25px; background-image: none; font-size: 8pt; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .AllotmentHeader { width: 5%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .RoomHeader { width: 24%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .BoardHeader { width: 23%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .AccomHeader { width: 20%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .PriceHeader { width: 20%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .OfferHeader { width: 5%; height: 25px; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPriceHeader .SelectedHeader { width: 7%; height: 25px; float: left; text-align: center; }
            .PriceTable .priceDetail .roomGroups .roomAccomPrice { width: 100%; font-size: 8pt; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Allotment { width: 5%; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Room { width: 22%; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Board { width: 20%; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Accom { width: 20%; float: left; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Price { width: 20%; float: left; text-align: center; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Offer { width: 5%; float: left; text-align: right; }
                .PriceTable .priceDetail .roomGroups .roomAccomPrice .Selected { width: 7%; float: left; text-align: left; }

.resultNote { width: 100%; }
.resultFilter { width: 100%; }
.resultOffer { width: 100%; }
