﻿.OnlyVisaHeader { width: 990px; margin-top: 5px; margin-bottom: 5px; border-bottom: solid 1px #808080; }
  .OnlyVisaHeader .country { width: 100%; height: 30px; }
    .OnlyVisaHeader .country .label { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .country .input { width: 50%; float: left; }
      .OnlyVisaHeader .country .input select { width: 350px; }
  .OnlyVisaHeader .services { width: 100%; height: 30px; }
    .OnlyVisaHeader .services .label { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .services .input { width: 50%; float: left; }
      .OnlyVisaHeader .services .input select { width: 350px; }
  .OnlyVisaHeader .dates { width: 100%; height: 30px; }
    .OnlyVisaHeader .dates .label { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .dates .input { width: 50%; float: left; }
      .OnlyVisaHeader .dates .input .checkIn { width: 130px; float: left; }
        .OnlyVisaHeader .dates .input .checkIn input { width: 100px; }
      .OnlyVisaHeader .dates .input .checkOut { width: 130px; float: left; }
        .OnlyVisaHeader .dates .input .checkOut input { width: 100px; }
      .OnlyVisaHeader .dates .input .sperator { width: 15px; float: left; text-align: center; font-weight: bold; padding-top: 5px; }
  .OnlyVisaHeader .customers { width: 100%; height: 30px; }
    .OnlyVisaHeader .customers .adultLabel { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .customers .childLabel { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .customers .infantLabel { width: 15%; float: left; text-align: right; font-weight: bold; padding-top: 5px; }
    .OnlyVisaHeader .customers .adultInput { width: 30px; float: left; }
      .OnlyVisaHeader .customers .adultInput input { width: 90%; }
    .OnlyVisaHeader .customers .childInput { width: 30px; float: left; }
      .OnlyVisaHeader .customers .childInput input { width: 90%; }
    .OnlyVisaHeader .customers .infantInput { width: 30px; float: left; }
      .OnlyVisaHeader .customers .infantInput input { width: 90%; }
  .OnlyVisaHeader .makeReservation { width: 100%; height: 50px; }

.OVForm { width: 100%; height: auto; position: relative; border-bottom: solid 1px #666; border-left: solid 1px #666; border-right: solid 1px #666; margin-top: 5px; }
  .OVForm .Customers { width: 100%; height: auto; position: relative; }
    .OVForm .Customers .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
      .OVForm .Customers .header .custSeqNo { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custSelect { height: auto; width: 40px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custTitle { height: auto; width: 75px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custSurname { height: auto; width: 200px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custName { height: auto; width: 175px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custBirthDate { height: auto; width: 90px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custAge { height: auto; width: 35px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custNationality { height: auto; width: 125px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custLeader { height: auto; width: 40px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custPhone { height: auto; width: 90px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custPassport { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .OVForm .Customers .header .custOther { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }

    .OVForm .Customers .row { width: 100%; height: auto; position: relative; font-size: 10pt; }
      .OVForm .Customers .row .oddEven { background-color: #EEE; }
      .OVForm .Customers .row .custSeqNo { height: auto; width: 30px; float: left; text-align: center; }
      .OVForm .Customers .row .custSelect { height: auto; width: 40px; float: left; text-align: center; }
      .OVForm .Customers .row .custTitle { height: auto; width: 75px; float: left; }
        .OVForm .Customers .row .custTitle select { height: auto; width: 73px; }
      .OVForm .Customers .row .custSurname { height: auto; width: 200px; float: left; }
        .OVForm .Customers .row .custSurname input { height: auto; width: 193px; }
      .OVForm .Customers .row .custName { height: auto; width: 175px; float: left; }
        .OVForm .Customers .row .custName input { height: auto; width: 168px; }
      .OVForm .Customers .row .custBirthDate { height: auto; width: 90px; float: left; }
        .OVForm .Customers .row .custBirthDate input { height: auto; width: 84px; }
      .OVForm .Customers .row .custAge { height: auto; width: 35px; float: left; }
        .OVForm .Customers .row .custAge input { height: auto; width: 28px; }
      .OVForm .Customers .row .custNationality { height: auto; width: 125px; float: left; }
        .OVForm .Customers .row .custNationality select { height: auto; width: 120px; }
      .OVForm .Customers .row .custLeader { height: auto; width: 40px; float: left; text-align: center; }
      .OVForm .Customers .row .custPhone { height: auto; width: 85px; float: left; }
        .OVForm .Customers .row .custPhone input { height: auto; width: 80px; }
      .OVForm .Customers .row .custPassport { height: auto; width: 30px; float: left; text-align: center; }
      .OVForm .Customers .row .custOther { height: auto; width: 30px; float: left; text-align: center; }

  .OVForm .VisaService { width: 100%; height: auto; position: relative; }
    .OVForm .VisaService .header { width: 100%; height: 24px; position: relative; font-size: 10pt; background-color: #aea1a1; padding-top: 10px; }
      .OVForm .VisaService .header .srvServiceType { width: 150px; height: 100%; float: left; }
      .OVForm .VisaService .header .srvServiceDesc { width: 450px; height: 100%; float: left; }
      .OVForm .VisaService .header .srvCompulsory { width: 60px; height: 100%; float: left; }
      .OVForm .VisaService .header .srvIncPack { width: 60px; height: 100%; float: left; }
      .OVForm .VisaService .header .srvUnit { width: 70px; height: 100%; float: left; }
      .OVForm .VisaService .header .srvPrice { width: 150px; height: 100%; float: left; }
    .OVForm .VisaService .row { width: 100%; height: 30px; position: relative; font-size: 10pt; }
      .OVForm .VisaService .row .srvServiceType { width: 150px; height: 100%; float: left; }
      .OVForm .VisaService .row .srvServiceDesc { width: 450px; height: 100%; float: left; }
      .OVForm .VisaService .row .srvCompulsory { width: 60px; height: 100%; float: left; text-align: center; }
      .OVForm .VisaService .row .srvIncPack { width: 60px; height: 100%; float: left; text-align: center; }
      .OVForm .VisaService .row .srvUnit { width: 40px; height: 100%; float: left; text-align: center; }
      .OVForm .VisaService .row .srvPrice { width: 150px; height: 100%; float: left; text-align: right; }
