﻿body { width: auto; height: auto; }
#resultTable { width: 990px; font-family: Arial; font-size: 9pt; border: solid 1px #666; }
#resultTable .headerTR { font-weight: bold; background-color: #333; color: #FFF; }
#resultTable .tdh1 { text-align: center; width: 55px; }
#resultTable .tdh2 { text-align: center; width: 128px; }
#resultTable .tdh3 { }
#resultTable .tdh4 { text-align: center; width: 128px; }
#resultTable .tdh5 { }
#resultTable .tdh6 { text-align: center; width: 40px; }
#resultTable .tdh7 { text-align: center; width: 40px; }
#resultTable .tdh8 { text-align: center; width: 80px; }
#resultTable .tdh9 { text-align: center; width: 80px; }
#resultTable .tdh10 { text-align: center; width: 80px; }
#resultTable .tdh11 { text-align: center; width: 40px; }
.leftTD { text-align: left; }
.rightTD { text-align: right; }
.centerTD { text-align: center; }
.alterTR { background-color: #DADADA; }
.discountRow { color: #FF0000; font-style: italic; }
.totalRow { color: #006600; font-style: italic; }
