﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
html { overflow: auto; font-family: Tahoma, Geneva, sans-serif; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }

body, form { width: 100%; min-height: 600px; background-color: #F9F9F9; font-size: 8pt; }

.filterGroup { text-align: left; width: 248px; height: 42px; }
    .filterGroup .countryGrp { position: relative; top: 0px; left: 0px; height: 25px; width: 248px; }
        .filterGroup .countryGrp input { width: 225px; border: 1px solid #808080; position: relative; margin-top: 3px; }
        .filterGroup .countryGrp img { padding-top: 0px; position: absolute; }
    .filterGroup .paxLocationGrp { position: relative; top: 0px; left: 0px; height: 25px; width: 248px; }
        .filterGroup .paxLocationGrp input { width: 225px; border: 1px solid #808080; position: relative; margin-top: 3px; }
        .filterGroup .paxLocationGrp img { padding-top: 0px; position: absolute; }
    .filterGroup .arrCityGrp { position: relative; }
        .filterGroup .arrCityGrp select { width: 240px; border: 1px solid #808080; position: relative; margin-top: 3px; }
    .filterGroup .holPackGrp { position: relative; }
        .filterGroup .holPackGrp select { width: 240px; border: 1px solid #808080; position: relative; margin-top: 3px; }
    .filterGroup .checkInDiv { width: 148px; float: left; }
        .filterGroup .checkInDiv .checkInGrp { position: relative; }
            .filterGroup .checkInDiv .checkInGrp input { width: 110px; }
            .filterGroup .checkInDiv .checkInGrp img { position: absolute; top: 3px; }
    .filterGroup .expendDayDiv { width: 95px; float: left; }
        .filterGroup .expendDayDiv .expandDayGrp { position: relative; }
            .filterGroup .expendDayDiv .expandDayGrp select { width: 90px; }
    .filterGroup .nightFirstDiv { width: 49%; float: left; }
        .filterGroup .nightFirstDiv .nightFirstGrp { position: relative; }
            .filterGroup .nightFirstDiv .nightFirstGrp select { width: 90%; }
    .filterGroup .nightLastDiv { width: 49%; float: left; }
        .filterGroup .nightLastDiv .nightLastGrp { position: relative; }
            .filterGroup .nightLastDiv .nightLastGrp select { width: 90%; }

.filterRoomGroup { text-align: left; width: 248px; height: auto; }
    .filterRoomGroup .roomCountGrp { width: 100%; }
    .filterRoomGroup .roomGrp { width: 100%; }
        .filterRoomGroup .roomGrp .roomInfo { width: 100%; }

.filterMultiSelectGroup { text-align: left; width: 248px; height: auto; cursor: pointer; }
    .filterMultiSelectGroup .filterMultiSelectHeader { width: 99%; height: 22px; position: relative; }
        .filterMultiSelectGroup .filterMultiSelectHeader .filterMultiSelectLabel { width: 220px; position: relative; float: left; bottom: -5px; }
            .filterMultiSelectGroup .filterMultiSelectHeader .filterMultiSelectLabel span { width: 99%; }
        .filterMultiSelectGroup .filterMultiSelectHeader .filterMultiSelectImg { height: auto; width: 25px; float: left; bottom: 2px; }
            .filterMultiSelectGroup .filterMultiSelectHeader .filterMultiSelectImg img { height: 22px; }
    .filterMultiSelectGroup .multiField { width: 99%; min-height: 5px; height: auto; border-bottom: solid 1px #DDD; }


.listPopup { font-size: 7pt !important; width: 99%; max-height: 99%; top: 0px; left: 0px; position: relative; }
    .listPopup .listPopupResult { width: 99%; max-height: 99%; font-size: 7pt; }
        .listPopup .listPopupResult .divListPopupRow { clear: both; height: 20px; padding: 2px; font-size: 10px; width: 98%; }
            .listPopup .listPopupResult .divListPopupRow .divListPopupleftDiv { float: left; width: 10%; }
            .listPopup .listPopupResult .divListPopupRow .divListPopuprightDiv { float: left; width: 88%; }
                .listPopup .listPopupResult .divListPopupRow .divListPopuprightDiv .tranCss { clear: both; width: 170px; border: none; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
                    .listPopup .listPopupResult .divListPopupRow .divListPopuprightDiv .tranCss label { width: 165px; }
        .listPopup .listPopupResult .divListPopupRowAlter { clear: both; height: 20px; padding: 2px; font-size: 10px; width: 98%; }
            .listPopup .listPopupResult .divListPopupRowAlter .divListPopupleftDiv { float: left; width: 10%; }
            .listPopup .listPopupResult .divListPopupRowAlter .divListPopuprightDiv { float: left; width: 88%; }
                .listPopup .listPopupResult .divListPopupRowAlter .divListPopuprightDiv .tranCss { clear: both; width: 170px; border: none; white-space: nowrap; overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
                    .listPopup .listPopupResult .divListPopupRowAlter .divListPopuprightDiv .tranCss label { width: 165px; }

#countryAutoComplette { width: 95%; }
#arrCityAutoComplette { width: 95%; }
#divPaxNationality select { width: 95%; }

#hotelAutoComplette { }
.arrCityAutoComp { color: #000000; }
.countryAutoComp { color: #ff6a00; cursor: pointer; height: 15px; padding-top: 3px; }
.countryAutoComp2 { color: #ff6a00; cursor: pointer; height: 15px; text-decoration: none; padding-top: 3px; }
    .countryAutoComp2:hover { background-color: #DFDFDF; text-decoration: underline; }
.countryAutoComp1 { color: #000000; cursor: pointer; font-weight: bold; height: 15px; text-decoration: none; padding-top: 3px; }
    .countryAutoComp1:hover { background-color: #DFDFDF; text-decoration: underline; }
.mainCountries { background-color: #e6e6e6; height: 25px; text-align: center; font-size: 110%; margin-top: 4px; }
.otherCountries { background-color: #e6e6e6; height: 25px; text-align: center; font-size: 110%; }


.divListPopuprightDiv { float: left; }

.divListPopupRowAlter { clear: both; height: 20px; padding: 2px; background-color: #EFEFEF; }
/*.divListPopupRowAlter div { background: none; }*/
.divListPopupRowLabel { }

/*border: none; white-space: nowrap; width: 100px; overflow:hidden;*/

.detailSearch { background-color: #CCC; height: 25px; }

#dialog-listPopup .ui-button-text { font-size: 7pt; }
