﻿body { width: 735px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 10pt; }

.Filter { width: 730px; height: 50px; background: none; }
    .Filter .FilterResult { width: 205px; float: left; }
        .Filter .FilterResult select { width: 200px; }
    .Filter .FilterCategory { width: 205px; float: left; }
        .Filter .FilterCategory select { width: 200px; }
    .Filter .FilterHotel { width: 305px; float: left; }
        .Filter .FilterHotel select { width: 300px; }
    .Filter .FilterRoom { width: 205px; float: left; }
        .Filter .FilterRoom select { width: 200px; }
    .Filter .FilterBoard { width: 205px; float: left; }
        .Filter .FilterBoard select { width: 200px; }

.sorting { clear: both; padding-top: 5px; height: 45px; background-color: #abfaf9; font-size: 10pt; }
.totalResultCount { font-size: 10pt; }
.sortingSelect { font-size: 11pt; background-color: #abfaf9; text-align: right; }
    .sortingSelect select { font-size: 10pt; }

.HotelGroupOddEven { background-color: #228ac1 !important; }
    .HotelGroupOddEven .PriceHeader .SelectedPriceBook .TotalPrice { color: #FFF !important; }
    .HotelGroupOddEven .PriceHeader .PriceHeaderDetails .HolidayDetails { color: #FFF !important; }
.HotelGroup { width: 100%; background-color: #abfaf9; border: solid 1px #270cfc; font-size: 8pt; margin-top: 5px; margin-bottom: 5px; }

    .HotelGroup .PriceHeader { width: 100%; height: 75px; background: none; }

        .HotelGroup .PriceHeader .PriceHeaderDetails { width: 65%; float: left; }
            .HotelGroup .PriceHeader .PriceHeaderDetails .HotelImage { width: 24%; height: 100%; float: left; }
            .HotelGroup .PriceHeader .PriceHeaderDetails .HolidayDetails { width: 74%; height: 75px; float: left; margin-left: 1%; }
                .HotelGroup .PriceHeader .PriceHeaderDetails .HolidayDetails .HotelName { font-size: 12pt; cursor: pointer; }
                .HotelGroup .PriceHeader .PriceHeaderDetails .HolidayDetails .HotelLocation { font-size: 10pt; }
                .HotelGroup .PriceHeader .PriceHeaderDetails .HolidayDetails .CheckInOut { font-size: 10pt; }
                .HotelGroup .PriceHeader .PriceHeaderDetails .HolidayDetails .Night { font-size: 10pt; }

        .HotelGroup .PriceHeader .OtherInformation { width: 9%; float: left; text-align: center; }

        .HotelGroup .PriceHeader .SelectedPriceBook { width: 24%; float: right; text-align: right; height: 100%; position: relative; }
            .HotelGroup .PriceHeader .SelectedPriceBook .TotalPrice { font-size: 12pt; color: #1e30d8; position: absolute; right: 10px; top: 10px; font-weight: bold; }
            .HotelGroup .PriceHeader .SelectedPriceBook .BookButton { position: absolute; text-align: center; bottom: 5px; height: 30px; width: 100%; right: 0px; }
                .HotelGroup .PriceHeader .SelectedPriceBook .BookButton input { width: 95%; font-weight: bold; border: solid 1px #1e30d8; background-color: #85e6fe; height: 30px; }

    .HotelGroup .RoomPriceDetail { width: 98%; height: auto; background-color: #FFF; margin-left: 1%; }
        .HotelGroup .RoomPriceDetail .MultipleRoomGroup { width: 100%; }

            .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomGroupAccommodationInfo { width: 100%; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomGroupAccommodationInfo strong { }

            .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader { width: 100%; background-color: #0099ff; color: #FFF; height: 20px; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Select { width: 25px; float: left; text-align: center; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Allotment { width: 25px; float: left; text-align: center; }
                    .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Allotment img { width: 16px; height: 16px; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .DepFlight { width: 50px; float: left; text-align: center; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .RetFlight { width: 50px; float: left; text-align: center; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Board { width: 110px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Room { width: 200px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Accom { width: 125px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Price { width: 100px; float: left; text-align: center; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPriceHeader .Offer { width: 22px; float: left; }

            .HotelGroup .RoomPriceDetail .MultipleRoomGroup .PriceOddEven { width: 100%; }
            .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice { width: 100%; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Select { width: 25px; float: left; text-align: center; }
                    .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Select input { }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Allotment { width: 25px; float: left; text-align: center; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .DepFlight { width: 50px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .RetFlight { width: 50px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Board { width: 110px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Room { width: 200px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Accom { width: 125px; float: left; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Price { width: 100px; float: left; text-align: right; }
                .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Offer { width: 22px; float: left; }
                    .HotelGroup .RoomPriceDetail .MultipleRoomGroup .RoomAccomPrice .Offer img { width: 16px; height: 16px; }
