﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
html { overflow: auto; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
.clear { clear: both; }
body { line-height: normal; width: 100%; font-family: Tahoma, Verdana, Sans-Serif; font-size: 9pt; }

.showHideImg { }

#gridResult { width: 970px; font-size: 9pt; }
.offer { float: right; right: 2px; top: 5px; }
#basketTableDiv { width: 970px; border: solid 1px #666; }
#basketTableDiv table { width: 100%; border: none; }
#basketTableDiv .hotel { }
#basketTableDiv .room { width: 150px; }
#basketTableDiv .accom { width: 150px; }
#basketTableDiv .board { width: 50px; }
#basketTableDiv .checkin { width: 80px; }
#basketTableDiv .night { width: 50px; }
#basketTableDiv .price { width: 100px; }
#basketTableDiv .cur { width: 40px; }
#basketTableDiv .info { width: 30px; }


#resultTableDiv { width: 970px; }
#resultTableDiv table { width: 100%; font-size: 9pt; border: none; }
#resultTableDiv table td { padding: 1px 0px 1px 0px; border: none; }
#resultTableDiv table thead td { height: 30px; }
.bookStyle { text-decoration: underline; cursor: pointer; }
.cursorDefault { cursor: default; }
.StopSaleColor { background-color: #FF4D4D !important; }
.StopSaleColor td { background-color: #FF4D4D !important; color: #000000 !important; }
.StopSaleColorOK td { color: #FF0000 !important; }
