﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: normal; width: 100%; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
.clear { clear: both; }

.resultGrid { width: 100%; font-family: Tahoma; font-size: 9pt; border-collapse: separate; border-spacing: 4px; }
    .resultGrid .td { /*padding-bottom: 8px;*/ }
    .resultGrid .PriceTable.odd { background-color: #EFEFEF; border: 0 none /*solid 1px #BBB*/; width: 100%; font-family: Tahoma; font-size: 9pt; }
    .resultGrid .PriceTable.even { background-color: rgb(140, 140, 140); border: solid 1px #000000; width: 100%; font-family: Tahoma; font-size: 9pt; }
    .resultGrid .PriceTable.odd .PriceHeader { width: 100%; border: none; margin: 0; padding: 0; outline: 0; }
    .resultGrid .PriceTable.even .PriceHeader { width: 100%; border: none; margin: 0; padding: 0; outline: 0; }
    .resultGrid .PriceTable.odd .PriceHeader .headerHotelName { font-size: 10pt; color: #0000FF; }
    .resultGrid .PriceTable.even .PriceHeader .headerHotelName { font-size: 10pt; color: #0000FF; }
    .resultGrid .PriceTable.odd .PriceHeader .headerHotelLocation { font-size: 9pt; }
    .resultGrid .PriceTable.even .PriceHeader .headerHotelLocation { font-size: 9pt; color: #FFF; }
    .resultGrid .PriceTable.odd .PriceHeader .headerCheckInOut { font-size: 9pt; }
    .resultGrid .PriceTable.even .PriceHeader .headerCheckInOut { font-size: 9pt; color: #FFF; }
    .resultGrid .PriceTable.odd .PriceHeader .headerNight { font-size: 9pt; }
    .resultGrid .PriceTable.even .PriceHeader .headerNight { font-size: 9pt; color: #FFF; }
    .resultGrid .PriceTable.odd .PriceHeader .headerDepArr { font-size: 9pt; }
    .resultGrid .PriceTable.even .PriceHeader .headerDepArr { font-size: 9pt; color: #FFF; }
    .resultGrid .PriceTable.odd .PriceHeader .totalInfo { width: 330px; }
    .resultGrid .PriceTable.even .PriceHeader .totalInfo { width: 330px; }
    .resultGrid .PriceTable.odd .PriceHeader .bookCell { text-align: right; width: 150px; height: 60px; padding-right: 1px; /*position: absolute;*/ }
    .resultGrid .PriceTable.even .PriceHeader .bookCell { text-align: right; width: 150px; height: 60px; padding-right: 1px; /*position: absolute;*/ }
    .resultGrid .PriceTable.odd .PriceHeader .bookCell img { top: 7px; left: 2px; cursor: pointer; }
    .resultGrid .PriceTable.even .PriceHeader .bookCell img { top: 7px; left: 2px; cursor: pointer; }
    .resultGrid .PriceTable.odd .PriceHeader .bookCell .bookButton { position: relative; top: 0px; right: 0px; }
    .resultGrid .PriceTable.even .PriceHeader .bookCell .bookButton { position: relative; top: 0px; right: 0px; }
    .resultGrid .PriceTable.odd .PriceHeader .bookCell .bookButton input { position: relative; width: 125px; height: 30px; bottom: -5px; font-weight: bold; }
    .resultGrid .PriceTable.even .PriceHeader .bookCell .bookButton input { position: relative; width: 125px; height: 30px; bottom: -5px; font-weight: bold; }
    .resultGrid .PriceTable.odd .PriceHeader .bookCell .price { position: relative; top: 1px; font-size: 11pt; font-weight: bold; }
    .resultGrid .PriceTable.even .PriceHeader .bookCell .price { position: relative; top: 1px; font-size: 11pt; font-weight: bold; color: #FFF; }
    .resultGrid .PriceTable.odd .PriceHeader .availtd { width: 100px; vertical-align: top; }
    .resultGrid .PriceTable.even .PriceHeader .availtd { width: 100px; vertical-align: top; }
    .resultGrid .PriceTable.odd .PriceHeader .availtd div { text-align: center; }
    .resultGrid .PriceTable.even .PriceHeader .availtd div { text-align: center; }
    .resultGrid .PriceTable.odd .PriceHeader .availtd div span { font-size: 10px; font-weight: bold; color: #000; }
    .resultGrid .PriceTable.even .PriceHeader .availtd div span { font-size: 10px; font-weight: bold; color: #FFF; }

    .resultGrid .PriceTable.odd .PriceDetail { border: solid 1px #AAA; background-color: #FFF; width: 100%; font-family: Tahoma; font-size: 8pt; border-collapse: separate; }
    .resultGrid .PriceTable.even .PriceDetail { border: solid 1px #AAA; background-color: #FFF; width: 100%; font-family: Tahoma; font-size: 8pt; border-collapse: separate; }
    .resultGrid .PriceTable.odd .PriceDetail .accom { width: 200px; vertical-align: top; padding: 2px; }
    .resultGrid .PriceTable.even .PriceDetail .accom { width: 200px; vertical-align: top; padding: 2px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices { font-family: Tahoma; font-size: 8pt; width: 100%; padding-left: 20px; }
    .resultGrid .PriceTable.even .PriceDetail .prices { font-family: Tahoma; font-size: 8pt; width: 100%; padding-left: 20px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices td { /*padding-right: 2px; padding-left: 1px; */ white-space: nowrap; vertical-align: middle; }
    .resultGrid .PriceTable.even .PriceDetail .prices td { /*padding-right: 2px; padding-left: 1px;  white-space: nowrap;*/ vertical-align: middle; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .header { font-size: 7pt; font-weight: bold; }
    .resultGrid .PriceTable.even .PriceDetail .prices .header { font-size: 7pt; font-weight: bold; white-space: normal !important; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .header td { background-color: #EFEFEF; height: 10px; white-space: normal !important; }
    .resultGrid .PriceTable.even .PriceDetail .prices .header td { background-color: #EFEFEF; height: 10px; white-space: normal !important; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .select { width: 25px; }
    .resultGrid .PriceTable.even .PriceDetail .prices .select { width: 25px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .free { width: 25px; }
    .resultGrid .PriceTable.even .PriceDetail .prices .free { width: 25px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .depFlight { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.even .PriceDetail .prices .depFlight { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .depFlightSeat { width: 70px; }
    .resultGrid .PriceTable.even .PriceDetail .prices .depFlightSeat { width: 70px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .retFlight { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.even .PriceDetail .prices .retFlight { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .retFlightSeat { width: 70px; }
    .resultGrid .PriceTable.even .PriceDetail .prices .retFlightSeat { width: 70px; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .board { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.even .PriceDetail .prices .board { width: 115px; cursor: pointer; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .room { width: 120px; cursor: pointer; }
    .resultGrid .PriceTable.even .PriceDetail .prices .room { width: 120px; cursor: pointer; }
    .resultGrid .PriceTable.odd .PriceDetail .prices .accom { }
    .resultGrid .PriceTable.even .PriceDetail .prices .accom { }
    .resultGrid .PriceTable.odd .PriceDetail .prices .price { min-width: 100px; text-align: right; border: solid 1px #DEDEDE; white-space: nowrap; }
    .resultGrid .PriceTable.even .PriceDetail .prices .price { min-width: 100px; text-align: right; border: solid 1px #DEDEDE; white-space: nowrap; }

.depFlightSet { width: 22px; }
.retFlightSet { width: 22px; }

.divSelectPage { width: 100%; height: 30px; vertical-align: middle; font-family: Tahoma; font-size: 9pt; background-color: #DBDBDB; }
.divResultPageHeader { width: 100%; height: 30px; font-family: Tahoma; font-size: 8pt; background-color: #DBDBDB; position: relative; }
    .divResultPageHeader .offer { float: right; right: 2px; top: 5px; }

#flightInfo { width: 400px; font-family: Tahoma; font-size: 10pt; }
    #flightInfo table { width: 100%; border-collapse: separate; border-spacing: 5px; }
        #flightInfo table td { height: 25px; }
        #flightInfo table .Caption { width: 130px; background-color: #DEDEDE; font-weight: bold; }

.StopSaleColor { background-color: #FF4D4D; }
    .StopSaleColor td { background-color: #FF4D4D; color: #000000; }
.StopSaleColorOK td { color: #FF0000; }

.depFly { }
.retFly { }
.flyInfoCss { width: 100%; font-family: Tahoma; font-size: 9pt; }
    .flyInfoCss td { padding-left: 2px; padding-right: 2px; padding-bottom: 1px; padding-top: 1px; }
    .flyInfoCss tr { border-bottom: solid 1px #CCC; }
.roomConsept { border: none;  width: 100px; overflow: hidden; }
.boardConsept { border: none; white-space: nowrap; width: 100px; overflow: hidden; }
.accomConsept { border: none; white-space: nowrap; width: 180px; overflow: hidden; }

.divResultNote { width: 100%; background-color: #FFF; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.resultFilter { font-family: Tahoma; font-size: 8pt; border: solid 1px #BBB; background-color: #DEDEDE; }

.handicaps { font-family: Tahoma; font-size: 7pt !important; color: Red !important; }

.plate { font-weight: bold; font-size: 8pt !important; }
.flightAllot { float: left; height: 40px; width: 40px;}
