﻿.showReadMore { width: 655px; height: auto; font-size: 8pt !important; }
    .showReadMore .hotelInfoBody { width: 660px; height: 500px; border: 0; }
.showReadMoreDiv { width: 550px; height: auto; }

.hotelInfoBody { padding: 0 0 0 0; margin: 0 0 0; font-size: 12px; background-color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-style: normal; font-weight: 400; color: #000000; line-height: 18px; }