﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
html { overflow: auto; font-family: Tahoma, Geneva, sans-serif;}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }

body { width: 238px; min-height: 500px; background-color: #F9F9F9; font-size: 8pt; }

#fltDirection { width: 245px; }
#fltCategory { width: 245px; }
#fltDepCity { width: 245px; }
#fltHolPackCat { width: 245px; }
#fltArrCity { width: 245px; }
#fltCheckInDay { width: 75px; }
#fltNight1 { width: 50px; }
#fltHolpack { width: 245px; }

#divListPopup { font-size: 7pt; }

.multiField { width: 100%; height: auto; border-bottom: solid 1px #DDD; }

.divListPopupleftDiv { float: left; width: 22px; }
.divListPopuprightDiv { float: left; }
.divListPopupRow { clear: both; height: 20px; padding: 2px; }
.divListPopupRowAlter { clear: both; height: 20px; padding: 2px; background-color: #EFEFEF; }
/*.divListPopupRowAlter div { background: none; }*/
.divListPopupRowLabel { }
.tranCss { clear: both; width: 160px; border: none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
/*border: none; white-space: nowrap; width: 100px; overflow:hidden;*/

.detailSearch { background-color: #CCC; height: 25px; }

#dialog-listPopup .ui-button-text { font-size: 7pt; }