﻿#filterFrameDiv { float: left; width: 250px; }
#divResultDiv { float: left; width: 730px; }
.rotate { -webkit-transform: rotate(-90deg); /* Safari */ -moz-transform: rotate(-90deg); /* Firefox */ -ms-transform: rotate(-90deg); /* IE */ -o-transform: rotate(-90deg); /* Opera */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */ cursor: pointer; background-color:Black #666; }
