﻿body { font-family: Tahoma; font-size: 9pt; width: 755px; height: 370px; }

#promoGrid { width: 750px; min-height: 355px; }
#promoGrid table { width: 100%; }
#promoGrid table tr:hover { background-color: #CCC; cursor: pointer; }
#promoGrid .th { height: 40px; vertical-align: middle; background-color: #888; color: #fff; }
#promoGrid .hSelect { text-align: center; width: 50px; }
#promoGrid .hPromoType { text-align: center; width: 100px; }
#promoGrid .hConfReq { text-align: center; width: 50px; }
#promoGrid .hMessage { text-align: center; }
#promoGrid .hPassenger { text-align: center; width: 175px; }
#promoGrid .hAmount { text-align: center; width: 90px; }
#promoGrid .hCur { text-align: center; width: 40px; }

#promoGrid .select { text-align: center; }
#promoGrid .promoType { text-align: left; }
#promoGrid .confReq { text-align: center; }
#promoGrid .message { text-align: left; }
#promoGrid .passenger { text-align: left; }
#promoGrid .amount { text-align: right; }
#promoGrid .cur { text-align: left; }

.btnDiv { width: 750px; height: 30px; text-align: center; }
.btnDiv input { width: 100px; border: solid 1px #999; background-color: #BBB; font-weight: bold; top: 3px; position: relative; }
