﻿body { width: 100%; text-align: center; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
#paymentForm { width: 100%; text-align: center; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
#paymentDiv { width: 500px; text-align: left; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
.header { text-align: center; font-weight: bold; font-size: 14pt; }
.inputrow { text-align: left; width: 95%; margin-left: 3%; }
.label { font-weight: bold; font-size: 8pt; }
.editinput { font-size: 9pt; height: auto; }
    .editinput select { width: 90%; }
    .editinput input { width: 90%; }
    .editinput .amount { width: 120px; float: left; text-align: right; }
    .editinput .currency { width: 80px; margin-left: auto; }
.editinputdate { font-size: 9pt; }
    .editinputdate input { width: 110px; }
.paymentMessage { font-size: 14pt; }
