﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: 1; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }
/*Sifirlama */

body { font-family: Tahoma; font-size: 10pt; width: 408px; height: 398px; }
.divCustDetail { width: 97%; height: 100%; position: absolute; padding-left: 5px; padding-right: 5px; text-align:center; }
.divClear { clear: both; height: 40px; }
.divCustDetail table { width: 100%; text-align:left; }
.divCustDetail table td { vertical-align:middle; bottom: 5px;}
.divCustDetail .Field { width: 140px; padding-left: 5px; background-color: #EEE; }
.divCustDetail .Field span { font-weight: bold; font-size: 9pt; }

.divCustDetail .Title { width: 60px; }
.divCustDetail .Surname { width: 200px; }
.divCustDetail .Name { width: 180px; }
.divCustDetail .BirthDay { width: 120px; }
.divCustDetail .Age { width: 60px; }
.divCustDetail .IDNo { width: 150px; }
.divCustDetail .PassSerie { width: 70px; }
.divCustDetail .PassNo { width: 120px; }
.divCustDetail .PassIssueDate { width: 100px; }
.divCustDetail .PassExpDate { width: 100px; }
.divCustDetail .PassGiven { width: 150px; }
.divCustDetail .Nation { width: 200px; }
.divCustDetail .LeftSpace { width: 50px; }

.dateFormatAlert { font-size: 7pt; color: #F00;}

.divBtn { width: 100%; text-align: center; }


