﻿/*Sifirlama */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { line-height: 1; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*Sifirlama */

body { width: 575px; font-family: Tahoma; font-family: 8pt; }

.divVisaInfo { clear: both; margin: 0; padding: 0; border: 0; outline: 0; font-family: Tahoma; font-size: 8pt; text-decoration: none; }
.divVisaInfo { width: 550px; }

.divCustomersVisa { border: solid 1px #aaa; }

.divVisa { width: 550px; }

.divResNo { font-size: 11pt; font-weight: bold; text-align: center; }
.divCustInfo { font-size: 11pt; font-weight: bold; text-align: center; }
.divDateInfo { font-size: 8pt; text-align: center; }
.divTitleNameSurname { width: 500px; }
.divTitle { width: 140px; float: left; text-align: left; }
.divSurname { width: 175px; float: left; text-align: left; }
.divName { width: 155px; float: left; text-align: left; }

.divBirthDayIDNoPassSeriePassNo { width: 500px; clear: both; }
.divBirthday { width: 140px; float: left; }
.divIdNo { width: 175px; float: left; }
.divPassSerie { width: 155px; float: left; }

.divPassIssueDateExpDateGiven { width: 500px; clear: both; }
.divPassIssueDate { width: 140px; float: left; }
.divPassExpDate { width: 175px; float: left; }
.divPassGiven { width: 155px; float: left; }

.Caption { font-weight: bold; }
.titleInput { width: 75px; }
.surnameInput { width: 168px; }
.nameInput { width: 150px; }
.birthdayInput { width: 100px; }
.idNoInput { width: 120px; }
.passSerieInput { width: 40px; }
.passNoInput { width: 90px; }
.passIssueDateInput { width: 100px; }
.passExpDateInput { width: 100px; }
.passGivenInput { width: 130px; }

.unVisible { display: none; }

.divBirthSurname {}

 #divVisaInput input {width: 95%;}