﻿body {/* width: 575px; height: 475px;*/ font-family: Tahoma; font-family: 8pt; }

#divInfo { clear: both; margin: 0; padding: 0; border: 0; outline: 0; font-family: Tahoma; font-size: 8pt; text-decoration: none; }
#divCustomersInfo { width: 100%; padding-left: 18px; }
#divCustomers { width: 100%; text-align: center; }
#divCustomers table { font-family: Tahoma; font-size: 8pt; text-align: left; width: 100%; }
#divButtons { width: 100%; position: absolute; bottom: 14px; }

.divCustomers { font-family: Tahoma; font-size: 8pt; }
#divResCust { height: 160px; padding-left: 10px; }

.divResNo { width: 500px; font-size: 11pt; font-weight: bold; text-align: center; }
.divCustInfo { width: 500px; font-size: 11pt; font-weight: bold; text-align: center; }
.divDateInfo { width: 500px; font-size: 8pt; text-align: center; }
.divTitleNameSurname { width: 500px; }
.divTitle { width: 140px; float: left; text-align: left; }
.divSurname { width: 175px; float: left; text-align: left; }
.divName { width: 155px; float: left; text-align: left; }

.divBirthDayIDNoPassSeriePassNo { width: 500px; clear: both; }
.divBirthday { width: 140px; float: left; }
.divIdNo { width: 175px; float: left; }
.divPassSerie { width: 155px; float: left; }

.divPassIssueDateExpDateGiven { width: 500px; clear: both; }
.divPassIssueDate { width: 140px; float: left; }
.divPassExpDate { width: 200px; float: left; }
.divPassGiven { width: 155px; float: left; }

.titleInput { width: 75px; }
.surnameInput { width: 168px; }
.nameInput { width: 150px; }
.birthdayInput { width: 100px; }
.idNoInput { width: 120px; }
.passSerieInput { width: 40px; }
.passNoInput { width: 90px; }
.passIssueDateInput { width: 100px; }
.passExpDateInput { width: 100px; }
.passGivenInput { width: 130px; }

.unVisible { display: none; }
