﻿body { font-family: Tahoma; font-size: 9pt; /*width: 550px; height: 410px;*/ }

.pix250 {width: 250px; }  
.combo {width: 100px;}
#divContact {  }
#divContact table { width: 100%; }
#divContact .Label { width: 145px; text-align: right; font-size: 8pt; background-color: #EFEFEF; }

#divContact .Field select { width: 100px; }

#divHomeAddress { }
#divHomeAddress table { width: 100%; }
#divHomeAddress .Label { width: 145px; text-align: right; vertical-align:top; font-size: 8pt; background-color: #EFEFEF; }

#divWorkAddress {  }
#divWorkAddress table { width: 100%; }
#divWorkAddress .Label { width: 145px; text-align: right; vertical-align:top; font-size: 8pt; background-color: #EFEFEF; }

#divBankInfo { }
#divBankInfo table { width: 100%; }
#divBankInfo .Label { width: 145px; text-align: right; vertical-align:top; font-size: 8pt; background-color: #EFEFEF; }

#divInfo { clear: both; margin: 0; padding: 0; border: 0; outline: 0; font-family: Tahoma; font-size: 9pt; text-decoration: none; height: 100%; }

#divCustomersInfo { width: 100%; padding-left:10px; }

#divCustomers { width: 100%; text-align: center; }

.divButtons { width: 550px; position: absolute; bottom: 15px; text-align: center; }
