﻿body { width: 940px; }

.RRForm { width: 740px; height: auto; position: relative; border-bottom: solid 1px #666; border-left: solid 1px #666; border-right: solid 1px #666; margin-top: 5px; float: left; }
    .RRForm .HotelServices { width: 740px; min-height: 100px; position: relative; }
        .RRForm .HotelServices .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
            .RRForm .HotelServices .header .srvHotelSeqNo { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelSelect { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelDescription { width: 410px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelUnit { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelCheckIn { width: 80px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelCheckOut { width: 80px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServices .header .srvHotelNight { width: 30px; height: auto; float: left; padding-top: 5px; }
        .RRForm .HotelServices .row { width: 100%; height: 30px; position: relative; font-size: 10pt; cursor: pointer; background: none; padding-top: 5px; }
            .RRForm .HotelServices .row:hover { background-color: #e9e9e9; }
            .RRForm .HotelServices .row .srvHotelSeqNo { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServices .row .srvHotelSelect { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServices .row .srvHotelDescription { width: 410px; height: auto; float: left; }
            .RRForm .HotelServices .row .srvHotelUnit { width: 40px; height: auto; float: left; }
            .RRForm .HotelServices .row .srvHotelCheckIn { width: 80px; height: auto; float: left; }
            .RRForm .HotelServices .row .srvHotelCheckOut { width: 80px; height: auto; float: left; }
            .RRForm .HotelServices .row .srvHotelNight { width: 30px; height: auto; float: left; text-align: center; }

            .RRForm .HotelServices .row .srvAddHotelSeqNo { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServices .row .srvAddHotelSelect { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServices .row .srvAddHotelDescription { width: 410px; height: auto; float: left; }
                .RRForm .HotelServices .row .srvAddHotelDescription select { width: 98%; }
            .RRForm .HotelServices .row .srvAddHotelUnit { width: 40px; height: auto; float: left; }
            .RRForm .HotelServices .row .srvAddHotelCheckIn { width: 80px; height: auto; float: left; }
                .RRForm .HotelServices .row .srvAddHotelCheckIn input { width: 98%; }
            .RRForm .HotelServices .row .srvAddHotelCheckOut { width: 80px; height: auto; float: left; }
                .RRForm .HotelServices .row .srvAddHotelCheckOut input { width: 98%; }
            .RRForm .HotelServices .row .srvAddHotelNight { width: 30px; height: auto; float: left; text-align: center; }
                .RRForm .HotelServices .row .srvAddHotelNight input { width: 98%; }

    .RRForm .HotelWizardButtons { width: 100%; }
        .RRForm .HotelWizardButtons input { width: 120px; }


    .RRForm .HotelServiceRooms { width: 740px; min-height: 100px; position: relative; }
        .RRForm .HotelServiceRooms .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomSeqNo { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomSelect { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomRoom { width: 210px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomAccom { width: 200px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomBoard { width: 200px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRooms .header .srvHotelRoomUnit { width: 45px; height: auto; float: left; padding-top: 5px; }
        .RRForm .HotelServiceRooms .row { width: 100%; height: 30px; position: relative; font-size: 10pt; cursor: pointer; background: none; padding-top: 5px; }
            .RRForm .HotelServiceRooms .row:hover { background-color: #e9e9e9; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomSeqNo { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomSelect { width: 40px; height: auto; float: left; text-align: center; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomRoom { width: 210px; height: auto; float: left; }
                .RRForm .HotelServiceRooms .row .srvHotelRoomRoom select { width: 95%; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomAccom { width: 200px; height: auto; float: left; }
                .RRForm .HotelServiceRooms .row .srvHotelRoomAccom select { width: 95%; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomBoard { width: 200px; height: auto; float: left; }
                .RRForm .HotelServiceRooms .row .srvHotelRoomBoard select { width: 95%; }
            .RRForm .HotelServiceRooms .row .srvHotelRoomUnit { width: 45px; height: auto; float: left; }
                .RRForm .HotelServiceRooms .row .srvHotelRoomUnit input { width: 99%; }

    .RRForm .HotelServiceRoomCustomers { width: 740px; min-height: 100px; position: relative; }
        .RRForm .HotelServiceRoomCustomers .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomSelect { width: 40px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomCustNo { width: 50px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomTitle { width: 75px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomSurname { width: 245px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomName { width: 240px; height: auto; float: left; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .header .custHotelRoomBirthDate { width: 90px; height: auto; float: left; padding-top: 5px; }
        .RRForm .HotelServiceRoomCustomers .row { width: 100%; height: 30px; position: relative; font-size: 10pt; cursor: pointer; background: none; padding-top: 5px; }
            .RRForm .HotelServiceRoomCustomers .row:hover { background-color: #e9e9e9; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomSelect { width: 40px; height: auto; float: left; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomCustNo { width: 50px; height: auto; float: left; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomTitle { width: 75px; height: auto; float: left; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomSurname { width: 245px; height: auto; float: left; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomName { width: 240px; height: auto; float: left; }
            .RRForm .HotelServiceRoomCustomers .row .custHotelRoomBirthDate { width: 90px; height: auto; float: left; }

    .RRForm .ResHeader { width: 740px; min-height: 30px; position: relative; }
        .RRForm .ResHeader .BegDate { width: 150px; height: 35px; float: left; }
            .RRForm .ResHeader .BegDate strong { font-size: 10pt; }
            .RRForm .ResHeader .BegDate span { font-size: 12pt; }
        .RRForm .ResHeader .EndDate { width: 150px; height: 35px; float: left; }
            .RRForm .ResHeader .EndDate strong { font-size: 10pt; }
            .RRForm .ResHeader .EndDate span { font-size: 12pt; }
        .RRForm .ResHeader .Night { width: 75px; height: 35px; float: left; }
            .RRForm .ResHeader .Night strong { font-size: 10pt; }
            .RRForm .ResHeader .Night span { font-size: 12pt; }
        .RRForm .ResHeader .Pax { width: 75px; height: 35px; float: left; }
            .RRForm .ResHeader .Pax strong { font-size: 10pt; }
            .RRForm .ResHeader .Pax span { font-size: 12pt; }

.HotelServiceRoomCustomers { width: 196px; float: left; height: auto; }
    .HotelServiceRoomCustomers .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
        .HotelServiceRoomCustomers .header .custHotelRoom { height: auto; width: 33px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
        .HotelServiceRoomCustomers .header .custHotelPassenger { height: auto; width: 160px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
    .HotelServiceRoomCustomers .row { width: 100%; height: 22px; position: relative; font-size: 10pt; border-bottom: solid 1px #a6e3f3; }
        .HotelServiceRoomCustomers .row .custHotelRoom { position: relative; height: auto; width: 33px; float: left; text-align: center; padding-top: 3px; }
        .HotelServiceRoomCustomers .row .custHotelPassenger { position: relative; height: auto; width: 160px; float: left; text-align: left; padding-top: 3px; }

.ui-multiselect { height: 200px; }
.multiselect { width: 100%; height: 200px; }
