﻿body { width: 100%; }

.RRFHeader { width: 100%; height: auto; position: relative; border-bottom: solid 1px #666; border-left: solid 1px #666; border-right: solid 1px #666; margin-top: 5px; background-color: #EEE; }
  .RRFHeader .RRFHeaderLeft { width: 60%; height: auto; float: left; position: relative; }
    .RRFHeader .RRFHeaderLeft .ResTypeResNo { height: 25px; width: 100%; position: relative; }
      .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResType { height: 25px; width: 50%; float: left; }
        .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResType .lblResType { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResType select { padding-bottom: -2px; width: 125px; }
      .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResNo { height: 25px; width: 50%; float: left; }
        .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResNo .lblResNo { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .ResTypeResNo .ResNo input { padding-bottom: -2px; width: 100px; }
    .RRFHeader .RRFHeaderLeft .GroupNo { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .GroupNo .lblGroupNo { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
      .RRFHeader .RRFHeaderLeft .GroupNo select { padding-bottom: -2px; width: 250px; }
    .RRFHeader .RRFHeaderLeft .BegDateNight { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .BegDateNight .BegDate { height: 25px; width: 275px; float: left; }
        .RRFHeader .RRFHeaderLeft .BegDateNight .BegDate .lblBegDate { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .BegDateNight .BegDate input { padding-bottom: -2px; width: 100px; }
      .RRFHeader .RRFHeaderLeft .BegDateNight .Night { height: 25px; width: 250px; float: left; }
        .RRFHeader .RRFHeaderLeft .BegDateNight .Night .lblNight { margin-top: 4px; font-weight: bold; width: 75px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .BegDateNight .Night input { padding-bottom: -2px; width: 40px; }
    .RRFHeader .RRFHeaderLeft .Pax { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .Pax .Adult { height: 25px; width: 200px; float: left; }
        .RRFHeader .RRFHeaderLeft .Pax .Adult .lblAdult { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .Pax .Adult input { padding-bottom: -2px; width: 40px; }
      .RRFHeader .RRFHeaderLeft .Pax .Child { height: 25px; width: 150px; float: left; }
        .RRFHeader .RRFHeaderLeft .Pax .Child .lblChild { margin-top: 4px; font-weight: bold; width: 75px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .Pax .Child input { padding-bottom: -2px; width: 40px; }
      .RRFHeader .RRFHeaderLeft .Pax .Infant { height: 25px; width: 150px; float: left; }
        .RRFHeader .RRFHeaderLeft .Pax .Infant .lblInfant { margin-top: 4px; font-weight: bold; width: 75px; float: left; text-align: right; }
        .RRFHeader .RRFHeaderLeft .Pax .Infant input { padding-bottom: -2px; width: 40px; }
      .RRFHeader .RRFHeaderLeft .Pax .AddCust { height: 25px; width: 100px; float: left; }
        .RRFHeader .RRFHeaderLeft .Pax .AddCust input { height: 90% !important; }
    .RRFHeader .RRFHeaderLeft .Guest { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .Guest .lblGuest { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
      .RRFHeader .RRFHeaderLeft .Guest input { padding-bottom: -2px; width: 195px; }
    .RRFHeader .RRFHeaderLeft .Package { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .Package .lblPackage { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
      .RRFHeader .RRFHeaderLeft .Package select { padding-bottom: -2px; width: 350px; }
    .RRFHeader .RRFHeaderLeft .DepArr { height: 25px; width: 100%; }
      .RRFHeader .RRFHeaderLeft .DepArr .lblDepArr { margin-top: 4px; font-weight: bold; width: 140px; float: left; text-align: right; }
      .RRFHeader .RRFHeaderLeft .DepArr select { padding-bottom: -2px; width: 195px; }

  .RRFHeader .RRFHeaderRight { width: 39%; height: auto; float: left; position: relative; border-left: solid 1px #666; }
    .RRFHeader .RRFHeaderRight .RegisterDate { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .RegisterDate .lblRegisterDate { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .RegisterDate span { height: 25px; }
    .RRFHeader .RRFHeaderRight .ReservationStatus { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .ReservationStatus .lblReservationStatus { height: 25px; width: 140px; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .ReservationStatus span { height: 25px; }
    .RRFHeader .RRFHeaderRight .Confirmation { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .Confirmation .lblConfirmation { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .Confirmation span { height: 25px; }
    .RRFHeader .RRFHeaderRight .ReservationNote { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .ReservationNote .lblReservationNote { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .ReservationNote input { padding-bottom: -2px; width: 240px; }
    .RRFHeader .RRFHeaderRight .Nationalty { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .Nationalty .lblNationalty { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .Nationalty select { padding-bottom: -2px; width: 250px; }
    .RRFHeader .RRFHeaderRight .VisaSupplier { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .VisaSupplier .lblVisaSupplier { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .VisaSupplier select { padding-bottom: -2px; width: 250px; }
    .RRFHeader .RRFHeaderRight .EntrancePort { height: 25px; width: 100%; float: left; }
      .RRFHeader .RRFHeaderRight .EntrancePort .lblEntrancePort { height: 25px; width: 140px; float: left; text-align: right; font-weight: bold; }
      .RRFHeader .RRFHeaderRight .EntrancePort select { padding-bottom: -2px; width: 250px; }

.RRForm { width: 100%; height: auto; position: relative; border-bottom: solid 1px #666; border-left: solid 1px #666; border-right: solid 1px #666; margin-top: 5px; }
  .RRForm .Customers { width: 100%; height: auto; position: relative; }
    .RRForm .Customers .header { width: 100%; height: 30px; position: relative; font-size: 10pt; background-color: #aea1a1; }
      .RRForm .Customers .header .custSeqNo { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custSelect { height: auto; width: 40px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custTitle { height: auto; width: 75px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custSurname { height: auto; width: 200px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custName { height: auto; width: 175px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custBirthDate { height: auto; width: 90px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custAge { height: auto; width: 35px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custNationality { height: auto; width: 125px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custLeader { height: auto; width: 40px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custPhone { height: auto; width: 90px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custPassport { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
      .RRForm .Customers .header .custOther { height: auto; width: 30px; float: left; text-align: center; color: #FFF; padding-top: 5px; }
    .RRForm .Customers .row { width: 100%; height: auto; position: relative; font-size: 10pt; }
      .RRForm .Customers .row .oddEven { background-color: #EEE; }
      .RRForm .Customers .row .custSeqNo { height: auto; width: 30px; float: left; text-align: center; }
      .RRForm .Customers .row .custSelect { height: auto; width: 40px; float: left; text-align: center; }
      .RRForm .Customers .row .custTitle { height: auto; width: 75px; float: left; }
        .RRForm .Customers .row .custTitle select { height: auto; width: 73px; }
      .RRForm .Customers .row .custSurname { height: auto; width: 200px; float: left; }
        .RRForm .Customers .row .custSurname input { height: auto; width: 193px; }
      .RRForm .Customers .row .custName { height: auto; width: 175px; float: left; }
        .RRForm .Customers .row .custName input { height: auto; width: 168px; }
      .RRForm .Customers .row .custBirthDate { height: auto; width: 90px; float: left; }
        .RRForm .Customers .row .custBirthDate input { height: auto; width: 84px; }
      .RRForm .Customers .row .custAge { height: auto; width: 35px; float: left; }
        .RRForm .Customers .row .custAge input { height: auto; width: 28px; }
      .RRForm .Customers .row .custNationality { height: auto; width: 125px; float: left; }
        .RRForm .Customers .row .custNationality select { height: auto; width: 120px; }
      .RRForm .Customers .row .custLeader { height: auto; width: 40px; float: left; text-align: center; }
      .RRForm .Customers .row .custPhone { height: auto; width: 85px; float: left; }
        .RRForm .Customers .row .custPhone input { height: auto; width: 80px; }
      .RRForm .Customers .row .custPassport { height: auto; width: 30px; float: left; text-align: center; }
      .RRForm .Customers .row .custOther { height: auto; width: 30px; float: left; text-align: center; }

  .RRForm .HotelServices { width: 100%; min-height: 100px; position: relative; }
    .RRForm .HotelServices .header { width: 100%; height: 24px; position: relative; font-size: 10pt; background-color: #aea1a1; padding-top: 10px; }
      .RRForm .HotelServices .header .srvHotelSeqNo { width: 40px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelDescription { width: 700px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelUnit { width: 40px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelCheckIn { width: 90px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelCheckOut { width: 90px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelNight { width: 40px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelIncPack { width: 50px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelCompulsory { width: 50px; height: auto; float: left; }
      .RRForm .HotelServices .header .srvHotelPrice { width: 110px; height: auto; float: left; text-align: center; }
      .RRForm .HotelServices .header .srvHotelButtons { width: 50px; height: auto; float: left; }
    .RRForm .HotelServices .row { width: 100%; height: 30px; position: relative; font-size: 10pt; }
      .RRForm .HotelServices .row .srvHotelSeqNo { width: 40px; height: auto; float: left; }
      .RRForm .HotelServices .row .srvHotelDescription { width: 700px; height: auto; float: left; }
      .RRForm .HotelServices .row .srvHotelUnit { width: 40px; height: auto; float: left; text-align: center; }
      .RRForm .HotelServices .row .srvHotelCheckIn { width: 90px; height: auto; float: left; }
      .RRForm .HotelServices .row .srvHotelCheckOut { width: 90px; height: auto; float: left; }
      .RRForm .HotelServices .row .srvHotelNight { width: 40px; height: auto; float: left; text-align: center; }
      .RRForm .HotelServices .row .srvHotelIncPack { width: 50px; height: auto; float: left; text-align: center; }
      .RRForm .HotelServices .row .srvHotelCompulsory { width: 50px; height: auto; float: left; text-align: center; }
      .RRForm .HotelServices .row .srvHotelPrice { width: 110px; height: auto; float: left; text-align: right; }
      .RRForm .HotelServices .row .srvHotelButtons { width: 50px; height: auto; float: left; text-align: right; }

  .RRForm .OtherServices { width: 100%; height: auto; position: relative; }
    .RRForm .OtherServices .header { width: 100%; height: 24px; position: relative; font-size: 10pt; background-color: #aea1a1; padding-top: 10px; }
      .RRForm .OtherServices .header .srvServiceType { width: 150px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvServiceDesc { width: 450px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvCompulsory { width: 60px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvIncPack { width: 60px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvUnit { width: 70px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvPrice { width: 150px; height: 100%; float: left; }
      .RRForm .OtherServices .header .srvButtons{width: 50px; height: 100%; float: left; }
    .RRForm .OtherServices .row { width: 100%; height: 30px; position: relative; font-size: 10pt; }
      .RRForm .OtherServices .row .srvServiceType { width: 150px; height: 100%; float: left; }
      .RRForm .OtherServices .row .srvServiceDesc { width: 450px; height: 100%; float: left; }
        .RRForm .OtherServices .row .srvServiceDesc .description { width: 328px; float: left; }
        .RRForm .OtherServices .row .srvServiceDesc .srvVehicle { width: 90px; float: left; }
        .RRForm .OtherServices .row .srvServiceDesc .srvVehicleUnit{ width: 25px; float: right;}
      .RRForm .OtherServices .row .srvCompulsory { width: 60px; height: 100%; float: left; text-align: center; }
      .RRForm .OtherServices .row .srvIncPack { width: 60px; height: 100%; float: left; text-align: center; }
      .RRForm .OtherServices .row .srvUnit { width: 40px; height: 100%; float: left; text-align: center; }
      .RRForm .OtherServices .row .srvPrice { width: 150px; height: 100%; float: left; text-align: right; }
      .RRForm .OtherServices .row .srvButtons{width: 50px; height: 100%; float: left; text-align: right; }

  .RRForm .OtherServiceButtons { background-image: none !important; }
    .RRForm .OtherServiceButtons .OtherMenuBtn { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; text-align: center; }
.saveReservationBtnDiv { }
