﻿body { }
#divSelectRoom { width: 500px; }
.selectRoomTable { width: 100%; font-family: Arial; font-size: 9pt; border:solid 1px #CCC;  }
.selectRoomTable .header { background-color: #CCC; }
.selectRoomTable .header { font-weight: bold; }
.addCellHeader { width: 50px; text-align: center; }
.hotelCell { border: solid 1px #CCC; background-color: #DEDEDE; }
.roomPersonTable { width: 100%; border: solid 1px #CCC; background-color: #FFF; }
.roomPersonTable td {background-color: #FFF;}
.addCell { text-align: center; vertical-align: middle; border: solid 1px #CCC;background-color: #DEDEDE; }
