﻿.dateStyle { width: 90px; }
.reservationNo { text-decoration: underline; cursor: pointer; }

.exportDiv { text-align: right; height: 30px; }
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
.alignRight { text-align: right; }

.totalrow { border-color: #333 !important; color: #000 !important; }

#resMonitorGrid { width: 1000px; }
#resMonitorGrid .reservationPager { clear: both; width: 100%; height: 35px; }
#resMonitorGrid .reservationHeaderRow { clear: both; width: 100%; height: 40px; }
#resMonitorGrid .reservationHeaderRow .resNo { width: 90px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .info1 { width: 50px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .leaderName { width: 110px; text-align: left; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .hotelName { width: 147px; text-align: left; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .adult { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .child { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .beginDate { width: 75px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .days { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .hotstatus { width: 30px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .status { width: 60px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .sPrice { width: 85px; text-align: right; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .saleCur { width: 35px; text-align: center; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .depCity { width: 90px; text-align: left; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }
#resMonitorGrid .reservationHeaderRow .arrCity { width: 90px; text-align: left; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; }

#resMonitorGrid .reservationRow { clear: both; width: 100%; }
.Odd { background-color: #E2E4FF; }
.Even { background-color: #FFF; }
.optionRow { background-color: #FFB5B5; }
.bold { font-weight: bold; }
/*#resMonitorGrid .reservationRow .div { float: left; vertical-align: bottom; border-right: solid 1px #FFF; }*/
#resMonitorGrid .rowDetail { clear: both; padding-left: 50px; display: none; }
#resMonitorGrid .rowDetail div { border-left: solid 1px #CCC; border-top: solid 1px #CCC; border-bottom: solid 1px #999; border-right: solid 1px #999; }
#resMonitorGrid .rowDetail table { font-family: Tahoma; font-size: 9px; }
#resMonitorGrid .rowDetail table .leftTD { background-color: #E2E2E2; width: 150px; }
#resMonitorGrid .rowDetail table .priceDetailCaption { background-color: #E2E2E2; width: 200px; font-weight: bold; }
#resMonitorGrid .rowDetail table .priceDetailValue { width: 120px; text-align: left; }
#resMonitorGrid .rowDetail table .priceDetailValue .right { margin-right: 20px; }
#resMonitorGrid .reservationRow .resNo { width: 90px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; position: relative; }
#resMonitorGrid .reservationRow .resNo .span { height: 16px; bottom: 3px; position: relative; text-decoration: underline; cursor: pointer; }
#resMonitorGrid .reservationRow .resNo img { cursor: pointer; }
#resMonitorGrid .reservationRow .info1 { width: 50px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .leaderName { width: 110px; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .hotelName { width: 147px; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .adult { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .child { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .beginDate { width: 75px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .days { width: 35px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .hotstatus { width: 30px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .status { width: 60px; text-align: center; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .sPrice { width: 85px; text-align: right; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .saleCur { width: 35px; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .depCity { width: 90px; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }
#resMonitorGrid .reservationRow .arrCity { width: 90px; padding-left: 3px; float: left; vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; }

.buton table { height: 20px; font-family: Tahoma; font-size: 8pt; }
.buton #tdLeft { width: 25px; white-space: nowrap; background: url(../Images/detailbtnleft.png) no-repeat right bottom; }
.buton #tdCenter { white-space: nowrap; background: url(../Images/detailbtn.png); }
.buton #tdRight { width: 25px; white-space: nowrap; background: url(../Images/detailbtnright.png) no-repeat left bottom; }

#ResMonitorForm .FilterArea { clear: both; width: 1000px; }
#ResMonitorForm .FilterArea .divResNo { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divResBegDate { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divResEndDate { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divResRegisterDate { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divHolpack { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divDepCity { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divArrCity { clear: both; text-align: left; width: 100%; height: 25px; }
#ResMonitorForm .FilterArea .divSelect { clear: both; text-align: left; width: 100%; }
#ResMonitorForm .FilterArea .divSum { clear: both; text-align: left; width: 100%; }

#ResMonitorForm .FilterArea .divAgencyOfficeAgencyUser { clear: both; text-align: left; width: 440px; height: 40px; }
#ResMonitorForm .FilterArea .divAgencyOffice { float: left; width: 210px; height: 40px; }
#ResMonitorForm .FilterArea .divAgencyUser { float: left; width: 210px; height: 40px; }
#ResMonitorForm .FilterArea .divOnlyActiveUser { clear: both; text-align: left; width: 440px; }
#ResMonitorForm .FilterArea .divLeftShowOnlyUsers { float: left; width: 210px; }
#ResMonitorForm .FilterArea .divShowOnlyUsers { float: left; width: 210px; }
#ResMonitorForm .FilterArea .divLeader { clear: both; text-align: left; width: 440px; height: 40px; }
#ResMonitorForm .FilterArea .divSurname { float: left; width: 210px; height: 40px; }
#ResMonitorForm .FilterArea .divName { float: left; width: 210px; height: 40px; }
#ResMonitorForm .FilterArea .divStatus { clear: both; margin: 2px 2px 2px 2px; text-align: left; }
#ResMonitorForm .FilterArea .divStatus table { width: 100%; }
#ResMonitorForm .FilterArea .divStatus table td { width: 32%; }

#ResMonitorForm .divFilterButton { clear: both; width: 1000px; text-align: center; height: 35px; }
#ResMonitorForm .divFilterButton table { width: 320px; height: 100%; text-align: center; margin: 0 auto; }
#ResMonitorForm .divFilterButton table td { width: 50%; vertical-align: middle; }


#ResMonitorForm .LeftDiv { width: 460px; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }
#ResMonitorForm .LeftDiv .Caption { width: 130px; float: left; margin-top: 4px; text-align: right; }
#ResMonitorForm .RightDiv { width: 525px; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }

#ResMonitorForm #genel #divWorkAreaHeader #BookInfo { width: 900px; text-align: left; border: 1px; }

#divStatus { border: solid 1px #6d6d6d; }

#divFilterLeft { }

#divFilterRight { width: 505px; float: left; margin: 2px 2px 2px 2px; padding-top: 2px; text-align: left; }

#rptResMon { font-family: Tahoma; font-size: 8pt; }

#rptResMon table { empty-cells: show; border-spacing: 0px; border-collapse: separate; }

#tableSeperator { background-color: Aqua; font-size: 2px; }

#tableHeader { font-size: 8pt; font-weight: bold; }

#tableHeader td { background: #00a6dd url("../Images/default/grid_Header_Bottom.gif") repeat-x right top; }

#divBonus { width: 1000px; text-align: center; clear: both; }
#divBonus table { text-align: right; border: solid 1px #666; margin: 0 auto; }
#divBonus table td { padding: 2px 2px 2px 4px; }

#divBonus table .header { width: 150px; text-align: left; }
#divBonus table .agency { text-align: right; white-space: nowrap; }
#divBonus table .user { text-align: right; white-space: nowrap; }
#divBonus table .link { cursor: pointer; text-decoration: underline; }

#divBonusList table { width: 100%; font-family: Tahoma; font-size: 8pt; }
#divBonusList table td { padding: 2px 2px 2px 2px; }
#divBonusList table .ResNoH { border-color: #666; font-weight: bold; white-space: nowrap; }
#divBonusList table .BonusH { border-color: #666; font-weight: bold; white-space: nowrap; text-align: right; }
#divBonusList table .PriceH { border-color: #666; font-weight: bold; white-space: nowrap; text-align: right; }
#divBonusList table .CurrH { border-color: #666; font-weight: bold; white-space: nowrap; text-align: center; }
#divBonusList table .ExpDateH { border-color: #666; font-weight: bold; white-space: nowrap; }

#divBonusList table .ResNo { text-align: left; }
#divBonusList table .Bonus { text-align: right; }
#divBonusList table .Price { text-align: right; }
#divBonusList table .Curr { text-align: center; }
#divBonusList table .ExpDate { text-align: left; }

#exportDiv table { border: solid 1px #BBB; }
#exportDiv table td { white-space: nowrap; }
