﻿body { }
#ResMonitor { display: none; text-align: center; }
#MakeReservation { clear: both; width: 960px; height: 100%; border-width: 0px; text-align: left; }
.exportDiv input { width: 150px; }
#waitMessage { display: none; }
#dialog-export { display: none; }
#dialog-message { display: none; }
#dialog-bonusList { display: none; }
#dialog-resComment { display: none; }
#dialog-commissionInvoice { display: none; }
#dialog-paymentPlan { display: none; }
#btnFilter { width: 140px; }
#btnfilterclear { width: 140px; }
#fltName { width: 200px; }
#fltSurname { width: 200px; }
#fltAgencyUser { width: 200px; }
#fltAgencyOffice { width: 200px; }
#divSelect { display: none; }
  #divSelect .divBlock { margin-left: 3px; }
.inputDiv300px { width: 300px; float: left; text-align: left; }
.width95Per { width: 95%; }
.dateDivBlock { width: 115px; float: left; white-space: nowrap; }
.dateDivBlockSeparator { width: 20px; float: left; margin-top: 4px; text-align: center; }
#fltResNo1 { width: 110px; }
#fltResNo2 { width: 110px; }

.boldrow { font-weight: bold; }
.normalrow { font-weight: normal; }
.optionrow { font-weight: normal; background-color: #FFFF99; }
.pxmrow { font-weight: normal; background-color: rgba(168, 154, 189, 0.91); }

#resMonitorGrid .details .ReservationDetail { width: 65%; float: left; }
  #resMonitorGrid .details .ReservationDetail .FirstColumnLabel { width: 200px; font-weight: bold; }
  #resMonitorGrid .details .ReservationDetail .FirstColumnValue { width: 120px; text-align: left; }
  #resMonitorGrid .details .ReservationDetail .SecondColumnLabel { width: 200px; font-weight: bold; }
  #resMonitorGrid .details .ReservationDetail .SecondColumnValue { width: 120px; text-align: left; }

#resMonitorGrid .details .ReservationServiceDetail { width: 33%; float: left; }
  #resMonitorGrid .details .ReservationServiceDetail .lblServiceName { width: 75%; }
  #resMonitorGrid .details .ReservationServiceDetail .lblServiceConf { width: 24%; }
