﻿.handMouse img { cursor: pointer; }
.seperator { font-size: 5pt; }
.firstColumn { width: 150px; text-align: right; font-weight: bold; }

.closeReservationDiv { position: relative; text-align: right; }
    .closeReservationDiv input { background-color: red; background-image: none; color: white; font-size: 11pt; }

#divResMain { clear: both; text-align: center; }
#tableResMain { width: 1000px; border: solid 1px #AEAEAE; }
#tablePayment { width: 100%; border: solid 1px #AEAEAE; }
    #tablePayment .td { width: 120px; }
    #tablePayment td { text-align: right; }
#tableStatus { width: 1000px; border: solid 1px #AEAEAE; text-align: left; }
    #tableStatus td { width: 25%; }
#divResCust { clear: both; text-align: center; }
#GridCust { text-align: left; }
#gridResCustTable { width: 1000px; border: solid 1px #AEAEAE; }
#gridResCustHeader1 td { font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #C7C7C7; color: #000000; }
#gridResCustHeader2 td { font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #888; color: #FFFFFF; height: 25px; }
.gridResCustItem td { background-color: #FFFFFF; border-right: solid 1px #AEAEAE; text-align: left; }
.gridResCustItemAlternating td { background-color: #E9E9E9; border-right: solid 1px #AEAEAE; text-align: left; }
#divResService { clear: both; text-align: center; }
    #divResService td { vertical-align: top; }
#gridResServiceTable { width: 1000px; border-left: solid 1px #AEAEAE; border-top: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; }
#gridResServiceHeader2 td { font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #A8A8A8; color: #FFFFFF; }
.gridResServiceItem td { background-color: #FFFFFF; border-right: solid 1px #AEAEAE; text-align: left; }
.gridResServiceItemDisable td { background-color: #BFBFBF; color: #EDEDED; font-style: italic; }
.gridResServiceItemAlternating td { background-color: #E9E9E9; border-right: solid 1px #AEAEAE; text-align: left; }
#divResServiceExt { clear: both; text-align: center; }
#gridResServiceExtTable { width: 1000px; border-left: solid 1px #AEAEAE; border-top: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; }
#gridResServiceExtTable { vertical-align: top; }
#gridResServiceExtHeader td { font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #A8A8A8; color: #FFFFFF; }
.gridResServiceExtItem td { background-color: #FFFFFF; border-right: solid 1px #AEAEAE; text-align: left; }
.gridResServiceExtItemAlternating td { background-color: #E9E9E9; border-right: solid 1px #AEAEAE; text-align: left; }
.gridResServiceExtItemDisable td { background-color: #BFBFBF; color: #EDEDED; font-style: italic; }
#divSubMenuLiteral { width: 100%; height: 34px; float: left; line-height: normal; }
    #divSubMenuLiteral ul { margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
    #divSubMenuLiteral li { border-top: 1px solid #00a6dd; border-left: 1px solid #00a6dd; border-right: 1px solid #a4e4f8; border-bottom: 1px solid #a4e4f8; background-color: #00a6dd; display: inline; margin: 0; padding: 5px; margin-right: 1px; }
        #divSubMenuLiteral li:hover { border-top: 1px solid #a4e4f8; border-left: 1px solid #a4e4f8; border-right: 1px solid #00a6dd; border-bottom: 1px solid #00a6dd; background-color: #e3f5fb; }
    #divSubMenuLiteral a { color: #143d8d; font: bold 11px/1.5em Verdana; text-decoration: none; }
    #divSubMenuLiteral span { color: #fff; padding: 5px; }
    #divSubMenuLiteral a:hover { color: red; text-decoration: none; }
    #divSubMenuLiteral span:hover { color: #00a6dd; }
    #divSubMenuLiteral .select { color: #F00; cursor: default; }
        #divSubMenuLiteral .select span { color: #143d8d; font: bold 11px/1.5em Verdana; padding-left: 3px; cursor: default; }
#divAddingService { width: 100%; line-height: normal; text-align: center; }
#divAddResServiceMenu { text-align: center; width: 1000px; line-height: normal; background-color: #666; color: #FFF; font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 10px; }
    #divAddResServiceMenu .divLeft { float: left; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
    #divAddResServiceMenu .divRight { float: right; margin: 0; padding: 8px 18px 2px 10px; list-style: none; }
.changeBegDate { text-decoration: underline; cursor: pointer; }
#btnAddExtraService { width: 1000px; }
#divResSupDis { clear: both; text-align: center; }
#gridResSupDisTable { width: 1000px; border-left: solid 1px #AEAEAE; border-top: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; vertical-align: top; }
    #gridResSupDisTable .gridResSupDisHeader { height: 30px; font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #A8A8A8; color: #FFFFFF; vertical-align: middle; }
    #gridResSupDisTable td { padding: 2px; }
    #gridResSupDisTable .gridResSupDisRow { background-color: #FFFFFF; height: 26px; }
        #gridResSupDisTable .gridResSupDisRow td { border-right: solid 1px #AEAEAE; }
    #gridResSupDisTable .gridResSupDisRowAlternating { background-color: #E9E9E9; height: 26px; }
        #gridResSupDisTable .gridResSupDisRowAlternating td { border-right: solid 1px #AEAEAE; }
.resSupDisDesc { text-align: left; }
.resSupDisAmount { text-align: right; width: 100px; }
.resSupDisCur { text-align: left; width: 60px; }
.resSupDisPerVal { text-align: right; width: 60px; }
.resSupDisApplyType { text-align: left; width: 150px; }

#divResPayment { clear: both; text-align: center; }
#gridResPaymentTable { width: 1000px; border-left: solid 1px #AEAEAE; border-top: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; vertical-align: top; }
    #gridResPaymentTable .gridResPaymentHeader { height: 30px; font-weight: bold; border-right: solid 1px #AEAEAE; border-bottom: solid 1px #AEAEAE; background-color: #A8A8A8; color: #FFFFFF; vertical-align: middle; }
    #gridResPaymentTable td { padding: 2px; }
    #gridResPaymentTable .gridResPaymentRow { background-color: #FFFFFF; height: 26px; }
        #gridResPaymentTable .gridResPaymentRow td { border-right: solid 1px #AEAEAE; }
    #gridResPaymentTable .gridResPaymentRowAlternating { background-color: #E9E9E9; height: 26px; }
        #gridResPaymentTable .gridResPaymentRowAlternating td { border-right: solid 1px #AEAEAE; }
.gridResPaymentReceipType { text-align: left; width: 100px; }
.gridResPaymentPaymentType { text-align: left; }
.gridResPaymentClientName { text-align: left; }
.gridResPaymentPaymentDate { text-align: left; width: 90px; }
.gridResPaymentAmount { text-align: right; width: 100px; }
.gridResPaymentCur { text-align: left; width: 50px; }

#langListDiv a { cursor: pointer; height: 25px; }
