﻿body { text-align: center; }
#divStatus { width: 200px; margin-left: 15px; text-align: left; }
#divConfirmation { width: 200px; margin-left: 15px; text-align: left; }
#divSalePrice { width: 200px; margin-left: 15px; text-align: left; }
#divBtn { position: absolute; bottom: 3px; }
    #divBtn table td { height: 30px; text-align: center; vertical-align: middle; width: 50%; }
        #divBtn table td input { height: 25px; width: 100px; }
.divAddResService { position: relative; font-family: Tahoma; font-size: 8pt; width: 640px; height: 545px; }
    .divAddResService .header { width: 100%; height: 70px; }
    .divAddResService .recCalcDiv { width: 320px; height: 70px; float: left; }
    .divAddResService .oldPriceDiv { width: 320px; height: 70px; float: right; }
.serviceDetailDiv { width: 100%; }
.customerDetailDiv { width: 100%; }
.buttonDiv { position: absolute; bottom: 3px; height: 35px; }
.saveButtonDiv { width: 300px; float: left; text-align: center; }
.cancelButtonDiv { width: 300px; float: right; text-align: center; }

.divLeft { float: left; width: 404px; vertical-align: middle; text-align: right; }
.divRight { float: right; width: 226px; vertical-align: middle; text-align: right; }
#divRs { position: relative; font-family: Tahoma; font-size: 8pt; width: 640px; height: 545px; }
    #divRs table { width: 99%; border: dotted 1px #CCC; left: 2px; }
    #divRs .divs { clear: both; width: 100%; height: 25px; }
    #divRs .excDetails { clear: both; width: 100%; height: 75px; }
        #divRs .excDetails table { width: 100%; height: 75px; }
            #divRs .excDetails table div { overflow-y: scroll; overflow-x: no-display; height: 75px; }
    #divRs .LeftDiv { float: left; width: 100px; height: 25px; vertical-align: middle; text-align: right; }
    #divRs .inputDiv { float: left; width: 295px; height: 25px; vertical-align: middle; text-align: left; }
        #divRs .inputDiv .combo { width: 290px; text-align: left; }
    #divRs .label { margin-top: 8px; margin-right: 5px; line-height: 23px; }
    #divRs .leftCell { width: 405px; }
    #divRs .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
.salePrice { font-size: 12pt; font-weight: bold; line-height: 24px; }
.divAdultChild { float: left; width: 100px; height: 25px; }
.divPriceDetail { font-size: 10pt; }
#iAdult { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iChild { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iUnit { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iNight { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iResOldPrice { font-size: 10.5pt; font-weight: bold; }
#iResNewPrice { font-size: 10.5pt; font-weight: bold; }
#packageDetail { width: 100%; height: 100%; margin: 0 0 0 0; }
.iAgree { font-size: 11pt; font-weight: bold; font-style: italic; color: #F00; }
.compulsoryField { color: #F00; font-weight: bold; }
