﻿body { text-align: center; }
.ui-helper-clearfix { min-height: 25px; }
.serviceInfoInputArea { width: 100%; }
.dataDiv { float: left; width: 80%; min-height: 25px; vertical-align: middle; text-align: left; }
.dataDiv50Per { float: left; width: 48%; min-height: 25px; vertical-align: middle; text-align: left; }
.labelDiv { float: left; width: 20%; min-height: 25px; vertical-align: middle; text-align: right; }
.label { margin-top: 8px; margin-right: 5px; line-height: 23px; }
.combo50 { float: left; width: 45%; text-align: left; }
.combo { width: 94%; text-align: left; }
.input { width: 94%; text-align: left; }
.divAdultChild { float: left; width: 50px; height: 25px; vertical-align: middle; text-align: left; }
.pickupDeparture { float: left; width: 39%; min-height: 25px; }
.pickupArrival { float: right; width: 39%; }
.recCalcDiv { border: solid 1px #CCC; }
#iPickupNote { width: 70%; }
#iPickupNoteR { width: 70%; }
#divStatus { width: 200px; margin-left: 15px; text-align: left; }
#divConfirmation { width: 200px; margin-left: 15px; text-align: left; }
#divSalePrice { width: 200px; margin-left: 15px; text-align: left; }
#divBtn { position: absolute; bottom: 3px; }
    #divBtn table td { height: 30px; text-align: center; vertical-align: middle; width: 50%; }
        #divBtn table td input { height: 25px; width: 100px; }
.divAddResService { position: relative; font-family: Tahoma; font-size: 8pt; width: 640px; height: 545px; }
    .divAddResService .header { width: 100%; height: 70px; }
    .divAddResService .oldPriceDiv { width: 320px; height: 70px; float: right; }
.serviceDetailDiv { width: 100%; }
.customerDetailDiv { width: 100%; }
.buttonDiv { position: absolute; bottom: 3px; height: 35px; }
.saveButtonDiv { width: 300px; float: left; text-align: center; }
.cancelButtonDiv { width: 300px; float: right; text-align: center; }
.divLeft { float: left; width: 404px; vertical-align: middle; text-align: right; }
.divRight { float: right; width: 226px; vertical-align: middle; text-align: right; }
#divRs { position: relative; font-family: Tahoma; font-size: 8pt; width: 640px; height: 545px; }
    #divRs table { width: 99%; border: dotted 1px #CCC; left: 2px; }
    #divRs .divs { clear: both; width: 100%; height: 25px; }
    #divRs .leftCell { width: 405px; }
    #divRs .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
.salePrice { font-size: 12pt; font-weight: bold; line-height: 24px; }
.divPriceDetail { font-size: 10pt; }
#iAdult { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iChild { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iUnit { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iNight { margin-top: 8px; margin-right: 5px; line-height: 23px; }
#iResOldPrice { font-size: 10.5pt; font-weight: bold; }
#iResNewPrice { font-size: 10.5pt; font-weight: bold; }
.iAgree { font-size: 11pt; font-weight: bold; font-style: italic; color: #F00; }
.compulsoryField { color: #F00; font-weight: bold; }
