﻿body { text-align: center; }



#divStatus { width: 200px; margin-left: 15px; text-align: left; }
#divConfirmation { width: 200px; margin-left: 15px; text-align: left; }
#divSalePrice { width: 200px; margin-left: 15px; text-align: left; height: auto; }
#divBtn { position: absolute; bottom: 3px; }
#divBtn td { height: 30px; text-align: center; vertical-align: middle; width: 50%; }
#divBtn td input { height: 25px; width: 100px; }

#divRs { position: relative; font-family: Tahoma; font-size: 8pt; width: 640px; height: 545px; }
#divRs table { width: 99%; border: dotted 1px #CCC; left: 2px; }
#divRs .divs { clear: both; height: 25px; }
#divRs .LeftDiv { float: left; width: 100px; height: 25px; vertical-align: middle; text-align: right; }
#divRs .inputDiv { float: left; width: 300px; height: 25px; vertical-align: middle; text-align: left; }
#divRs .inputDiv select { width: 95%; }
#divRs .label { margin-top: 10px; margin-right: 5px; }

.leftCell { width: 405px; }
.rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
.salePrice { font-size: 12pt; font-weight: bold; height: auto; line-height: 24px; }
.oldSalePrice { font-size: 10pt; font-weight: bold; height: auto; line-height: 20px; text-decoration: line-through; display: none; }
.divAdultChild { float: left; width: 100px; height: 25px; }

#iAdult { margin-top: 8px; margin-right: 5px; }
#iChild { margin-top: 8px; margin-right: 5px; }
#iUnit { margin-top: 8px; margin-right: 5px; }
#iNight { margin-top: 8px; margin-right: 5px; }

#iResOldPrice { font-size: 10.5pt; font-weight: bold; }
#iResNewPrice { font-size: 10.5pt; font-weight: bold; }
.iAgree { font-size: 11pt; font-weight: bold; font-style: italic; color: #F00; }
.divPriceDetail { font-size: 10pt; }
