﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { text-align: center; width: 645px; height: 550px; font-size: 8pt; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

.width_95 { width: 95%; }
.width_20 { width: 20%; }
.width_70 { width: 70%; }

.divBody { width: 640px; height: 550px; position: relative; }
.divHeader { width: 100%; }
.recCalcDiv { width: 100%; }
.divs { clear: both; width: 100%; }
.divSalePrice { float: left; width: 300px; font-size: 14pt;}
.divCalcBtn { float: left; width: 300px; }
.LeftDiv { float: left; width: 200px; vertical-align: middle; text-align: right; }
.inputDiv { float: left; width: 440px; vertical-align: middle; text-align: left; }
.divBtn { position: absolute; bottom: 3px; left: 0px; width: 100%; }
    .divBtn .divSave { width: 320px; float: left; text-align: center; }
    .divBtn .divCancel { width: 320px; float: left; text-align: center; }
