﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

#divStatus { width: 200px; margin-left: 15px; }
#divConfirmation { width: 200px; margin-left: 15px; }
#divSalePrice { width: 200px; margin-left: 15px; }
#divCalcBtn { width: 200px; margin-left: 15px; }
#divPNR { width: 200px; margin-left: 15px; }

/** Hotel **/
#divRsHotel { font-family: Tahoma; font-size: 8pt; }
#divRsHotel table { border: dotted 1px #CCC; width: 100%; }
#divRsHotel table .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
#divRsHotel table .leftCell { width: 405px; }
#divRsHotel .divs { clear: both; height: 25px; }
#divRsHotel .divNotes { clear: both; height: 50px; }
#divRsHotel .label { margin-top: 10px; margin-right: 5px; }
#divRsHotel .LeftDiv { float: left; width: 100px; height: 25px; vertical-align: middle; text-align: right; }
#divRsHotel .RightDiv { float: left; width: 300px; height: 25px; vertical-align: middle; }

#divRsHotel #divLocation { height: 25px; vertical-align: middle; }
#divRsHotel #divLblLocation { float: left; width: 100px; height: 100%; }
#divRsHotel #divSLocation { float: left; width: 300px; height: 100%; }
#divRsHotel #sLocation { width: 295px; }

#divRsHotel #divHotel { height: 25px; vertical-align: middle; }

#divRsHotel #sHotel { width: 295px; }

#divRsHotel #divChekInOut { clear: both; }
#divRsHotel #divChekInOut #iCheckIn { width: 100px; }
#divRsHotel #divChekInOut #iCheckOut { width: 100px; }

#divRsHotel #divNight { height: 25px; vertical-align: middle; }

/** Flight **/
#divRsFlight { font-family: Tahoma; font-size: 8pt; }
#divRsFlight table { border: dotted 1px #CCC; width: 100%; }
#divRsFlight table .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
#divRsFlight table .leftCell { width: 405px; }
#divRsFlight .divs { clear: both; height: 25px; }
#divRsFlight .divNotes { clear: both; height: 50px; }
#divRsFlight .label { margin-top: 10px; margin-right: 5px; height: 24px; }
#divRsFlight .LeftDiv { float: left; width: 100px; height: 25px; text-align: right; }
#divRsFlight .RightDiv { float: left; width: 300px; height: 25px; }

#divRsFlight #divLocation { height: 25px; vertical-align: middle; }
#divRsFlight #divLblLocation { float: left; width: 100px; height: 100%; }
#divRsFlight #divSLocation { float: left; width: 300px; height: 100%; }
#divRsFlight #sLocation { width: 295px; }

#divRsFlight #divHotel { height: 25px; vertical-align: middle; }

#divRsFlight #sHotel { width: 295px; }

#divRsFlight #divChekInOut { clear: both; }
#divRsFlight #divChekInOut #iCheckIn { width: 100px; }
#divRsFlight #divChekInOut #iCheckOut { width: 100px; }

#divRsFlight #divSeat { height: 25px; vertical-align: middle; }

/** Transfer **/
#divRsTransfer { font-family: Tahoma; font-size: 8pt; }
#divRsTransfer table { border: dotted 1px #CCC; width: 100%; }
#divRsTransfer table .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
#divRsTransfer table .leftCell { width: 405px; }
#divRsTransfer .divs { clear: both; height: 25px; }
#divRsTransfer .divNotes { clear: both; height: 50px; }
#divRsTransfer .label { margin-top: 10px; margin-right: 5px; }
#divRsTransfer .LeftDiv { float: left; width: 100px; height: 100%; height: 25px; vertical-align: middle; text-align: right; }
#divRsTransfer .RightDiv { float: left; width: 300px; height: 25px; vertical-align: middle; }

/** Handfee **/
#divRsHandfee { font-family: Tahoma; font-size: 8pt; }
#divRsHandfee table { border: dotted 1px #CCC; width: 100%; }
#divRsHandfee table .rightCell { border-left: dotted 1px #CCC; vertical-align: top; }
#divRsHandfee table .leftCell { width: 405px; }
#divRsHandfee .divs { clear: both; height: 25px; }
#divRsHandfee .divNotes { clear: both; height: 50px; }
#divRsHandfee .label { margin-top: 10px; margin-right: 5px; }
#divRsHandfee .LeftDiv { float: left; width: 100px; height: 100%; height: 25px; vertical-align: middle; text-align: right; }
#divRsHandfee .RightDiv { float: left; width: 300px; height: 25px; vertical-align: middle; }

.salePrice { font-size: 12pt; font-weight: bold; line-height: 24px; }
.divAdultChild { float: left; width: 100px; height: 25px; }