﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration: none; }
body { width: 650px; font-size: 9pt; font-family: Tahoma,Geneva,sans-serif; }
html { overflow: auto; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus, a:focus, a:active { outline: 0; }
input { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

#formRsTransfer span { min-height: 26px; }
.divStatusConfirmationPrice { height: 40px; }
.divStatus { width: 200px; height: 40px; float: left; }
.divConfirmation { width: 200px; height: 40px; float: left; }
.divSalePrice { width: 200px; height: 40px; float: left; }
.divAdultChild { float: left; width: 10%; height: 25px; }
.bold { font-weight: bold; }
.LeftDiv { float: left; width: 20%; height: 22px; vertical-align: middle; text-align: right; }
.RightDiv { float: right; width: 79%; vertical-align: middle; text-align: left; }


.salePrice { font-size: 12pt; font-weight: bold; line-height: 24px; }
