﻿.pager
{
    width: 720px;
    height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
}
.pager div.short
{
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;
}
.pager div.short input
{
    width: 28px;
    height: 18px;
    border: 1px solid #A0A0A0;
    margin-left: 8px;
    float: left;
    outline:0
}
.pager ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
}
.pager ul li
{
    display: inline;
    margin-left: 2px;
}
.pager ul li a
{
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pager span
{
    margin-left: 4px;
    color: #515151;
    float: left;
    line-height:22px;
    
}
.pager .btn
{
    display: block;
    width: 100px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.pager .disabled
{
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}
/*green*/.green
{
    background-color: transparent;
}
.green.normal
{
    background-color: #a9a9aa;
    color: White;
    border: solid 1px #a9a9aa;
    line-height: 20px;
}
.green.active
{
    background-color: #6a6a6a;
    color: #fff;
    border: solid 1px #6a6a6a;
}
.pager.green .btn
{
background-color: #6a6a6a;
    color: White;
    border: solid 1px #6a6a6a;
    height: 22px;
    font-weight: bold;

}
.pager.green .btn:hover
{
background-color: #a9a9aa;
    color: #fff;
    border: solid 1px #a9a9aa;
}
/*black*/.black
{
    background-color: #202020;
}
.black.normal
{
    background-color: #1d1d1d;
    color: #B0D551;
    border: solid 1px #000;
}
.black.active
{
    background-color: #333333;
    color: White;
    border: solid 1px #000;
}
.pager.black .btn
{
    background-color: #1d1d1d;
    color: White;
    border: solid 1px #000;
}
/*red*/.red
{
    background-color: #D50B07;
}
.red.normal
{
    background-color: #E71C18;
    color: White;
    border: solid 1px #F82723;
}
.red.active
{
    background-color: #C00D09;
    color: White;
    border: solid 1px #A90B08;
}
.pager.red .btn
{
    background-color: #E71C18;
    color: White;
    border: solid 1px #F82723;
}
