﻿body { font-family: Arial; font-size: 9pt; width: 600px; }
.SsrcForm { width: 600px; }
.ServiceSsrc { border: solid 1px #CCC; }
.ServiceSsrc h3 { padding-left: 5px; }
.SsrcDiv { padding-left: 50px; }
.SsrcDiv select { width: 98%; }
.SsrcBtnDiv { width: 100%; text-align: center; }
.SsrcBtnDiv input { width: 100px; }
