﻿.divFilter { width: 1000px; }
.ssInputBlockDiv { clear: both; width: 100%; height: 25px; }
.labelDiv { width: 250px; float: left; margin-top: 3px; text-align: right; }
.ssInputDiv { float: left; width: 400px; text-align: left; }


#StopSaleGrid .reservationHeaderRow { height: 35px; background-color: #A5A5A5; color: #FFF; width: 100%; }
#StopSaleGrid .reservationHeaderRow td { text-align: center; vertical-align: bottom; border-right: solid 1px #FFF; }
#StopSaleGrid { width: 1000px; }
#StopSaleGrid .reservationRow td { vertical-align: bottom; border-right: solid 1px #FFF; white-space: nowrap; position: relative; }
#StopSaleGrid tr.odd.gradeU .rightaligned { text-align: right; }
#StopSaleGrid tr.odd.gradeU .centeraligned { text-align: center; }
#StopSaleGrid tr.even.gradeU .rightaligned { text-align: right; }
#StopSaleGrid tr.even.gradeU .centeraligned { text-align: center; }

#StopSaleGrid th.room.sorting { width: 100px; }
#StopSaleGrid th.accom.sorting { width: 50px; }
#StopSaleGrid th.board.sorting { width: 50px; }
#StopSaleGrid th.begDate.sorting { width: 100px; }
#StopSaleGrid th.endDate.sorting { width: 100px; }
#StopSaleGrid th.pList.sorting { width: 50px; }
#StopSaleGrid th.appType.sorting { width: 100px; }
#StopSaleGrid th.loc.sorting { width: 50px; }
#StopSaleGrid th.allot.sorting { width: 50px; }

#StopSaleGrid th.room.sorting_asc { width: 100px; }
#StopSaleGrid th.accom.sorting_asc { width: 50px; }
#StopSaleGrid th.board.sorting_asc { width: 50px; }
#StopSaleGrid th.begDate.sorting_asc { width: 100px; }
#StopSaleGrid th.endDate.sorting_asc { width: 100px; }
#StopSaleGrid th.pList.sorting_asc { width: 50px; }
#StopSaleGrid th.appType.sorting_asc { width: 100px; }
#StopSaleGrid th.loc.sorting_asc { width: 50px; }
#StopSaleGrid th.allot.sorting_asc { width: 50px; }

.verColumn { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); white-space: nowrap; line-height: 1; height: 50px; text-align:center;}

.GreenCell { font-family: Tahoma; font-size: 10pt; background-color: #33FF88; color: Black; /*border-top: solid 1px #000000; border-right: solid 1px #000000; */text-align: center; }
.RedCell { font-family: Tahoma; font-size: 10pt; color: White; background-color: #FF9F66; /*border-top: solid 1px #000000; border-right: solid 1px #000000; */text-align: center; }
.firstCell { /*border-left: solid 1px #000000; border-top: solid 1px #000000; border-right: solid 1px #000000; */ white-space: nowrap; }
.cell { /*border-top: solid 1px #000000; border-right: solid 1px #000000;*/ }
.buttomfirstcell { /*border: solid 1px #000000; */}
.buttomcell { /*border-top: solid 1px #000000; border-right: solid 1px #000000; border-bottom: solid 1px #000000; */}
.topBorder td { border-top: solid 1px #333;}
