﻿#listIntegerSelects
{
    font-family: Tahoma;
    font-size: 8pt;
    overflow: scroll;
}

.clIntegerSelect
{
    font-family: Tahoma;
    font-size: 8pt;
}

#tvIntList
{
    text-align:left;
    overflow: scroll;
}

