﻿<script type="text/javascript">
  function showHideEBAgencyFunc(){
    if ($('#showHideEBAgencyImg').attr('onOff')=='On'){
      $('#showHideEBAgencyImg').attr('onOff','Off');
      $('#showHideEBAgencyImg').attr('src','Images/infoOpen.gif');
      $('#showHideEBAgency').hide();
    }
    else {
      $('#showHideEBAgencyImg').attr('onOff','On');
      $('#showHideEBAgencyImg').attr('src','Images/infoClose.gif');
      $('#showHideEBAgency').show();
    }
  }

  function showHideAgencyComFunc(){
    if ($('#showHideAgencyComImg').attr('onOff')=='On'){
      $('#showHideAgencyComImg').attr('onOff','Off');
      $('#showHideAgencyComImg').attr('src','Images/infoOpen.gif');
      $('#showHideAgencyCom').hide();
    }
    else {
      $('#showHideAgencyComImg').attr('onOff','On');
      $('#showHideAgencyComImg').attr('src','Images/infoClose.gif');
      $('#showHideAgencyCom').show();
    }
  }
</script>

<div id="makeResV2Header" class="makeResV2Header" style="height: 175px;">
  <div class="ui-helper-clearfix ui-corner-all resMainCss">
    <div class="agencyName">
      <strong>{["MakeReservation","resMainAgency"]}: </strong>
      <span>{"AgencyNameL"}</span>
    </div>
    <div class="agencyUserName">
      <strong>{["MakeReservation","resMainAgencyuser"]}: </strong>
      <span>{"AgencyUserNameL"}</span>
    </div>
  </div>
  <br />
  <table style="height: 104px" class="ui-widget tablePayment">
    <tr>
      <td colspan="3">
        {["ResView","lblCurrency"]}:&nbsp;&nbsp;<span class="boldItalic">{"SaleCur"}</span>
      </td>
    </tr>
    <tr>
      <td style="width: 33%;">
        {["MakeReservation","resPaymentSalePrice"]}:&nbsp;&nbsp;<span class="boldItalic">{"SalePrice"}</span>
      </td>
      <td style="width: 33%;">
        {["MakeReservation","resPaymentPassEB"]}:&nbsp;&nbsp;<span class="boldItalic">{"EBPas"}</span>
      </td>
      <td style="width: 33%;">
        {["MakeReservation","resPaymentPassAmountToPay"]}:&nbsp;&nbsp;<span class="boldItalic">{"PasPayable"}</span>
      </td>
    </tr>
    <tr>
      <td style="width: 33%;">
        {["MakeReservation","resPaymentSupDis"]}:&nbsp;&nbsp;<span class="boldItalic">{"Discount"}</span>
      </td>
      <td style="width: 33%;">
        <img id="showHideEBAgencyImg" alt="" src="Images/infoOpen.gif" onOff="Off" onclick="showHideEBAgencyFunc();" />&nbsp;{["MakeReservation","resPaymentAgencyEB"]}:&nbsp;&nbsp;<span id="showHideEBAgency" class="boldItalic" style="display:none;">{"EBAgency"}</span>
      </td>
      <td style="width: 33%;">
        <img id="showHideAgencyComImg" alt="" src="Images/infoOpen.gif" onOff="Off" onclick="showHideAgencyComFunc();"/>&nbsp;{["MakeReservation","resPaymentAgencyCom"]}:&nbsp;&nbsp;<span id="showHideAgencyCom" class="boldItalic" style="display:none;">{"AgencyCom"}</span>
      </td>
    </tr>
    <tr>
      <td style="width: 33%;">
        &nbsp;
      </td>
      <td style="width: 33%;">
        &nbsp;
      </td>
      <td style="width: 33%;">
        {["MakeReservation","resPaymentBalance"]}:&nbsp;&nbsp;<span class="boldItalic">{"PasBalance"}</span>
      </td>
    </tr>
  </table>
</div>