.bodyDiv { width: 650px; font-family: Tahoma; font-size: 10pt; }
.mainDiv { width: 650px; }
.logoDiv { width: 100%; height: 138px; position: relative; border-bottom: solid 1px #000; }
.oprLogoDiv { width: 150px; height: 135px; float: left; }
.oprLogoDiv img { bottom: 25px; position: absolute; }
.agencyLogoDiv { width: 500px; height: 135px; float: right; }
.agencyImgDiv { width: 245px; float: left; text-align: right; font-family: Tahoma; font-size: 9pt; }
.agencyInfoDiv { width: 245px; height: 100%; float: right; position: relative; font-family: Tahoma; font-size: 9pt; }
.agencyInfoDiv span { bottom: 3px; left: 5px; position: absolute; }
.dataDiv { width: 100%; border: solid 1px #000; font-family: Tahoma; }
.font8pt { font-size: 8pt; }
.font8ptBold { font-size: 8pt; font-weight: bold; }
.font9pt { font-size: 9pt; }
.font9ptBold { font-size: 9pt; font-weight: bold; }
.font10pt { font-size: 10pt; }
.font10ptBold { font-size: 10pt; font-weight: bold; }
.font10ptItalic { font-size: 10pt; font-style: italic; }
.font10ptBoldItalic { font-size: 10pt; font-weight: bold; font-style: italic; }
.font11ptFont { font-size: 11pt; }
.font11ptBold { font-size: 11pt; font-weight: bold; }
.font11ptItalic { font-size: 11pt; font-style: italic; }
.font11ptBoldItalic { font-size: 11pt; font-weight: bold; font-style: italic; }
.hotelInfo { width: 100%; }
.noteInput { border: solid 1px #c8c8c8; width: 90%; }
.clearDiv { clear: both; border-bottom: solid 1pt #000; }