﻿<script type="text/javascript">
  function onEditExit(t){
  isNameSurnameString(t.id);
  if (t.id.toString().indexOf('iSurname')>=0) {
  onSurnameExit(t.id);
  }
  else {
  onNameExit(t.id);
  }
  }

</script>

<div class="resCustGridCss" width="900px;">
  {loop
  <div style="height: auto;" class="ui-widget ui-widget-content ui-corner-all">
    <br />
    <div style="clear:both;">
      <div  style="width: 125px; text-align:right; float:left;">
        <span id='iSeqNo[]' style='font-weight: bold;'>{"SeqNo"}</span>.
      </div>
      <div style="width:575px; float:left;">
        <div>
          <div style="float:left; width:30px; text-align:center;{"searchCustVisible"}">
            <img onclick='searchCust({[]});' alt='[{"MakeReservation","searchCustLabel"}]' title='[{"MakeReservation","searchCustLabel"}]' src="Images/search16.png" />
          </div>
          <div style="float:left; width:30px; text-align:center;">
            <img onclick='showCustAddress({[]});' alt='[{"MakeReservation","lblCustomerAddress"}]' title='[{"MakeReservation","lblCustomerAddress"}]' src="Images/address.gif" />
          </div>
          <div style="float:left; width: 500px; text-align: left; margin-top: 3px;">
            &nbsp;<span style="font-weight: bold; text-decoration: underline; cursor: pointer; " onclick='showSSRC({[]});' >[{"MakeReservation","lblSpecialServiceReqCode"}]</span>
          </div>
        </div>
      </div>
    </div>
    <div style="clear:both;">
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        <strong>[{"MakeReservation","resCustTitle"}] :</strong>
        <div style="width: 99%; float:left; text-align:left;">
          <select id='iTitle[]' style="width: 80px;" tabindex="[]01">{"Title"}</select>
        </div>
      </div>
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        [{"CustomerDetail","lblPassIssueDate"}] :

        <div style="width: 99%; float:left; text-align:left;">
          <input id='iPassIssueDate[]' type='text' maxLength='10' value='{"PassIssueDate"}' class='formatDate' tabindex="[]08" />&nbsp;({"dateFormatRegion"})
        </div>
      </div>
      <div style="clear:both; height: 0px;">&nbsp;</div>
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        <strong>[{"MakeReservation","resCustSurname"}] :</strong>
        <div style="width: 99%; float:left; text-align:left;">
          <input id='iSurname[]' type='text' maxLength='30' value='{"Surname"}' onkeypress="return isNameSurnameChar(event);" onChange="onEditExit(this);" tabindex="[]02" style="width: 75%;" />
        </div>
      </div>
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        [{"CustomerDetail","lblPassExpDate"}] :
        <div style="width: 99%; float: left; text-align: left;">
          <input id='iPassExpDate[]' type='text' maxlength='10' value='{"PassExpDate"}' class='formatDate' tabindex="[]09" />&nbsp;({"dateFormatRegion"})
        </div>
      </div>
    </div>
    <div style="clear:both;">
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        [{"MakeReservation","resCustName"}] :

        <div style="width: 99%; float:left; text-align:left;">
          <input id='iName[]' type='text' maxLength='30' value='{"Name"}' onkeypress="return isNameSurnameChar(event);" onChange="onEditExit(this);" tabindex="[]03" style="width: 75%;" />
        </div>
      </div>

      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        [{"CustomerInfo","lblPassGiven"}] :

        <div style="width: 99%; float:left; text-align:left;">
          <input id='iPassGiven[]' type='text' maxLength='30' value='{"PassGiven"}' tabindex="[]10" />
        </div>
      </div>
    </div>
    <div style="clear:both;">
      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        [{"MakeReservation","resCustBirthDate"}] :

        <div style="width: 99%; float:left; text-align:left;">
          <input id='iBirthDay[]' type='text' maxLength='10' onBlur='return SetAge([], "{"ResDate"}", "{"dateFormat"}")' value='{"BirtDay"}' class='formatDate' tabindex="[]04" />&nbsp;({"dateFormatRegion"})
        </div>
      </div>

      <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
        <strong>[{"MakeReservation","resCustLeader"}] :</strong>

        <div style="width: 99%; float:left; text-align:left;">
          <input id='iLeader[]' {"LeaderCheck"} type='radio' name='Leader' value='{[]}' tabindex="[]11" onclick="leaderChange([]);" />
        </div>
      </div>

      <div style="clear:both;">
        <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
          [{"MakeReservation","resCustPIN"}] :

          <div style="width: 99%; float:left; text-align:left;">
            <input id='iIDNo[]' type='text' maxLength='20' value='{"IDNo"}' tabindex="[]05" />
          </div>
        </div>

        <div style="width: 125px; text-align:left; float:left; margin-top: 5px;">
          [{"MakeReservation","resCustPhone"}] :

          <div style="width: 99%; float:left; text-align:left;">
            <input id='iPhone[]' type='text' maxLength='15' value='{"Phone"}' tabindex="[]12" />
          </div>
        </div>
      </div>
      <div style="clear:both;">
        <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
          [{"CustomerInfo","lblPassSerieNo"}] :

          <div style="width: 99%; float:left; text-align:left;">            
            <input id='iPassNo[]' type='text' maxLength='10' value='{"PassNo"}' tabindex="[]07" />
          </div>
        </div>

        <div style="width: 425px; text-align:left; float:left; margin-top: 5px;">
          [{"MakeReservation","resCustCitizenship"}] :

          <div style="width: 99%; float:left; text-align:left;">
            <select id='iNationality[]' style="width: 100%;" tabindex="[]13">{"Nationality"}</select>
          </div>
        </div>
      </div>
    </div>
    <div id="custInfo[]" class="ui-helper-clearfix" style="width: 100%; text-align: center;{}">
      {"@import:ResCustInfo@"}
    </div>
    loop}
  </div>