﻿@import "../Common/Header.css";
@import "../Common/Footer.css";
* 
{
	margin: 0;
}

html 
{
	height: 100%;
}

body 
{
	font-family: Tahoma;
	font-size: 8pt;
	color : #143d8d;
	background-color:#FFFFFF;
	height: 100%;
}

.border
{
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #a6cbe5;
	border-right:1px solid #a6cbe5;
}

#genel 
{
	min-height: 550px;
	height: auto !important;
	height: 100%;
	width : 100%;
	margin: 0 auto -50px; /* footer yukseklik degeri ile ayn olmali */
}

#workArea
{		
	height: 100%;	
	min-height: 425px; 
	width : 100%;
	text-align:center;
	text-align:-moz-center;
}

#divWorkAreaHeader
{
	width:100%;
	background:#c7ebf8 url('../Images/default/workAreaHeaderBottom.gif') repeat-x right bottom;
	float:left;
	margin:0;
	margin-bottom:-2px;
	text-align:center;	
}

* html #divWorkAreaHeader 
{
	margin-top:0px;
	margin-bottom:32px;
}

#divWorkArea:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#divWorkArea {
	display: inline-block;	
	min-height: 50px;	
	height: auto !important;
}

* html #divWorkArea {
	height: 100%;
}

.SearchAreaInside
{
	width:1024px;
	margin-top:5px;
	margin-bottom:15px;
	vertical-align:middle;		
	text-align:center;
	text-align:-moz-center;
}

.tampon 
{
	height: 50px; /* .tampon ile altAlan yuksekligi ayni olmali */
}

#SearchCriteriaArea
{
	clear:both;
	text-align:center;	
	text-align:-moz-center;
}

.GridBaslikAlt
{
	background:#00a6dd url("../Images/default/grid_Header_Bottom.gif") repeat-x right top;
	padding-top:10px;
	color:#fff;
	border:1px solid #51d1fb;
	border-bottom:1px solid #204792;
	border-top:1px solid #284e97;
}

.GridAltSatir
{
	background:#00a6dd url("../Images/default/grid_Header_Bottom.gif") repeat-x right top;
	padding-top:10px;
	color:#143d8d;	
	border:1px solid #51d1fb;
	border-bottom:1px solid #204792;
}

#divShortSearch
{
	width:100%;
	background-color: White;
}

.ButtonStyle
{
    color: #FFFFFF;
    font-size: 9pt;
    font-family: Tahoma;
    vertical-align: middle;
    border: solid 1px #FFFFFF;
    background: #00a6dd url('../Images/default/bt_kare.gif') repeat-x 50% top;
    padding: 1px 1px 1px 1px;
    cursor: pointer;
    cursor: hand;
	height: 22px;
}
		
.ButtonStyle:hover
{
    color: #00a6dd;
    font-size: 9pt;
    font-family: Tahoma;
    vertical-align: middle;
    border: solid 1px #00a6dd;
    background: #FFFFFF url('../Images/default/bt_kare_hover.gif' ) top;
    background-repeat: repeat-x;
    padding: 1px 1px 1px 1px;
    cursor: pointer;
    cursor: hand;
}

.ButtonStyle:disabled
{
    color: #6d6d6d;
    font-size: 9pt;
    font-family: Tahoma;
    vertical-align: middle;
    border: solid 1px #6d6d6d;
    background: #d7d7d7 url('../Images/default/bt_kare_disabled.gif' ) top;
    background-repeat: repeat-x;
    padding: 1px 1px 1px 1px;
    cursor: pointer;
    cursor: hand;
}