﻿{loop
<div class="clearDiv"></div>
  <div id="RefNo_{"RefNo"}" class="hotelInfo">
       <div class="noPrint"><img alt="Remove list" title="Remove list" src="Images/cancel.png" onclick="removeList({"RefNo"});" /></div><br />
       <span class="font11ptBold">{"DepCityName"} - {"ArrCityName"} - {"DepCityName"}</span>
       <br />
       <span class="font9pt">[[lblHotel]] : </span><span class="font10ptBoldItalic">{"HotelName"} ( {"HotCat"} )</span>&nbsp; <span class="font10ptItalic">( {"HotLocationName"} )</span>
       <br />
       <span class="font8ptItalic">{"InfoWeb"}</span>
       <br />
       <span class="font9pt">[[lblCheckIn]] : </span><span class="font10ptItalic">{"CheckIn"|"date"}</span>&nbsp;
       <span class="font9pt">[[lblDuration]] : </span><span class="font10ptItalic">{"Night"}</span>
       <br />
       <span class="font9pt">[[lblRoomType]] : </span><span class="font10ptItalic">{"RoomName"}</span>&nbsp;&nbsp;
       <span class="font9pt">[[lblBoardType]] : </span><span class="font10ptItalic">{"BoardName"}</span>
       <br />
       <span class="font9pt">[[lblAccom]] : </span><span class="font10ptItalic">{"AccomFullName"}</span>
       <br />
       <div style="{"visableTransportType"}">
         <span class="font9pt">[[lblTransport]]</span> : <span class="font10ptItalic">[[lblTransportType]]</span>
         <br />
       </div>
       <span class="font11ptFont">[[lblPrice]] : </span><span class="font11ptBoldItalic">{"LastPrice"|"#,###.00"} {"SaleCur"}</span>&nbsp;
	   <span class="font11ptfont" style="color:#FF0000;">[[lblDateOfValidity]] -> {"DateOfValidity"}</span>
       <br />
       <span class="font9pt">[[lblComment]] : </span>
       <br />
       <input type="text" class="noteInput" />
   </div>   
loop}