﻿body { width: 1000px; height: auto; font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; font-size: 10pt; text-align: center; margin: 0 auto; position: relative; display: inline-block; }

.mainPage { width: 1000px; text-align: left; margin: auto; }

.hotelInformationHeader { width: 97%; height: 35px; vertical-align: middle; position: relative; }
    .hotelInformationHeader .hotelName { font-size: 14pt; position: relative; font-weight: bold; top: 6px; left: 20px; }

.hotelInformation { width: 100%; }
    .hotelInformation .hotelDiv { width: 69%; float: left; }
        .hotelInformation .hotelDiv .hotelPress { text-align: left; }
        .hotelInformation .hotelDiv .hotelLocation { text-align: left; }
        .hotelInformation .hotelDiv .hotelFacility { text-align: left; }
        .hotelInformation .hotelDiv .hotelRoomFacility { text-align: left; }
        .hotelInformation .hotelDiv .hotelWebPage { text-align: left; }
        .hotelInformation .hotelDiv .serviceList { text-align: left; }
    .hotelInformation .imageDiv { width: 29%; float: left; text-align: center; }
        .hotelInformation .imageDiv img { width: 99%; }

.priceDetails { width: 100%; }
    .priceDetails .flightsInfo { width: 99%; }
        .priceDetails .flightsInfo table { width: 100%; border-collapse: collapse; border-spacing: 0px; border-style: solid; border-width: 1px; }
        .priceDetails .flightsInfo .flightsInfoHeader { font-weight: bold; }

    .priceDetails .roomsPrice { width: 99%; }
        .priceDetails .roomsPrice table { width: 100%; border-collapse: collapse; border-spacing: 0px; border-style: solid; border-width: 1px; }
        .priceDetails .roomsPrice .roomsPriceHeader { font-weight: bold; }
