﻿body { /*    font-size: 62.5%;*/ }

table { border-collapse: collapse; }

.tdHeader { border-bottom: solid 1px #BCBCBC; }
.tdFirst { border-left: solid 1px #BCBCBC; border-bottom: solid 1px #BCBCBC; border-right: solid 1px #BCBCBC; }
.tdSeconds { border-bottom: solid 1px #BCBCBC; border-right: solid 1px #BCBCBC; }

input.text { margin-bottom: 12px; width: 95%; padding: .4em; }
fieldset { padding: 0; border: 0; margin-top: 25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; }

#agencyInfoDiv { width: 650px; }
#agencyInfoDiv table { width: 100%; }
#agencyInfoDiv table td { height: 22px; }
#agencyInfoDiv table .leftTd { width: 150px; text-align: right; padding-right: 5px; }

#agencyEdit td { height: 22px; }
#agencyEdit .leftTd { width: 100px; text-align: right; padding-right: 5px; }
