
/* CSS Document */
html { height: 100%; }
.wrapper { text-align: center; position: absolute; overflow: hidden; display: table-cell; height: 100%; width: 100%; left: 0; top: 0; }
.back { display: block; height: 100%; width: 100%; padding: 0; margin: 0; }
.background { background: url(Arka_Plan.jpg) no-repeat 50% 10%; bottom: -20px; background-size: cover; position: absolute; width: 110%; left: -5%; top: -5%; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; height: 100%; background-repeat: no-repeat; background-position: center; }

.loginPanel { position: absolute; top: 50%; left: 50%; margin-top: -300px; margin-left: -400px; width: 800px; height: 600px; }

.logo { width: 357px; height: 125px; background-image: url(tv_logo.png); background-repeat: no-repeat; background-position: center; position: absolute; top: 0; left: 0; }

.loginPanel .inputArea { position: absolute; top: 50%; left: 50%; margin-top: -155px; margin-left: -186px; width: 370px; text-align: center; background-color: rgba(255,255,255,0.2); border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 0 45px; border: 1px solid rgba(255, 255, 255, 0.3); }

    .loginPanel .inputArea .header { position: relative; font-family: 'Lucida Sans'; color: #FFF; font-size: 18pt; top: 20px; text-shadow: 1px 1px 1px #c2bdb7; filter: progid:DXImageTransform.Microsoft.Shadow(color=#c2bdb7,direction=45); margin-bottom: 10px; display: block; }

    .loginPanel .inputArea .agency { font-family: 'Lucida Sans'; font-size: 18pt; text-align: left; }

        .loginPanel .inputArea .agency input { font-family: 'Lucida Sans'; width: 94%; height: 40px; border: solid 1px #fff; color: #FFF; background-color: #ff9933; font-size: 14pt; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -webkit-box-shadow: inset 0px 0px 3px 1px #E68D2D; -moz-box-shadow: inset 0px 0px 3px 1px rgba(230,141,45,1); box-shadow: inset 0px 0px 3px 1px #E68D2D; padding: 0 10px; outline: none; text-shadow: 1px 1px 2px rgba(230,141,45, 1); filter: progid:DXImageTransform.Microsoft.Shadow(color=#e68d2d,direction=45); font-weight: bold; text-transform: lowercase; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { background-color: #ff9933 !important; background-image: none; color: #FFF !important; }
input[placeholder], [placeholder], *[placeholder] { color: #fff !important; }
::-webkit-input-placeholder { color: #fff; }

:-moz-placeholder { /* Firefox 18- */ color: #fff; }

::-moz-placeholder { /* Firefox 19+ */ color: #fff; }

:-ms-input-placeholder { color: #fff; }

.loginPanel .inputArea .agency span { font-family: 'Lucida Sans'; position: relative; margin-left: 5px; font-size: 14pt; color: #808080; }

.loginPanel .inputArea .login { }
.user, .password { padding-left: 40px !important; width: 86% !important; }
.user { background: #ff9933 url(icon.png) 8px 8px no-repeat; }
.password { background: #ff9933 url(icon.png) 8px -25px no-repeat; }

.loginPanel .inputArea .login .loginBtn { font-family: 'Lucida Sans'; width: 94%; height: 40px; border: solid 1px #fff; color: #FFF; background-color: #F93; font-size: 18pt; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: inset 0px 0px 3px 1px #E68D2D; -moz-box-shadow: inset 0px 0px 3px 1px rgba(230,141,45,1); box-shadow: inset 0px 0px 3px 1px #E68D2D; padding: 0 10px; outline: none; text-shadow: 0px 3px 10px #c26905; filter: progid:DXImageTransform.Microsoft.Shadow(color=#c26905,direction=45); font-weight: bold; line-height: 40px; margin-top: 20px; margin-bottom: 30px; }
.loginBtn { cursor: pointer; }
    .loginBtn a { color: #FFF !important; font-style: normal !important; text-decoration: none; }

.loginPanel .PoweredBy { position: absolute; text-align: right; font-weight: bold; font-size: 9px; color: #009ccf; width: 372px; bottom: -40px; right: 0px; }
