﻿<ul style="cOList">
  {{#cODetail}}    
  <li id="{{offerGUID}}" class="cODetailList">
      <span class="cOCheckIn">&nbsp;&nbsp;&nbsp;&nbsp;{{CheckIn}} {{Night}}</span><br />
      <span class="cOLocations">{{DepCityName}} - {{ArrCityName}} - {{DepCityName}}</span><br />
      <span class="cOLocations">{{CountryName}}, {{HotelLocationName}}</span><br />
      <span class="cOHotel">{{HotelName}} {{HotelCategory}}</span><br />
      <span class="cORoomAccomBoard">{{RoomName}}, {{FullAccomName}}, {{Board}}</span><br />
      <span class="cOPrice">{{Price}} {{Curr}}</span><br />
      <span class="cOCreated">{{lblCreated}}: {{CreateTime}}</span>
      <input type="hidden" value="{{offerGUID}}"/>
      <img id="remove_{{offerGUID}}" class="cORemoveDetail" onclick="removeOfferListDetail('{{offerGUID}}')" src="removeOffer.png" alt="" />      
      <img id="img_{{offerGUID}}" class="cOAddDetail" onclick="selectOffer('{{offerGUID}}')" src="addToClientOffer1.png" alt="" />
  </li>
  {{/cODetail}}
</ul>
<div class="resetList">
    <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" onclick="resetList()" value="{{btnReview}}" />    
    <input type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" onclick="clearList()" value="{{btnClear}}" />    
</div>