﻿{{#offerList}}
<div style="clear: both; height: 5px;">
</div>
<div id="RefNo_{{RefNo}}" style="width: 98%; padding: 5px 10px 5px 10px; border: solid 1px #c8c8c8; position: relative; font-size: 12pt;">
    <div class="noPrint">
      <img alt="Remove list" title="Remove list" src="removeToClientOffer.png" onclick="removeClientDetail('{{offerGUID}}')" class="noPrint" style="width: 25px; height: 25px; cursor: pointer; position: absolute; top: 5px; right: 5px;" />
    </div>
    <span style="font-size: 11pt; font-weight: bold;">{{DepCityName}} - {{ArrCityName}} - {{DepCityName}}</span>
    <br />
    <span style="font-size: 11pt;">{{lblHotel}} : </span><span style="font-size: 10pt; font-weight: bold; font-style: italic;">{{HotelName}} ( {{HotCat}} )</span>&nbsp; <span style="font-size: 10pt; font-weight: bold; font-style: italic;">( {{HotLocationName}} )</span>
    <br />
    <span style="font-size: 9pt; font-style: italic;"><a href="{{InfoWeb}}" target="_blank">{{InfoWeb}}</a></span>
    <br />
    <span style="font-size: 10pt;">{{lblCheckIn}} : </span><span style="font-size: 10pt; font-style: italic;">{{CheckIn}}</span>&nbsp;
       <span style="font-size: 10pt;">{{lblDuration}} : </span><span style="font-size: 10pt; font-style: italic;">{{Night}}</span>
    <br />
    <span style="font-size: 10pt;">{{lblRoomType}} : </span><span style="font-size: 10pt; font-style: italic;">{{RoomName}}</span>&nbsp;&nbsp;
       <span style="font-size: 10pt;">{{lblBoardType}} : </span><span style="font-size: 10pt; font-style: italic;">{{BoardName}}</span>
    <br />
    <span style="font-size: 9pt;">{{lblAccom}} : </span><span style="font-size: 10pt; font-style: italic;">{{AccomName}}; {{AccomFullName}}</span>
    <br />
    <span style="font-size: 11pt; font-weight: bold;">{{lblPrice}} : </span><span style="font-size: 11pt; font-weight:bold; ">{{LastPrice}} {{SaleCur}}</span>&nbsp;(<span style="font-size:11pt;">{{Description}}</span>)
    <br />
    <span style="font-size: 10pt;">{{lblCreated}}: </span><span style="font-size: 10pt; font-style: italic;">{{CreateTime}}</span>    
    <br />
    <span style="font-size: 10pt;">{{lblComment}} : </span>
    <br />
    <input type="text" id="note{{RefNo}}" name="note{{RefNo}}" style="border: solid 1px #c8c8c8; width: 90%;" />
</div>
{{/offerList}}