﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FlyInfo.aspx.cs" Inherits="Controls_FlyInfo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        <%= GetGlobalResourceObject("PageTitle", "FlyInfo")%></title>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>
