﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RSView_Flight.aspx.cs" Inherits="Controls_RSView_Flight"
    EnableEventValidation="false" %>

<%@ Register Assembly="RJS.Web.WebControl.PopCalendar.Net.2008" Namespace="RJS.Web.WebControl"
    TagPrefix="rjs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <!-- no cache headers -->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <!-- end no cache headers -->
  <!--[if gt IE 10]>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <![endif]-->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title><%= GetGlobalResourceObject("PageTitle", "RSViewFlight") %></title>
    <link rel="shortcut icon" href="http://www.sanbilgisayar.com/img/tv/favicon.ico" />

    <script src="../Scripts/jquery.min.js" type="text/javascript"></script>

    <script src="../Scripts/jquery-ui.custom.min.js" type="text/javascript"></script>

    <script src="../Scripts/jquery.json.js" type="text/javascript"></script>

    <script src="../Scripts/jquery.blockUI.js" type="text/javascript"></script>

    <script src="../Scripts/jquery.query-2.1.7.js" type="text/javascript"></script>

    <script src="../Scripts/jquery.dateFormat-1.0.js" type="text/javascript"></script>

    <link href="../CSS/jquery-ui.css" rel="stylesheet" type="text/css" />
    
    <link href="../CSS/ServiceEditView.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        </style>

    <script language="javascript" type="text/javascript">

        $.blockUI.defaults.message = '<h1><%= GetGlobalResourceObject("LibraryResource", "lblPleaseWait") %></h1>'; $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

        function onLoad() {
            $.query = $.query.load(location.href);
            var resNo = $.query.get('ResNo');
            var recID = $.query.get('RecID');
            $.ajax({
                type: "POST",
                url: "../Services/ReservationServices.asmx/getResService",
                data: '{"RecID":"' + recID + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(msg) {
                    var resService = $.json.decode(msg.d);                    
                    $("#iFlightDate").html(resService.BegDate);
                    if (resService.ServiceName != null && resService.ServiceName != '') {
                        var serviceName = resService.ServiceName;
                        var detailStartIndex = serviceName.indexOf('(');
                        serviceName = serviceName.substring(0, detailStartIndex);
                        $("#iFlight").html(serviceName);
                    } else
                        $("#iFlight").html(resService.Service);
                    $("#sDepLocation").html(resService.DepLocationNameL);
                    $("#sArrLocation").html(resService.ArrLocationNameL);
                    $("#iClass").html(resService.FlgClass);
                    $("#iAdult").html(resService.Adult);
                    $("#iChild").html(resService.Child);
                    $("#iSeat").html(resService.Unit);
                    if (resService.StatConfNameL != '')
                        $("#sConfirmation").html(resService.StatConfNameL);
                    else $("#divConfirmation").hide();
                    $("#sStatus").html(resService.StatSerNameL);
                    $("#iPNR").html(resService.PnrNo);
                    var salePrice = resService.IncPack == 'Y' ? '<%= GetGlobalResourceObject("LibraryResource", "InPackage").ToString() %>' : resService.SalePrice + ' ' + resService.SaleCur;
                    $("#iSalePrice").html(salePrice);
                },
                error: function(xhr, msg, e) {
                    if (xhr.responseText != '' && xhr.responseText != '{"d":null}')
                        alert(xhr.responseText);
                },
                statusCode: {
                    408: function() {
                        logout();
                    }
                }
            });
        }
    </script>

</head>
<body onload="onLoad()">
    <form id="formRsFlight" runat="server">
    <div id="divRsFlight">
        <div>
            <table>
                <tr>
                    <td class="leftCell">
                        <div id="divRoute" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewRoute") %></span>
                            </div>
                            <div id="divLocations">
                                <b><span id="sDepLocation"></span>&nbsp;->&nbsp; <span id="sArrLocation"></span>
                                </b>
                            </div>
                        </div>
                        <div id="divFlightDate" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewFlightDate") %></span>
                            </div>
                            <div class="RightDiv">
                                <b><span id="iFlightDate"></span></b>
                            </div>
                        </div>
                        <div id="divFlightClass" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewFlight") %></span>
                            </div>
                            <div class="divAdultChild">
                                <b><span id="iFlight"></span></b>
                            </div>
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewClass") %></span>
                            </div>
                            <div class="divAdultChild">
                                <b><span id="iClass"></span></b>
                            </div>
                        </div>
                        <div id="divAdultChild" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewAdult") %></span>
                            </div>
                            <div class="divAdultChild">
                                <b><span id="iAdult"></span></b>
                            </div>
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewChild") %></span>
                            </div>
                            <div class="divAdultChild">
                                <b><span id="iChild"></span></b>
                            </div>
                        </div>
                        <div id="divSeat" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewSeat") %></span>
                            </div>
                            <div class="RightDiv">
                                <b><span id="iSeat"></span></b>
                            </div>
                        </div>
                        <%--<div id="divSupplier" class="divs">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewSupplier") %></span>
                            </div>
                            <div class="RightDiv">
                                <b><span id="iSupplier"></span></b>
                            </div>
                        </div>
                        <div id="divSupplierNote" class="divNotes">
                            <div class="LeftDiv">
                                <span class="label">
                                    <%= GetGlobalResourceObject("Controls", "viewSupplierNote") %></span>
                            </div>
                            <div class="RightDiv">
                                <b><span id="iSupplierNote"></span></b>
                            </div>
                        </div>--%>
                    </td>
                    <td class="rightCell">
                        <div id="divStatus">
                            <span class="label">
                                <%= GetGlobalResourceObject("Controls", "viewStatus") %></span><br />
                            <b><span id="sStatus"></span></b>
                        </div>
                        <br />
                        <div id="divConfirmation">
                            <span class="label">
                                <%= GetGlobalResourceObject("Controls", "viewConfirmation") %></span>
                            <br />
                            <b><span id="sConfirmation"></span></b>
                        </div>
                        <br />
                        <div id="divPNR">
                            <span class="label">
                                <%= GetGlobalResourceObject("Controls", "viewPNR") %></span>
                            <br />
                            <b><span id="iPNR"></span></b>
                        </div>
                        <br />
                        <div id="divSalePrice">
                            <span class="label">
                                <%= GetGlobalResourceObject("Controls", "viewSalePrice") %></span>
                            <br />
                            <span id="iSalePrice" class="salePrice"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</body>
</html>
